Apple05.json
{
  "name": "Apple",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "f014dff7-245e-4af1-b327-7c3150a82594",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        -176
      ],
      "webhookId": "travel-quotation-chat"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a travel quotation assistant. Analyze the user's travel request and create a professional summary.\n\nUser input: {{ $json.chatInput }}\n\nExtract and analyze:\n1. Destination country\n2. Arrival date (if not mentioned, use {{ $now.plus(15, 'days').toFormat('yyyy-MM-dd') }})\n3. Duration: If not mentioned, default to 7 days, 6 nights\n4. Calculate departure date: arrival_date + duration\n5. Number of adults and children\n6. Cities/places to visit\n7. Meal plan: BB (bed & breakfast) if not mentioned\n8. Accommodation: Assume mid-range budget with 4-star hotel\n\nFormat your output EXACTLY as:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. Mid-range budget with 4-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including [list cities].\"\n\nExample: \"Customer requesting a Sri Lanka multi-city tour for 7 days, 6 nights from December 12 to December 18, 2025, for 3 adults and 2 children. Mid-range budget with 4-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, Galle, and Yala.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional travel quotation assistant. Create concise, formatted summaries of customer travel requests. Always use the exact format specified and calculate dates accurately."
        }
      },
      "id": "4ea35ec9-ff18-42a8-967a-ad2cd561a33e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -592,
        -176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b67ad63a-416d-49c2-8b1c-ce52c3498647",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -592,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent output text\nconst inputData = $input.first().json;\nconst text = inputData.output || '';\n\n// Parse the text to extract information\nlet country = 'Sri Lanka';\nlet arrivalDate = '';\nlet adult = 0;\nlet children = 0;\nlet places = [];\nlet mealType = 'BB';\n\n// Extract country (e.g., \"Sri Lanka multi-city tour\")\nconst countryMatch = text.match(/requesting a ([^m]+)multi-city tour/i);\nif (countryMatch) {\n  country = countryMatch[1].trim();\n}\n\n// Extract dates (e.g., \"from December 12 to December 18, 2025\")\nconst dateMatch = text.match(/from ([A-Za-z]+ \\d+) to ([A-Za-z]+ \\d+), (\\d{4})/i);\nif (dateMatch) {\n  const monthDay = dateMatch[1]; // e.g., \"December 12\"\n  const year = dateMatch[3];\n  const date = new Date(`${monthDay}, ${year}`);\n  arrivalDate = date.toISOString().split('T')[0];\n}\n\n// If no date found, use today + 15 days as default\nif (!arrivalDate) {\n  const defaultDate = new Date();\n  defaultDate.setDate(defaultDate.getDate() + 15);\n  arrivalDate = defaultDate.toISOString().split('T')[0];\n}\n\n// Extract pax (e.g., \"for 3 adults and 2 children\")\nconst adultMatch = text.match(/(\\d+)\\s+adult/i);\nif (adultMatch) {\n  adult = parseInt(adultMatch[1]);\n}\n\nconst childMatch = text.match(/(\\d+)\\s+child/i);\nif (childMatch) {\n  children = parseInt(childMatch[1]);\n}\n\n// Extract places (e.g., \"including Colombo, Kandy, Galle, and Yala\")\nconst placesMatch = text.match(/including ([^.]+)\\.?$/i);\nif (placesMatch) {\n  const placesStr = placesMatch[1];\n  // Split by comma and 'and', then clean up\n  places = placesStr\n    .split(/,|\\s+and\\s+/)\n    .map(p => p.trim())\n    .filter(p => p.length > 0);\n}\n\n// Extract meal plan\nif (text.toLowerCase().includes('bed & breakfast') || text.toLowerCase().includes('bed and breakfast')) {\n  mealType = 'BB';\n} else if (text.toLowerCase().includes('half board')) {\n  mealType = 'HB';\n} else if (text.toLowerCase().includes('full board')) {\n  mealType = 'FB';\n} else if (text.toLowerCase().includes('room only')) {\n  mealType = 'RO';\n} else if (text.toLowerCase().includes('all inclusive')) {\n  mealType = 'AL';\n}\n\n// Create the formatted output\nconst output = {\n  country_data: {\n    country: country\n  },\n  genaral_data: {\n    arrival_date: arrivalDate,\n    pax: {\n      adult: adult,\n      cwb: children,\n      cnb: 0\n    },\n    market: 1\n  },\n  destination_data: {\n    place: places,\n    meal_type: mealType\n  }\n};\n\nreturn { json: output };"
      },
      "id": "6d4b9f94-7e71-4a71-b579-b6530f94eaaa",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -176
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "d1324169-89e6-42c7-8273-50d465faf454",
      "name": "Split Out Places",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = 6; // Default 7 days, 6 nights\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Calculate check-out date (check-in + nights per city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsPerCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: originalData.destination_data.meal_type,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "91c18e08-7ec8-40b1-b7ff-cf065f10cd48",
      "name": "Prepare for Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -336
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet3",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -336
      ],
      "id": "9014369d-dd3b-432d-b34a-23f0f20a8b1f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all hotel data from Google Sheets\nconst hotelItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each hotel and add booking details\nconst results = [];\n\nfor (const hotelItem of hotelItems) {\n  const hotelData = hotelItem.json;\n  const cityName = hotelData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas Hotel ID from the data\n  const { 'Aahaas Hotel ID': removed, ...filteredHotelData } = hotelData;\n  \n  if (cityData) {\n    // Merge hotel data with check-in, check-out, and meal_type\n    results.push({\n      json: {\n        ...filteredHotelData,\n        check_in: cityData.destination_data.check_in,\n        check_out: cityData.destination_data.check_out,\n        meal_type: cityData.destination_data.meal_type\n      }\n    });\n  } else {\n    // If no matching city data, just return filtered hotel data\n    results.push({\n      json: filteredHotelData\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "ac9a21a2-0f82-47dc-bf5a-554c11019c1f",
      "name": "Add Booking Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -336
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Apple Hotel ID",
              "renameField": true,
              "outputFieldName": "hotel_ids"
            },
            {
              "fieldToAggregate": "City",
              "renameField": true,
              "outputFieldName": "city"
            }
          ]
        },
        "options": {}
      },
      "id": "f0471949-650b-4feb-b6dc-62dd484f49c9",
      "name": "Aggregate by City",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all items\nconst items = $input.all();\n\n// Group hotels by city\nconst hotelsByCity = {};\n\nfor (const item of items) {\n  const city = item.json.city;\n  const hotelIds = item.json.hotel_ids || [];\n  \n  if (!hotelsByCity[city]) {\n    hotelsByCity[city] = [];\n  }\n  \n  // Add hotel IDs to the city's list\n  hotelsByCity[city] = hotelsByCity[city].concat(hotelIds);\n}\n\n// Create output with city-wise hotel lists\nconst output = {\n  hotels_by_place: hotelsByCity\n};\n\nreturn { json: output };"
      },
      "id": "efc54dcb-56d7-4460-8ba1-75d3aa78f0fe",
      "name": "Format Hotel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = 6; // Default 7 days, 6 nights\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Calculate check-out date (check-in + nights per city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsPerCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: originalData.destination_data.meal_type,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "1219533c-74b7-4031-b162-4a4260085c57",
      "name": "Prepare for Lookup1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet4",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        -32
      ],
      "id": "42c57076-b42d-4c12-8310-2d7cec517fcd",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all hotel data from Google Sheets\nconst hotelItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup1').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each hotel and add booking details\nconst results = [];\n\nfor (const hotelItem of hotelItems) {\n  const hotelData = hotelItem.json;\n  const cityName = hotelData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas Hotel ID from the data\n  const { 'Aahaas Hotel ID': removed, ...filteredHotelData } = hotelData;\n  \n  if (cityData) {\n    // Merge hotel data with check-in, check-out, and meal_type\n    results.push({\n      json: {\n        ...filteredHotelData,\n        check_in: cityData.destination_data.check_in,\n        check_out: cityData.destination_data.check_out,\n        meal_type: cityData.destination_data.meal_type\n      }\n    });\n  } else {\n    // If no matching city data, just return filtered hotel data\n    results.push({\n      json: filteredHotelData\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "1f4bddf6-e48b-4621-bc16-bac44da1c213",
      "name": "Add Booking Details1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -32
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "f6b677fd-7e49-49ba-a6c1-eb7b5eaf365a",
      "name": "Split Out Places2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        -32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet5",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        256
      ],
      "id": "a8f9c3d1-5e62-4f23-8b94-1a2b3c4d5e6f",
      "name": "Get Activities Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all activity data from Google Sheets\nconst activityItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup Activities').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each activity and add booking details\nconst results = [];\n\nfor (const activityItem of activityItems) {\n  const activityData = activityItem.json;\n  const cityName = activityData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas ID from the data\n  const { 'Aahaas  ID': removedAahaasId, ...filteredActivityData } = activityData;\n  \n  // Check if Apple Hotel ID contains comma (multiple values)\n  const appleHotelId = filteredActivityData['Apple Hotel ID'];\n  const hasMultipleIds = typeof appleHotelId === 'string' && appleHotelId.includes(',');\n  \n  if (hasMultipleIds) {\n    // Split Apple Hotel ID and Must Do Activity by comma\n    const appleIds = appleHotelId.split(',').map(id => id.trim());\n    const activities = filteredActivityData['Must Do Activity'].split(',').map(act => act.trim());\n    \n    // Create separate records for each ID/Activity pair\n    const maxLength = Math.max(appleIds.length, activities.length);\n    \n    for (let i = 0; i < maxLength; i++) {\n      const record = {\n        row_number: filteredActivityData.row_number,\n        City: filteredActivityData.City,\n        'Lifestyle  Category': filteredActivityData['Lifestyle  Category'],\n        'Must Do Activity': activities[i] || activities[0],\n        'Apple Hotel ID': appleIds[i] || appleIds[0]\n      };\n      \n      // Add city data if available\n      if (cityData) {\n        record.check_in = cityData.destination_data.check_in;\n        record.check_out = cityData.destination_data.check_out;\n        record.meal_type = cityData.destination_data.meal_type;\n      }\n      \n      results.push({ json: record });\n    }\n  } else {\n    // Single ID - keep Extra1 and Extra2, add city data\n    if (cityData) {\n      results.push({\n        json: {\n          ...filteredActivityData,\n          check_in: cityData.destination_data.check_in,\n          check_out: cityData.destination_data.check_out,\n          meal_type: cityData.destination_data.meal_type\n        }\n      });\n    } else {\n      // If no matching city data, just return filtered activity data\n      results.push({\n        json: filteredActivityData\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "b9d8e2f1-6c73-4d24-9e85-2b3c4d5e6f7a",
      "name": "Add Booking Details Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = 6; // Default 7 days, 6 nights\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Calculate check-out date (check-in + nights per city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsPerCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: originalData.destination_data.meal_type,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "c0d1e2f3-7d84-4e35-a096-3c4d5e6f7a8b",
      "name": "Prepare for Lookup Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        256
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "d1e2f3a4-8e95-4f46-b1a7-4d5e6f7a8b9c",
      "name": "Split Out Places Activities",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -208,
        256
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out Places2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Places",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Places Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places": {
      "main": [
        [
          {
            "node": "Prepare for Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Booking Details": {
      "main": [
        [
          {
            "node": "Aggregate by City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate by City": {
      "main": [
        [
          {
            "node": "Format Hotel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Add Booking Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places2": {
      "main": [
        [
          {
            "node": "Prepare for Lookup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places Activities": {
      "main": [
        [
          {
            "node": "Prepare for Lookup Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup Activities": {
      "main": [
        [
          {
            "node": "Get Activities Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Activities Sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b0e8c2a-3014-4757-91d4-aceb5b71365d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ba699815eee7a9b7506f6b264ee48edcb7b96a79c851198c7b7acafd2a5489c"
  },
  "id": "wikRw3iB39p5rLSI",
  "tags": []
}