Apple-20251118-520.json
{
  "name": "Workflow02",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5ab7248d-439c-478f-8450-3cf4c4e0d3e8",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2176,
        -240
      ],
      "webhookId": "travel-quotation-chat"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a travel quotation assistant. Analyze the user's travel request and create a professional summary.\n\nUser input: {{ $json.chatInput }}\n\nExtract and analyze:\n1. Destination country\n2. Arrival date (if not mentioned, use {{ $now.plus(15, 'days').toFormat('yyyy-MM-dd') }})\n3. Duration: \n   - If user mentions \"X days\" → calculate nights as X-1 (e.g., 9 days = 8 nights)\n   - If user mentions \"X nights\" → calculate days as X+1\n   - If NOT mentioned → default to 9 days, 8 nights\n4. Calculate departure date: arrival_date + nights\n5. Number of adults and children (if not mentioned, default to 2 adults, 0 children)\n6. Cities/places to visit:\n   - If user mentions specific cities, use those\n   - If NOT mentioned → default to maximum 3 cities\n7. Hotel star category:\n   - Check if user mentioned: \"5 star\", \"5-star\", \"five star\" → use \"5-star\"\n   - Check if user mentioned: \"4 star\", \"4-star\", \"four star\" → use \"4-star\"\n   - Check if user mentioned: \"3 star\", \"3-star\", \"three star\" → use \"3-star\"\n   - Check if user mentioned: \"2 star\", \"2-star\", \"two star\" → use \"2-star\"\n   - Check if user mentioned: \"luxury\" → use \"5-star\"\n   - Check if user mentioned: \"budget\" → use \"3-star\"\n   - If NOT mentioned → default to \"4-star\"\n8. Meal plan: \n   - If user specifies different meal plans for different cities, note each city's meal plan\n   - If user specifies one meal plan for all, apply it to all cities\n   - If NOT mentioned at all → default to \"bed & breakfast\"\n   - Meal plan types: \"half board\" (HB), \"full board\" (FB), \"room only\" (RO), \"all inclusive\" (AL), \"bed & breakfast\" (BB)\n9. Budget: If user mentioned luxury or 5-star use \"luxury budget\", if 3-star or budget use \"budget-friendly\", otherwise use \"mid-range budget\"\n\nIMPORTANT: If different cities have different meal plans, format the output to include meal plan per city:\n\nFormat your output as:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. [Budget type] with [X-star] hotel accommodation. Interested in visiting key cities and attractions: [City1] with [meal plan], [City2] with [meal plan], [City3] with [meal plan].\"\n\nIf all cities have the same meal plan:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. [Budget type] with [X-star] hotel accommodation and [meal plan] meal plan. Interested in visiting key cities and attractions including [list cities].\"\n\nExamples:\n- Different meal plans: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2026, for 3 adults and 2 children. Mid-range budget with 4-star hotel accommodation. Interested in visiting key cities and attractions: Sigiriya with half board, Dambulla with room only, Bentota with full board.\"\n- Same meal plan with 5-star: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2025, for 7 adults and 2 children. Luxury budget with 5-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, Galle, and Yala.\"\n- Budget 3-star: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2025, for 2 adults and 1 children. Budget-friendly with 3-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, and Galle.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional travel quotation assistant. Create concise, formatted summaries of customer travel requests. Always use the exact format specified and calculate dates accurately. Pay special attention to hotel star categories, meal plans mentioned by the user and which cities they apply to."
        }
      },
      "id": "c7df23e6-c0f1-487d-99da-ecb4189368da",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1952,
        -240
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "88733300-3f46-43b4-ae58-2b347fee5cfd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1952,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent output text\nconst inputData = $input.first().json;\nconst text = inputData.output || '';\nconst chatInput = $('When chat message received').first().json.chatInput || '';\n\n// Parse the text to extract information\nlet country = 'Sri Lanka'; // Default fallback\nlet arrivalDate = '';\nlet adult = 2; // Default 2 adults\nlet children = 0; // Default 0 children\nlet places = [];\nlet mealType = 'BB'; // Default\nlet cityMealMap = {}; // Map of city to meal type\nlet hotelStarCategory = 4; // Default 4-star\nlet totalNights = 8; // Default 8 nights (9 days)\n\n// Extract country (e.g., \"Vietnam multi-city tour\" or \"Sri Lanka multi-city tour\")\nconst countryMatch = text.match(/requesting a ([A-Za-z\\s]+?)\\s+multi-city tour/i);\nif (countryMatch) {\n  country = countryMatch[1].trim();\n}\n\n// Extract duration (e.g., \"for 9 days, 8 nights\")\nconst durationMatch = text.match(/for (\\d+) days, (\\d+) nights/i);\nif (durationMatch) {\n  totalNights = parseInt(durationMatch[2]);\n} else {\n  // Check chat input for days/nights\n  const chatDaysMatch = chatInput.match(/(\\d+)\\s+days/i);\n  if (chatDaysMatch) {\n    const days = parseInt(chatDaysMatch[1]);\n    totalNights = days - 1; // X days = X-1 nights\n  }\n  const chatNightsMatch = chatInput.match(/(\\d+)\\s+nights/i);\n  if (chatNightsMatch) {\n    totalNights = parseInt(chatNightsMatch[1]);\n  }\n}\n\n// Extract dates (e.g., \"from December 12 to December 18, 2025\")\nconst dateMatch = text.match(/from ([A-Za-z]+ \\d+) to ([A-Za-z]+ \\d+), (\\d{4})/i);\nif (dateMatch) {\n  const monthDay = dateMatch[1]; // e.g., \"December 12\"\n  const year = dateMatch[3];\n  const date = new Date(`${monthDay}, ${year}`);\n  arrivalDate = date.toISOString().split('T')[0];\n} else {\n  // Check chat input for date in format YYYY-MM-DD or similar\n  const chatDateMatch = chatInput.match(/(\\d{4})[-\\/](\\d{1,2})[-\\/](\\d{1,2})/i);\n  if (chatDateMatch) {\n    arrivalDate = `${chatDateMatch[1]}-${chatDateMatch[2].padStart(2, '0')}-${chatDateMatch[3].padStart(2, '0')}`;\n  }\n}\n\n// If no date found, use today + 15 days as default\nif (!arrivalDate) {\n  const defaultDate = new Date();\n  defaultDate.setDate(defaultDate.getDate() + 15);\n  arrivalDate = defaultDate.toISOString().split('T')[0];\n}\n\n// Extract pax (e.g., \"for 3 adults and 2 children\")\nconst adultMatch = text.match(/(\\d+)\\s+adult/i);\nif (adultMatch) {\n  adult = parseInt(adultMatch[1]);\n} else {\n  // Check chat input\n  const chatAdultMatch = chatInput.match(/(\\d+)\\s+adult/i);\n  if (chatAdultMatch) {\n    adult = parseInt(chatAdultMatch[1]);\n  }\n}\n\nconst childMatch = text.match(/(\\d+)\\s+child/i);\nif (childMatch) {\n  children = parseInt(childMatch[1]);\n} else {\n  // Check chat input\n  const chatChildMatch = chatInput.match(/(\\d+)\\s+child/i);\n  if (chatChildMatch) {\n    children = parseInt(chatChildMatch[1]);\n  }\n}\n\n// Extract hotel star category (e.g., \"5-star hotel\", \"4-star hotel\")\nconst starMatch = text.match(/(\\d)-star\\s+hotel/i);\nif (starMatch) {\n  hotelStarCategory = parseInt(starMatch[1]);\n}\n\n// Helper function to convert meal plan text to code\nfunction getMealCode(mealText) {\n  const lowerText = mealText.toLowerCase();\n  if (lowerText.includes('half board')) return 'HB';\n  if (lowerText.includes('full board')) return 'FB';\n  if (lowerText.includes('all inclusive')) return 'AL';\n  if (lowerText.includes('room only')) return 'RO';\n  if (lowerText.includes('bed & breakfast') || lowerText.includes('bed and breakfast')) return 'BB';\n  return 'BB'; // default\n}\n\n// Check if cities have individual meal plans (format: \"City1 with meal_plan, City2 with meal_plan\")\nconst cityMealPattern = /([A-Za-z]+)\\s+with\\s+(half board|full board|room only|all inclusive|bed & breakfast|bed and breakfast)/gi;\nconst cityMealMatches = text.matchAll(cityMealPattern);\nlet hasCitySpecificMeals = false;\n\nfor (const match of cityMealMatches) {\n  const cityName = match[1].trim();\n  const mealPlan = match[2].trim();\n  cityMealMap[cityName] = getMealCode(mealPlan);\n  places.push(cityName);\n  hasCitySpecificMeals = true;\n}\n\n// If no city-specific meal plans found, extract places and meal plan separately\nif (!hasCitySpecificMeals) {\n  // Extract places (e.g., \"including Colombo, Kandy, Galle, and Yala\")\n  const placesMatch = text.match(/including ([^.]+)\\.?$/i);\n  if (placesMatch) {\n    const placesStr = placesMatch[1];\n    // Split by comma and 'and', then clean up\n    places = placesStr\n      .split(/,|\\s+and\\s+/)\n      .map(p => p.trim())\n      .filter(p => p.length > 0);\n  } else {\n    // Try to extract from chat input\n    const chatPlacesMatch = chatInput.match(/(?:in|to|visit)\\s+([A-Za-z,\\s]+?)(?:\\s+\\d|\\s+for|$)/i);\n    if (chatPlacesMatch) {\n      const placesStr = chatPlacesMatch[1];\n      places = placesStr\n        .split(/,|\\s+and\\s+/)\n        .map(p => p.trim())\n        .filter(p => p.length > 2 && !['days', 'nights', 'day', 'night'].includes(p.toLowerCase()));\n    }\n  }\n  \n  // If still no places or empty, default to 3 popular cities\n  if (places.length === 0) {\n    places = ['Colombo', 'Kandy', 'Galle'];\n  }\n  \n  // Extract single meal plan for all cities\n  if (text.toLowerCase().includes('half board')) {\n    mealType = 'HB';\n  } else if (text.toLowerCase().includes('full board')) {\n    mealType = 'FB';\n  } else if (text.toLowerCase().includes('all inclusive')) {\n    mealType = 'AL';\n  } else if (text.toLowerCase().includes('room only')) {\n    mealType = 'RO';\n  } else if (text.toLowerCase().includes('bed & breakfast') || text.toLowerCase().includes('bed and breakfast')) {\n    mealType = 'BB';\n  }\n}\n\n// Create the formatted output\nconst output = {\n  country_data: {\n    country: country\n  },\n  genaral_data: {\n    arrival_date: arrivalDate,\n    total_nights: totalNights,\n    pax: {\n      adult: adult,\n      cwb: children,\n      cnb: 0\n    },\n    market: 1,\n    hotel_star_category: hotelStarCategory\n  },\n  destination_data: {\n    place: places,\n    meal_type: mealType,\n    city_meal_map: Object.keys(cityMealMap).length > 0 ? cityMealMap : null\n  }\n};\n\nreturn { json: output };"
      },
      "id": "1db76409-4c41-49e7-9f07-624afb9d15b7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "3a0fdc29-3a17-4963-a07f-2c7406a4af0f",
      "name": "Split Out Places",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1568,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = originalData.genaral_data.total_nights || 8; // Get from Code node or default to 8\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\nconst remainderNights = totalNights % cityCount; // Handle remainder nights\n\n// Get city-specific meal plans if available\nconst cityMealMap = originalData.destination_data.city_meal_map;\nconst defaultMealType = originalData.destination_data.meal_type;\n\n// Get hotel star category\nconst hotelStarCategory = originalData.genaral_data.hotel_star_category || 4;\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Distribute remainder nights to first cities\n  const nightsForThisCity = nightsPerCity + (i < remainderNights ? 1 : 0);\n  \n  // Calculate check-out date (check-in + nights for this city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsForThisCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  // Determine meal type for this city\n  let mealType = defaultMealType;\n  if (cityMealMap && cityMealMap[currentPlace]) {\n    mealType = cityMealMap[currentPlace];\n  }\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: mealType,\n        star_rate: hotelStarCategory,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut,\n        nights: nightsForThisCity\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "845cdb15-d327-4290-9218-e28fc610f752",
      "name": "Prepare for Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet3",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            },
            {
              "lookupColumn": "Hotel Class",
              "lookupValue": "={{ $json.destination_data.star_rate }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1184,
        -400
      ],
      "id": "628009db-ea73-42ab-82fc-9156d1dbc66c",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all hotel data from Google Sheets\nconst hotelItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each hotel and add booking details\nconst results = [];\n\nfor (const hotelItem of hotelItems) {\n  const hotelData = hotelItem.json;\n  const cityName = hotelData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas Hotel ID from the data\n  const { 'Aahaas Hotel ID': removed, ...filteredHotelData } = hotelData;\n  \n  if (cityData) {\n    // Merge hotel data with country_data at the top, then other fields\n    results.push({\n      json: {\n        country_data: cityData.country_data,\n        ...filteredHotelData,\n        check_in: cityData.destination_data.check_in,\n        check_out: cityData.destination_data.check_out,\n        meal_type: cityData.destination_data.meal_type\n      }\n    });\n  } else {\n    // If no matching city data, just return filtered hotel data with default country\n    results.push({\n      json: {\n        country_data: { country: \"Sri Lanka\" },\n        ...filteredHotelData\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "50716099-7bb7-43d0-b059-ffe435cf9e25",
      "name": "Add Booking Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -400
      ]
    },
    {
      "parameters": {
        "url": "=https://stagev2.appletechlabs.com/api/content/place/?name={{ $json.City }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "ad18beba-1d99-4386-9285-2526e36b797d",
      "name": "Get City ID from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        -400
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Country name to ID mapping\nconst countryMap = {\n  \"Sri Lanka\": 62,\n  \"Malaysia\": 63,\n  \"Singapore\": 64,\n  \"India\": 149,\n  \"Vietnam\": 256,\n  \"vietnam\": 256\n};\n\n// Meal plan to ID mapping\nconst mealPlanMap = {\n  \"BB\": 1,  // Breakfast Only\n  \"HB\": 2,  // Breakfast and Dinner\n  \"FB\": 3,  // Breakfast, lunch and Dinner\n  \"RO\": 4,  // Room Only\n  \"AL\": 5   // All Inclusive\n};\n\n// Room Category to ID mapping\nconst roomCategoryMap = {\n  \"Superior Sea View Room\": 1,\n  \"Deluxe Delight(Garden View/Garden Terrace)\": 2,\n  \"Deluxe Delight(Sea View)\": 3,\n  \"Premium Indulgence\": 4,\n  \"Premium Indulgence(Family Room)\": 5,\n  \"Deluxe Allure Suite\": 6,\n  \"Premium Temptetions Suite\": 7,\n  \"Presidential Suite\": 8,\n  \"Base\": 9,\n  \"Deluxe\": 10,\n  \"Superior Deluxe\": 11,\n  \"Superior Deluxe Suite\": 12,\n  \"Standard\": 13,\n  \"Superior\": 14,\n  \"Premium  Deluxe\": 16\n};\n\n// Get all API responses\nconst apiResponses = $input.all();\n\n// Get all booking data from Add Booking Details\nconst bookingDataItems = $('Add Booking Details').all();\n\n// Get pax data from Prepare for Lookup node (first item has all the data)\nconst prepareData = $('Prepare for Lookup').first().json;\nconst paxData = prepareData.genaral_data.pax;\n\n// Process each booking item\nconst results = [];\n\nfor (let i = 0; i < apiResponses.length; i++) {\n  const apiResponse = apiResponses[i].json;\n  const bookingData = bookingDataItems[i].json;\n  \n  let cityId = bookingData.City; // Default to original city name if not found\n  \n  // Extract city ID from API response\n  if (apiResponse && apiResponse.body && Array.isArray(apiResponse.body) && apiResponse.body.length > 0) {\n    // Find the matching city with the correct country\n    const countryName = bookingData.country_data.country;\n    const countryId = countryMap[countryName] || null;\n    \n    // Find city with matching country if possible\n    let cityData = null;\n    if (countryId) {\n      cityData = apiResponse.body.find(city => city.country === countryId);\n    }\n    \n    // If no match with country, use the first result\n    if (!cityData && apiResponse.body.length > 0) {\n      cityData = apiResponse.body[0];\n    }\n    \n    if (cityData) {\n      cityId = cityData.id;\n    }\n  }\n  \n  // Get country name and map to ID\n  const countryName = bookingData.country_data.country;\n  const countryId = countryMap[countryName] || countryName; // Use ID if found, otherwise keep original\n  \n  // Get meal type and map to ID\n  const mealType = bookingData.meal_type;\n  const mealTypeId = mealPlanMap[mealType] || mealType; // Use ID if found, otherwise keep original\n  \n  // Get room category and map to ID\n  const roomCategory = bookingData[\"Basic Room Categoty\"];\n  const roomCategoryId = roomCategoryMap[roomCategory] || roomCategory; // Use ID if found, otherwise keep original\n  \n  // Calculate number of nights\n  const checkInDate = new Date(bookingData.check_in);\n  const checkOutDate = new Date(bookingData.check_out);\n  const nightCount = Math.round((checkOutDate - checkInDate) / (1000 * 60 * 60 * 24));\n  \n  // Create the output with mapped IDs\n  results.push({\n    json: {\n      country_data: {\n        country: countryId.toString()\n      },\n      row_number: bookingData.row_number,\n      City: cityId.toString(),\n      \"Hotel Class\": bookingData[\"Hotel Class\"],\n      \"Hotel Name\": bookingData[\"Hotel Name\"],\n      \"Apple Hotel ID\": bookingData[\"Apple Hotel ID\"],\n      \"Basic Room Categoty\": roomCategoryId,\n      \"Extra1\": bookingData[\"Extra1\"] || \"\",\n      check_in: bookingData.check_in,\n      check_out: bookingData.check_out,\n      night: nightCount,\n      meal_type: mealTypeId.toString(),\n      pax: {\n        adult: paxData.adult,\n        cwb: paxData.cwb,\n        cnb: paxData.cnb\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "12345592-5629-438d-8ddc-15eab128b24e",
      "name": "Map IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet4",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1264,
        -32
      ],
      "id": "dd1a7bab-5d14-4677-906a-ad2f27140ce4",
      "name": "Get Activities Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all activity data from Google Sheets\nconst activityItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup Activities').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each activity and add booking details\nconst results = [];\n\nfor (const activityItem of activityItems) {\n  const activityData = activityItem.json;\n  const cityName = activityData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas ID, Extra1, Extra2, and meal_type from the data\n  const { 'Aahaas  ID': removedAahaasId, 'Extra1': removedExtra1, 'Extra2': removedExtra2, ...filteredActivityData } = activityData;\n  \n  // Check if Apple Hotel ID contains comma (multiple values)\n  const appleHotelId = filteredActivityData['Apple Hotel ID'];\n  const hasMultipleIds = typeof appleHotelId === 'string' && appleHotelId.includes(',');\n  \n  if (hasMultipleIds) {\n    // Split Apple Hotel ID and Must Do Activity by comma\n    const appleIds = appleHotelId.split(',').map(id => id.trim());\n    const activities = filteredActivityData['Must Do Activity'].split(',').map(act => act.trim());\n    \n    // Create separate records for each ID/Activity pair\n    const maxLength = Math.max(appleIds.length, activities.length);\n    \n    for (let i = 0; i < maxLength; i++) {\n      const record = {\n        country_data: cityData ? cityData.country_data : { country: \"Sri Lanka\" },\n        row_number: filteredActivityData.row_number,\n        City: filteredActivityData.City,\n        'Lifestyle  Category': filteredActivityData['Lifestyle  Category'],\n        'Must Do Activity': activities[i] || activities[0],\n        'Apple Hotel ID': appleIds[i] || appleIds[0]\n      };\n      \n      // Add city data if available (without meal_type)\n      if (cityData) {\n        record.check_in = cityData.destination_data.check_in;\n        record.check_out = cityData.destination_data.check_out;\n      }\n      \n      results.push({ json: record });\n    }\n  } else {\n    // Single ID - add city data without Extra1, Extra2, and meal_type\n    if (cityData) {\n      results.push({\n        json: {\n          country_data: cityData.country_data,\n          ...filteredActivityData,\n          check_in: cityData.destination_data.check_in,\n          check_out: cityData.destination_data.check_out\n        }\n      });\n    } else {\n      // If no matching city data, just return filtered activity data with default country\n      results.push({\n        json: {\n          country_data: { country: \"Sri Lanka\" },\n          ...filteredActivityData\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "e8969d25-9714-496c-ac14-030f28843e66",
      "name": "Add Booking Details Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -32
      ]
    },
    {
      "parameters": {
        "url": "=https://stagev2.appletechlabs.com/api/content/place/?name={{ $json.City }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "9d494ef8-2d60-4020-83b0-a2241039dae0",
      "name": "Get City ID from API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        -32
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Country name to ID mapping\nconst countryMap = {\n  \"Sri Lanka\": 62,\n  \"Malaysia\": 63,\n  \"Singapore\": 64,\n  \"India\": 149,\n  \"Vietnam\": 256,\n  \"vietnam\": 256\n};\n\n// Get all API responses\nconst apiResponses = $input.all();\n\n// Get all activity data from Add Booking Details Activities\nconst activityDataItems = $('Add Booking Details Activities').all();\n\n// Get pax data from Prepare for Lookup Activities node (first item has all the data)\nconst prepareData = $('Prepare for Lookup Activities').first().json;\nconst paxData = prepareData.genaral_data.pax;\n\n// Process each activity item\nconst results = [];\n\nfor (let i = 0; i < apiResponses.length; i++) {\n  const apiResponse = apiResponses[i].json;\n  const activityData = activityDataItems[i].json;\n  \n  let cityId = activityData.City; // Default to original city name if not found\n  \n  // Extract city ID from API response\n  if (apiResponse && apiResponse.body && Array.isArray(apiResponse.body) && apiResponse.body.length > 0) {\n    // Find the matching city with the correct country\n    const countryName = activityData.country_data.country;\n    const countryId = countryMap[countryName] || null;\n    \n    // Find city with matching country if possible\n    let cityData = null;\n    if (countryId) {\n      cityData = apiResponse.body.find(city => city.country === countryId);\n    }\n    \n    // If no match with country, use the first result\n    if (!cityData && apiResponse.body.length > 0) {\n      cityData = apiResponse.body[0];\n    }\n    \n    if (cityData) {\n      cityId = cityData.id;\n    }\n  }\n  \n  // Get country name and map to ID\n  const countryName = activityData.country_data.country;\n  const countryId = countryMap[countryName] || countryName; // Use ID if found, otherwise keep original\n  \n  // Get Apple ID - check all possible field names\n  const appleId = activityData['Apple Hotel ID'] || activityData['Apple ID'] || activityData['Apple Hotel ID'] || \"\";\n  \n  // Create the output with mapped IDs\n  results.push({\n    json: {\n      country_data: {\n        country: countryId.toString()\n      },\n      row_number: activityData.row_number,\n      City: cityId.toString(),\n      \"Apple ID\": appleId,\n      \"Lifestyle  Category\": activityData[\"Lifestyle  Category\"],\n      \"Must Do Activity\": activityData[\"Must Do Activity\"],\n      check_in: activityData.check_in,\n      check_out: activityData.check_out,\n      pax: {\n        adult: paxData.adult,\n        cwb: paxData.cwb,\n        cnb: paxData.cnb\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a7861081-2db6-4e14-8e41-c1777c7fa3e0",
      "name": "Map IDs Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Map IDs Activities\nconst items = $input.all();\n\n// First: Group by city to process each city separately\nconst cityGroups = {};\n\nfor (const item of items) {\n  const cityId = item.json.City;\n  if (!cityGroups[cityId]) {\n    cityGroups[cityId] = [];\n  }\n  cityGroups[cityId].push(item.json);\n}\n\n// Process each city and assign activity days\nconst results = [];\n\nfor (const cityId in cityGroups) {\n  const cityActivities = cityGroups[cityId];\n  \n  if (cityActivities.length === 0) continue;\n  \n  // Get check-in and check-out dates from first activity\n  const checkIn = new Date(cityActivities[0].check_in);\n  const checkOut = new Date(cityActivities[0].check_out);\n  \n  // Calculate number of nights (activities = nights, not nights + 1)\n  const nightCount = Math.round((checkOut - checkIn) / (1000 * 60 * 60 * 24));\n  \n  // Sort activities by row_number\n  const sortedActivities = cityActivities.sort((a, b) => a.row_number - b.row_number);\n  \n  // Assign one activity per day based on number of nights\n  let dayOffset = 0;\n  \n  for (let i = 0; i < sortedActivities.length && dayOffset < nightCount; i++) {\n    const activity = sortedActivities[i];\n    \n    // Calculate activity day\n    const activityDay = new Date(checkIn);\n    activityDay.setDate(activityDay.getDate() + dayOffset);\n    const activityDayStr = activityDay.toISOString().split('T')[0];\n    \n    // Check if Apple ID contains comma (multiple activities)\n    const appleId = activity[\"Apple ID\"];\n    const hasMultipleActivities = typeof appleId === 'string' && appleId.includes(',');\n    \n    if (hasMultipleActivities) {\n      // Split Apple ID and Must Do Activity by comma\n      const appleIds = appleId.split(',').map(id => id.trim());\n      const activities = activity[\"Must Do Activity\"].split(',').map(act => act.trim());\n      \n      // Create separate items for each activity\n      for (let j = 0; j < appleIds.length; j++) {\n        results.push({\n          json: {\n            country_data: activity.country_data,\n            row_number: activity.row_number,\n            City: activity.City,\n            \"Apple ID\": appleIds[j],\n            \"Lifestyle  Category\": activity[\"Lifestyle  Category\"],\n            \"Must Do Activity\": activities[j] || activities[0],\n            check_in: activity.check_in,\n            check_out: activity.check_out,\n            pax: activity.pax,\n            activity_day: activityDayStr\n          }\n        });\n      }\n    } else {\n      // Single activity - add as-is with activity_day\n      results.push({\n        json: {\n          ...activity,\n          activity_day: activityDayStr\n        }\n      });\n    }\n    \n    dayOffset++;\n  }\n}\n\nreturn results;"
      },
      "id": "9e0c503a-1249-49fb-b5c4-7275152f1cb2",
      "name": "Expand Multiple Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = originalData.genaral_data.total_nights || 8; // Get from Code node or default to 8\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\nconst remainderNights = totalNights % cityCount; // Handle remainder nights\n\n// Get city-specific meal plans if available\nconst cityMealMap = originalData.destination_data.city_meal_map;\nconst defaultMealType = originalData.destination_data.meal_type;\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Distribute remainder nights to first cities\n  const nightsForThisCity = nightsPerCity + (i < remainderNights ? 1 : 0);\n  \n  // Calculate check-out date (check-in + nights for this city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsForThisCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  // Determine meal type for this city\n  let mealType = defaultMealType;\n  if (cityMealMap && cityMealMap[currentPlace]) {\n    mealType = cityMealMap[currentPlace];\n  }\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: mealType,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut,\n        nights: nightsForThisCity\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "a9bad6b9-295a-4da8-b4b4-9a0372dc50aa",
      "name": "Prepare for Lookup Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -32
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "4aff4ef7-c577-448a-afc0-fe1556aaba91",
      "name": "Split Out Places Activities",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1568,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "21e355e0-535b-4764-b1a6-fa2a72668d97",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -544,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get hotel data from Map IDs node (input 1)\nconst hotelItems = $('Map IDs').all();\nconst hotelData = hotelItems.map(item => item.json);\n\n// Get activities data from Expand Multiple Activities node (input 2)\nconst activityItems = $('Expand Multiple Activities').all();\nconst activitiesData = activityItems.map(item => item.json);\n\n// Get original data from Code node for general information\nconst originalData = $('Code').first().json;\n\n// Country mapping (using the ID directly from the data)\nconst countryId = hotelData.length > 0 ? parseInt(hotelData[0].country_data.country) : 62;\n\n// Get arrival date\nconst arrivalDate = originalData.genaral_data.arrival_date;\n\n// Helper function to convert date from YYYY-MM-DD to DD/MM/YYYY\nfunction formatDate(dateStr) {\n  const date = new Date(dateStr);\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}/${month}/${year}`;\n}\n\nconst arrivalDateFormatted = formatDate(arrivalDate);\n\n// Get pax information\nconst pax = originalData.genaral_data.pax;\n\n// Build destination_data - places with first and last city repeated\nconst places = [];\nconst placePretendType = [];\nconst transportAvailability = [];\n\n// Extract unique places in order from hotel data\nconst seenPlaces = [];\nfor (const hotel of hotelData) {\n  const cityId = parseInt(hotel.City);\n  if (!seenPlaces.includes(cityId)) {\n    seenPlaces.push(cityId);\n  }\n}\n\n// Add first city at the beginning (arrival city with pretend_type 2)\nif (seenPlaces.length > 0) {\n  places.push(seenPlaces[0]);\n  placePretendType.push(2); // Arrival city\n}\n\n// Add all cities (pretend_type 1)\nfor (const cityId of seenPlaces) {\n  places.push(cityId);\n  placePretendType.push(1); // Normal stay\n}\n\n// Add last city again (departure city with pretend_type 3)\nif (seenPlaces.length > 0) {\n  places.push(seenPlaces[seenPlaces.length - 1]);\n  placePretendType.push(3); // Departure city\n}\n\n// Transportation availability - one less than total places count\nfor (let i = 0; i < places.length - 1; i++) {\n  transportAvailability.push(1); // Transport available between cities\n}\n\n// Build accommodation_data\nconst accommodations = [];\nconst hotels = [];\n\nfor (const hotel of hotelData) {\n  // Ensure all required fields are present and properly typed\n  const hotelId = parseInt(hotel[\"Apple Hotel ID\"]) || 0;\n  const placeId = parseInt(hotel.City);\n  const roomCategory = parseInt(hotel[\"Basic Room Categoty\"]);\n  const mealTypeId = parseInt(hotel.meal_type);\n  \n  // Build hotel object with correct field order based on hotel ID\n  if (hotelId !== 0) {\n    // Hotel with accommodation - include room details in correct order\n    const hotelObj = {\n      hotel: hotelId,\n      place: placeId,\n      check_in: formatDate(hotel.check_in),\n      check_out: formatDate(hotel.check_out),\n      nights: parseInt(hotel.night),\n      provider: \"local\",\n      room_category: roomCategory,\n      meal_type: mealTypeId,\n      room_type: [\n        {\n          id: 2,\n          count: 1\n        }\n      ],\n      extrabed: 0,\n      driver_accommodation: 0\n    };\n    \n    hotels.push(hotelObj);\n    accommodations.push(1); // 1 for hotel\n  } else {\n    // Hotel 0 means no hotel, transportation only - different field order\n    const hotelObj = {\n      hotel: 0,\n      place: placeId,\n      check_in: formatDate(hotel.check_in),\n      check_out: formatDate(hotel.check_out),\n      nights: parseInt(hotel.night),\n      provider: \"local\",\n      extrabed: 0,\n      transportation: 1,\n      driver_accommodation: 0\n    };\n    \n    hotels.push(hotelObj);\n    accommodations.push(2); // 2 for no accommodation (transportation only)\n  }\n}\n\n// Build tours_data from activities\nconst toursData = [];\n\nfor (const activity of activitiesData) {\n  // Calculate day number from arrival date\n  const activityDate = new Date(activity.activity_day);\n  const arrivalDateObj = new Date(arrivalDate);\n  const dayNumber = Math.floor((activityDate - arrivalDateObj) / (1000 * 60 * 60 * 24)) + 1;\n  \n  // Parse Apple ID - handle cases where it might have text like \"3362 SIC\"\n  let appleIdValue = activity[\"Apple ID\"];\n  let appleIdNum = 0;\n  \n  if (typeof appleIdValue === 'string') {\n    // Extract just the number from strings like \"3362 SIC\"\n    const numMatch = appleIdValue.match(/^(\\d+)/);\n    if (numMatch) {\n      appleIdNum = parseInt(numMatch[1]);\n    }\n  } else if (typeof appleIdValue === 'number') {\n    appleIdNum = appleIdValue;\n  }\n  \n  // Determine type based on Lifestyle Category\n  const category = activity[\"Lifestyle  Category\"];\n  let type = \"attraction\"; // default\n  \n  if (category && category.toLowerCase().includes('city tour')) {\n    type = \"city_tour\";\n  } else if (category && category.toLowerCase().includes('excursion')) {\n    type = \"excursion\";\n  } else if (category && category.toLowerCase().includes('attraction')) {\n    type = \"attraction\";\n  }\n  \n  const tourObj = {\n    id: appleIdNum,\n    day: dayNumber,\n    pax: {\n      adult: parseInt(activity.pax.adult),\n      cwb: parseInt(activity.pax.cwb),\n      cnb: parseInt(activity.pax.cnb)\n    },\n    type: type\n  };\n  \n  toursData.push(tourObj);\n}\n\n// Build the final API body matching the exact structure\nconst apiBody = {\n  config: {\n    status: 1,\n    tour_session: Math.floor(Date.now() / 1000), // Unix timestamp in seconds\n    tour_type: 3,\n    quotation_no: Math.floor(Math.random() * 900000) + 100000 // Random 6-digit number\n  },\n  country_data: {\n    country: countryId\n  },\n  genaral_data: {\n    arrival_date: arrivalDateFormatted,\n    pax: {\n      adult: parseInt(pax.adult),\n      cwb: parseInt(pax.cwb),\n      cnb: parseInt(pax.cnb)\n    },\n    market: 1\n  },\n  destination_data: {\n    place: places,\n    place_pretend_type: placePretendType,\n    transport_availability: transportAvailability\n  },\n  accommodation_data: {\n    accommodation: accommodations,\n    hotel: hotels\n  },\n  tours_data: toursData,\n  markup_data: {\n    markup_amount: \"10\",\n    markup_type: \"1\",\n    markup_amount_child: \"10\",\n    markup_type_child: \"1\",\n    save_type: \"save\"\n  }\n};\n\nreturn { json: apiBody };"
      },
      "id": "a2e37117-5ae8-497a-b234-de6b7291c8fb",
      "name": "Build API Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stagev2.appletechlabs.com/api/booking/save",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 30000
        }
      },
      "id": "f88528b5-a18b-4b5f-84fa-15fdeead61fc",
      "name": "Send to Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        -256
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1904,
        0
      ],
      "id": "ffecc997-1392-4d10-b591-da3b67249e0e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out Places Activities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places": {
      "main": [
        [
          {
            "node": "Prepare for Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Booking Details": {
      "main": [
        [
          {
            "node": "Get City ID from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City ID from API": {
      "main": [
        [
          {
            "node": "Map IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map IDs": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Activities Sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Booking Details Activities": {
      "main": [
        [
          {
            "node": "Get City ID from API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City ID from API1": {
      "main": [
        [
          {
            "node": "Map IDs Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map IDs Activities": {
      "main": [
        [
          {
            "node": "Expand Multiple Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Multiple Activities": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare for Lookup Activities": {
      "main": [
        [
          {
            "node": "Get Activities Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places Activities": {
      "main": [
        [
          {
            "node": "Prepare for Lookup Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Build API Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Body": {
      "main": [
        [
          {
            "node": "Send to Backend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send to Backend API": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d969c757-3c83-4538-b728-5a2bf426f70a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ba699815eee7a9b7506f6b264ee48edcb7b96a79c851198c7b7acafd2a5489c"
  },
  "id": "eJu8ruXVHXBsE66L",
  "tags": []
}