Apple04.json
{
  "name": "Apple",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "509bc493-e350-40a2-9dc3-512749b2a629",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        -176
      ],
      "webhookId": "travel-quotation-chat"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a travel quotation assistant. Analyze the user's travel request and create a professional summary.\n\nUser input: {{ $json.chatInput }}\n\nExtract and analyze:\n1. Destination country\n2. Arrival date (if not mentioned, use {{ $now.plus(15, 'days').toFormat('yyyy-MM-dd') }})\n3. Duration: If not mentioned, default to 7 days, 6 nights\n4. Calculate departure date: arrival_date + duration\n5. Number of adults and children\n6. Cities/places to visit\n7. Meal plan: BB (bed & breakfast) if not mentioned\n8. Accommodation: Assume mid-range budget with 4-star hotel\n\nFormat your output EXACTLY as:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. Mid-range budget with 4-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including [list cities].\"\n\nExample: \"Customer requesting a Sri Lanka multi-city tour for 7 days, 6 nights from December 12 to December 18, 2025, for 3 adults and 2 children. Mid-range budget with 4-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, Galle, and Yala.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional travel quotation assistant. Create concise, formatted summaries of customer travel requests. Always use the exact format specified and calculate dates accurately."
        }
      },
      "id": "196f0381-d5cd-4a05-8c0b-30921eeaf2db",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -656,
        -176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "efecf9b4-c288-4672-b162-aac913540f6d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -656,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent output text\nconst inputData = $input.first().json;\nconst text = inputData.output || '';\n\n// Parse the text to extract information\nlet country = 'Sri Lanka';\nlet arrivalDate = '';\nlet adult = 0;\nlet children = 0;\nlet places = [];\nlet mealType = 'BB';\n\n// Extract country (e.g., \"Sri Lanka multi-city tour\")\nconst countryMatch = text.match(/requesting a ([^m]+)multi-city tour/i);\nif (countryMatch) {\n  country = countryMatch[1].trim();\n}\n\n// Extract dates (e.g., \"from December 12 to December 18, 2025\")\nconst dateMatch = text.match(/from ([A-Za-z]+ \\d+) to ([A-Za-z]+ \\d+), (\\d{4})/i);\nif (dateMatch) {\n  const monthDay = dateMatch[1]; // e.g., \"December 12\"\n  const year = dateMatch[3];\n  const date = new Date(`${monthDay}, ${year}`);\n  arrivalDate = date.toISOString().split('T')[0];\n}\n\n// If no date found, use today + 15 days as default\nif (!arrivalDate) {\n  const defaultDate = new Date();\n  defaultDate.setDate(defaultDate.getDate() + 15);\n  arrivalDate = defaultDate.toISOString().split('T')[0];\n}\n\n// Extract pax (e.g., \"for 3 adults and 2 children\")\nconst adultMatch = text.match(/(\\d+)\\s+adult/i);\nif (adultMatch) {\n  adult = parseInt(adultMatch[1]);\n}\n\nconst childMatch = text.match(/(\\d+)\\s+child/i);\nif (childMatch) {\n  children = parseInt(childMatch[1]);\n}\n\n// Extract places (e.g., \"including Colombo, Kandy, Galle, and Yala\")\nconst placesMatch = text.match(/including ([^.]+)\\.?$/i);\nif (placesMatch) {\n  const placesStr = placesMatch[1];\n  // Split by comma and 'and', then clean up\n  places = placesStr\n    .split(/,|\\s+and\\s+/)\n    .map(p => p.trim())\n    .filter(p => p.length > 0);\n}\n\n// Extract meal plan\nif (text.toLowerCase().includes('bed & breakfast') || text.toLowerCase().includes('bed and breakfast')) {\n  mealType = 'BB';\n} else if (text.toLowerCase().includes('half board')) {\n  mealType = 'HB';\n} else if (text.toLowerCase().includes('full board')) {\n  mealType = 'FB';\n} else if (text.toLowerCase().includes('room only')) {\n  mealType = 'RO';\n} else if (text.toLowerCase().includes('all inclusive')) {\n  mealType = 'AL';\n}\n\n// Create the formatted output\nconst output = {\n  country_data: {\n    country: country\n  },\n  genaral_data: {\n    arrival_date: arrivalDate,\n    pax: {\n      adult: adult,\n      cwb: children,\n      cnb: 0\n    },\n    market: 1\n  },\n  destination_data: {\n    place: places,\n    meal_type: mealType\n  }\n};\n\nreturn { json: output };"
      },
      "id": "fe8ec5cb-72b4-491a-8ab8-2692c6b3f753",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -176
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "0700c572-1dc1-41e2-b691-6e7c4521ff79",
      "name": "Split Out Places",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -256,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = 6; // Default 7 days, 6 nights\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Calculate check-out date (check-in + nights per city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsPerCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: originalData.destination_data.meal_type,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "0027bd68-dc72-4e49-a062-fb0cae88502f",
      "name": "Prepare for Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -176
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet3",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -176
      ],
      "id": "ba0904a7-7b3e-4de6-8698-c670a99a8c8c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Apple Hotel ID",
              "renameField": true,
              "outputFieldName": "hotel_ids"
            },
            {
              "fieldToAggregate": "City",
              "renameField": true,
              "outputFieldName": "city"
            }
          ]
        },
        "options": {}
      },
      "id": "362bba3c-3c69-4f9b-aa78-bc529f5a87f6",
      "name": "Aggregate by City",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all items\nconst items = $input.all();\n\n// Group hotels by city\nconst hotelsByCity = {};\n\nfor (const item of items) {\n  const city = item.json.city;\n  const hotelIds = item.json.hotel_ids || [];\n  \n  if (!hotelsByCity[city]) {\n    hotelsByCity[city] = [];\n  }\n  \n  // Add hotel IDs to the city's list\n  hotelsByCity[city] = hotelsByCity[city].concat(hotelIds);\n}\n\n// Create output with city-wise hotel lists\nconst output = {\n  hotels_by_place: hotelsByCity\n};\n\nreturn { json: output };"
      },
      "id": "a67dfb8f-f383-4ba1-976f-22fd5fbaee73",
      "name": "Format Hotel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places": {
      "main": [
        [
          {
            "node": "Prepare for Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate by City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate by City": {
      "main": [
        [
          {
            "node": "Format Hotel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78906db3-57bb-47a9-96f0-ab09adf4a712",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ba699815eee7a9b7506f6b264ee48edcb7b96a79c851198c7b7acafd2a5489c"
  },
  "id": "wikRw3iB39p5rLSI",
  "tags": []
}