Testtoday.json
{
  "name": "Test",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1936,
        -464
      ],
      "id": "865b0466-e2c3-4b14-a83c-de3f17e5b092",
      "name": "When chat message received",
      "webhookId": "9d2612f3-b699-4bee-bda6-52b98551f2cf"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "127e3f0a-4469-48c8-996c-ab7c16ec18ce",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1936,
        -208
      ],
      "id": "1521ddb3-9d93-4f16-8a0d-f6d73ad6384c",
      "name": "Webhook API Trigger",
      "webhookId": "127e3f0a-4469-48c8-996c-ab7c16ec18ce"
    },
    {
      "parameters": {
        "jsCode": "// Extract email_content and user_id from webhook body\nconst emailContent = $input.first().json.body?.email_content || $input.first().json.email_content || '';\nconst userId = $input.first().json.body?.user_id || $input.first().json.user_id || 'default-user';\n\nreturn [{\n  json: {\n    chatInput: emailContent,\n    sessionId: userId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -208
      ],
      "id": "21163ecd-6c6d-4571-b129-3b0aa2efa99e",
      "name": "Extract Webhook Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        -464
      ],
      "id": "c8c055a1-4779-40c0-b44c-1f49d265e959",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Merge data from chat trigger (direct) or webhook (via Extract Webhook Data)\nconst chatInput = $input.first().json.chatInput;\nlet sessionId = $input.first().json.sessionId;\n\n// ============================================\n// 🔧 SESSION ID CONFIGURATION (Applied to BOTH Hotels and Activities)\n// ============================================\n// OPTION 1: To test with specific ID, UNCOMMENT the line below and change the value:\n   sessionId = \"655\";  // Change this to \"1\", \"43\", \"655\", \"1234\", etc.\n\n// OPTION 2: To use actual input sessionId from webhook/chat, keep the line above COMMENTED\n// ============================================\n// Current behavior: Uses actual input sessionId (from webhook or chat)\n// ============================================\n\n// Ensure sessionId is an integer\nif (!sessionId || sessionId === 'chat-session-' + Date.now()) {\n  sessionId = 1;  // Default sessionId if none provided\n} else if (typeof sessionId === 'string') {\n  const parsed = parseInt(sessionId);\n  sessionId = isNaN(parsed) ? 1 : parsed;\n} else if (typeof sessionId !== 'number') {\n  sessionId = 1;\n}\n\n// CRITICAL: Generate unique request ID and cart reference for EACH request\n// This ensures both hotels and activities go into the SAME cart\nconst timestamp = Date.now();\nconst randomSuffix = Math.random().toString(36).substring(2, 9).toUpperCase();\nconst requestId = `REQ_${timestamp}_${randomSuffix}`;\nconst cartReference = `CART_${timestamp}_${randomSuffix}`;\n\nreturn [{\n  json: {\n    chatInput: chatInput,\n    sessionId: sessionId,  // SAME sessionId used for both Hotels and Activities workflows\n    request_id: requestId,\n    cart_reference: cartReference,  // SAME cart reference for both branches\n    request_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -464
      ],
      "id": "17c0a9ec-a328-477f-b748-1cb10b3c4bb7",
      "name": "Merge Input Sources"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Travel Content Processor Prompt\n\n⚠️ CRITICAL: Treat EACH request as INDEPENDENT. IGNORE any previous conversation history. Process ONLY the current customer input below.\n\nYou are a travel content processor. Your job is to take customer travel requests and convert them into a complete, detailed travel inquiry ready for processing. NEVER ask questions or request more information — always make reasonable assumptions.\n\nYour Task\n\nTranslate any non-English content to English.\n\nExtract all provided information (destination, dates, travelers, preferences).\n\nFill in missing details using these DEFAULT assumptions:\n\n🔧 DEFAULT DURATION: If duration is NOT mentioned, use 7 days (6 nights) as the default.\n\nTravel Dates:\nIf the travel start date is not provided, assume the travel begins from 15 days after request_timestamp and today is 2025-11-10\nand determine the duration automatically based on the type of destination.\n\n\nCity tours → 7 days (6 nights) - DEFAULT\n\nCountry tours → 7 days (6 nights) - DEFAULT\n\nMulti-country tours → 7 days (6 nights) - DEFAULT\n\nNumber of Travelers: If not specified, assume 1 adult.\n\nBudget: If not mentioned, assume mid-range/standard budget.\n\nAccommodation: If not mentioned, assume 4-star hotels.\n\nMeal Plan: If not mentioned, assume Bed & Breakfast (BB).\n\nActivities: Assume popular tourist attractions and experiences for the destination.\n\n⚠️ CRITICAL Duration & Night Calculation Logic (MUST FOLLOW EXACTLY):\n\n🔴 SIMPLE RULE - MEMORIZE THIS:\n\nWhen customer says \"X days\":\n\nDays Mentioned → Nights to Use → Cities to Use\n1 day        → 1 night      → 1 city\n2 days       → 1 night      → 1 city  \n3 days       → 2 nights     → 2 cities\n4 days       → 3 nights     → normal logic\n5 days       → 4 nights     → normal logic\n\nDO NOT calculate anything - just use the table above!\n\nExamples:\n- Customer says \"2 days\" → You MUST write \"2 days, 1 night\" (NOT 2 nights)\n- Customer says \"3 days\" → You MUST write \"3 days, 2 nights\" (NOT 3 nights)\n- Customer says \"5 days\" → You write \"5 days, 4 nights\" (days - 1)\n- Customer does NOT mention duration → You write \"7 days, 6 nights\" (DEFAULT)\n\nOutput Format\n\nProvide only a clear, professional travel description in paragraph form.\nInclude:\n\nDestination(s)\n\nTravel dates (specific start and end dates)\n\nTotal days and nights (FOLLOW THE TABLE ABOVE EXACTLY)\n\nNumber of travelers\n\nAccommodation and meal plan\n\nBudget level\n\nKey activities or interests\n\nExample Output\n\n\"Customer requesting a Singapore city tour for 2 adults from November 15–19, 2025 (5 days, 4 nights). Mid-range budget with 4-star hotel accommodation and bed & breakfast meal plan. Interested in major attractions including Marina Bay Sands, Gardens by the Bay, Sentosa Island, and cultural spots such as Little India and Chinatown.\"\n\nCustomer Input:\n{{ $json.chatInput }}\n\n⚠️ REMEMBER: Process ONLY this current input. Ignore previous conversations. FOLLOW the days-to-nights table EXACTLY.\n\nProvide ONLY the refined travel description with all assumptions filled in. Do NOT ask questions.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1392,
        -464
      ],
      "id": "59de4342-5332-4e8d-8158-bdb12ab5cd90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -144
      ],
      "id": "1e06a497-cdf9-41ed-bd50-7ad265875ca4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        -144
      ],
      "id": "923f5780-ec50-4cbe-825a-15057742ce44",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Format AI Agent output for OpenAI Travel Parser\nconst aiAgentOutput = $input.first().json.output || $input.first().json.text || '';\nconst cleanedOutput = String(aiAgentOutput).trim();\n\nreturn [{\n  json: {\n    output: cleanedOutput,\n    emailContent: cleanedOutput\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -464
      ],
      "id": "c1fe84ea-6cae-4023-b7d3-3b2960d7c4df",
      "name": "Format for OpenAI Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert travel planner specializing in route optimization and hotel placement. Parse travel requests and provide comprehensive travel planning data in JSON format only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an expert travel planner. Parse the following travel request and provide comprehensive travel planning data with optimized routing.\\n\\n⚠ CRITICAL - FIRST RULE - READ THIS BEFORE PROCESSING ⚠\\n\\nIF the request contains \\\"1 day\\\" or \\\"1 days\\\":\\n  THEN set total_nights = 1\\n  AND set destination array = [only 1 city]\\n  Example: \\\"I want to plan my 1 days sri lanka trip\\\" → total_nights: 1, destination: [\\\"Colombo\\\"]\\n\\nELSE IF the request contains \\\"2 day\\\" or \\\"2 days\\\":\\n  THEN set total_nights = 1\\n  AND set destination array = [only 1 city]\\n  Example: \\\"I want to plan my 2 days sri lanka trip\\\" → total_nights: 1, destination: [\\\"Colombo\\\"]\\n\\nELSE IF the request contains \\\"3 day\\\" or \\\"3 days\\\":\\n  THEN set total_nights = 2\\n  AND set destination array = [exactly 2 cities]\\n  Example: \\\"I want to plan my 3 days sri lanka trip\\\" → total_nights: 2, destination: [\\\"Colombo\\\", \\\"Kandy\\\"]\\n  ❌ DO NOT use 3 cities\\n  ❌ DO NOT calculate 3-1=2\\n  ✅ HARDCODE: total_nights = 2, cities = 2\\n\\nELSE (4 or more days):\\n  THEN calculate total_nights = days - 1\\n  AND DEFAULT to 3 cities if city count not specified\\n  Example: \\\"7 days trip\\\" → total_nights: 6, destination: [3 cities by default] → 6/3 = 2 nights per city\\n  Example: \\\"10 days trip\\\" → total_nights: 9, destination: [3 cities by default] → 9/3 = 3 nights per city\\n\\nCRITICAL REQUIREMENTS:\\n1. Use current year (2025) for all dates if no year is specified\\n2. TRAVEL START DATE RULES (MANDATORY - HIGHEST PRIORITY):\\n   - If travel start date IS mentioned in request → Use that exact date\\n   - If travel start date is NOT mentioned → Default to 15 days from TODAY (2025-11-25)\\n   - Today's date: 2025-11-10\\n   - Default start date: 2025-11-25 (today + 15 days)\\n3. DURATION EXTRACTION - MANDATORY SPECIAL CASES (OVERRIDE ALL OTHER LOGIC):\\n   - Extract days if mentioned (e.g., 1 day, 2 days, 3 days, 8 days, 10 days)\\n   - ⚠️ SPECIAL CASE - 1 DAY (MANDATORY OVERRIDE):\\n     * Input: 1 day, 1 days, one day\\n     * Output: ALWAYS 1 night, ALWAYS 1 city\\n     * Ignore any city count requests\\n     * Example: I want to plan my 1 days sri lanka trip → 1 night, 1 city (NOT 0 nights, NOT 3 cities)\\n   - ⚠️ SPECIAL CASE - 2 DAYS (MANDATORY OVERRIDE):\\n     * Input: 2 day, 2 days, two days\\n     * Output: ALWAYS 1 night, ALWAYS 1 city\\n     * Ignore any city count requests\\n     * Example: I want to plan my 2 days sri lanka trip → 1 night, 1 city (NOT 2 cities)\\n   - ⚠️ SPECIAL CASE - 3 DAYS (MANDATORY OVERRIDE):\\n     * Input: 3 day, 3 days, three days\\n     * Output: ALWAYS 2 nights, ALWAYS 2 cities\\n     * Ignore default 3 cities, ignore any city count requests\\n     * Example: I want to plan my 3 days sri lanka trip → 2 nights, 2 cities (NOT 7 nights, NOT 3 cities)\\n   - NORMAL CASE - 4+ DAYS ONLY:\\n     * Calculate nights = days - 1 (e.g., 4 days = 3 nights, 8 days = 7 nights, 10 days = 9 nights)\\n     * Apply normal city selection logic\\n   - DEFAULT: 6 NIGHTS (7 days) if not mentioned\\n3. CITY AND DAY COUNT EXTRACTION - CRITICAL:\\n   - STEP 1: Extract DAYS if mentioned (1 day, 2 days, 3 days, 5 days, etc.)\\n   - STEP 2: Extract CITY COUNT if mentioned (e.g., 5 cities, 4 cities, visit 3 cities)\\n   - STEP 3: DAY-BASED CITY LIMITING (CRITICAL):\\n     * ⚠️ MANDATORY SPECIAL CASES (HIGHEST PRIORITY - OVERRIDE EVERYTHING):\\n       - If 1 day mentioned → FORCE 1 city, 1 night (ignore ALL other logic)\\n       - If 2 days mentioned → FORCE 1 city, 1 night (ignore ALL other logic)\\n       - If 3 days mentioned → FORCE 2 cities, 2 nights (ignore default 3, ignore ALL requests)\\n     * NORMAL CASE (4+ days ONLY):\\n       - If city count specified: use requested cities\\n       - If city count NOT specified: DEFAULT to 3 cities\\n       - Calculate nights per city: total_nights / city_count\\n       - max_cities = minimum of (requested_cities OR default_3, days_count)\\n     * Critical Examples:\\n       - Input: 1 day trip → Output: 1 city, 1 night (MANDATORY)\\n       - Input: 2 days trip → Output: 1 city, 1 night (MANDATORY)\\n       - Input: 3 days trip → Output: 2 cities, 2 nights (MANDATORY, NOT 3 cities)\\n       - Input: 4 days trip → Output: 3 nights, 3 cities default (normal logic)\\n       - Input: 5 days in 3 cities → Output: 4 nights, 3 cities (as specified)\\n       - Input: 7 days trip → Output: 6 nights, 3 cities default → 6/3 = 2 nights per city\\n       - Input: 9 days with 4 cities → Output: 8 nights, 4 cities → 8/4 = 2 nights per city\\n       - Input: 10 days trip → Output: 9 nights, 3 cities default → 9/3 = 3 nights per city\\n   - Extract patterns: X day, X days, in X cities, visit X cities, X cities to visit\\n   - Single-city countries (Singapore, Monaco, Dubai): Always 1 city regardless\\n4. Calculate most efficient travel route between cities\\n5. CRITICAL FORMULA: Divide total nights by number of cities - Formula: nights_per_city = total_nights / city_count\\n6. First city gets base nights, Second city gets base nights, Third city gets base nights + remainder\\n7. DO NOT include activities - only provide hotel/accommodation information\\n8. Include GPS coordinates and check-in/check-out day numbers\\n\\nJSON FORMAT (respond with ONLY this JSON, no additional text):\\n\\n⚠️ BEFORE FILLING THIS JSON - CHECK DAY COUNT:\\n- Is it 1, 2, or 3 days? → Use FORCED values from table above\\n- Is it 4+ days? → Use normal calculation\\n\\n{\\n  \\\"destination\\\": [],\\n  \\\"optimized_route\\\": [],\\n  \\\"city_stays\\\": [],\\n  \\\"duration\\\": \\\"\\\",\\n  \\\"total_nights\\\": 0,\\n  \\\"travel_dates\\\": {\\\"start\\\": \\\"\\\", \\\"end\\\": \\\"\\\"},\\n  \\\"pax\\\": {\\n    \\\"adults\\\": 0,\\n    \\\"children\\\": 0,\\n    \\\"child_ages\\\": []\\n  },\\n  \\\"meal_plan\\\": \\\"\\\",\\n  \\\"hotel_category\\\": \\\"\\\",\\n  \\\"additional_requests\\\": \\\"\\\"\\n}\\n\\nEMAIL CONTENT TO PARSE:\\n\" + $json.output + \"\\n\\nRemember:\\n- Current date: \" + new Date().toISOString().slice(0,10) + \"\\n- Default: 6 NIGHTS (7 days) if not specified\\n- Default start date: TODAY + 15 DAYS (\" + new Date(Date.now() + 15*24*60*60*1000).toISOString().slice(0,10) + \")\\n- Respond with ONLY valid JSON, no markdown\"\n    }\n  ],\n  \"temperature\": 0.7\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        -464
      ],
      "id": "ad37d750-b7db-4a2b-9aa1-485e51165d0a",
      "name": "OpenAI Travel Parser",
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI JSON response\nconst openAIResponse = $input.first().json.choices[0].message.content;\nconst inputData = $('Format for OpenAI Parser').first().json;\n\nlet travelData;\ntry {\n  let jsonString = openAIResponse.trim();\n  if (jsonString.startsWith('```json')) {\n    jsonString = jsonString.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  } else if (jsonString.startsWith('```')) {\n    jsonString = jsonString.replace(/```\\n?/g, '');\n  }\n  travelData = JSON.parse(jsonString);\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      message: \"Failed to parse OpenAI response\",\n      error: error.message,\n      raw_response: openAIResponse\n    }\n  }];\n}\n\n// Remove country name from destination array\nif (travelData.destination && Array.isArray(travelData.destination)) {\n  const countries = [\n    'Sri Lanka', 'Thailand', 'Singapore', 'Malaysia', 'Indonesia', 'Vietnam',\n    'Philippines', 'Myanmar', 'Cambodia', 'Laos', 'India', 'China', 'Japan',\n    'South Korea', 'UAE', 'United Arab Emirates', 'Maldives', 'Nepal', 'Bhutan'\n  ];\n  travelData.destination = travelData.destination.filter(dest => {\n    return !countries.some(country => \n      dest.toLowerCase().trim() === country.toLowerCase().trim()\n    );\n  });\n}\n\nconst formattedResponse = {\n  success: true,\n  message: \"Travel itinerary parsed successfully\",\n  travel_data: travelData,\n  suggestions: [\n    `Optimized route: ${travelData.optimized_route?.join(' → ') || 'Route calculated'}`,\n    `${travelData.city_stays?.length || 0} cities with ${travelData.duration || 'planned'} duration`\n  ],\n  metadata: {\n    parsed_at: new Date().toISOString(),\n    destinations_count: travelData.destination?.length || 0\n  }\n};\n\nreturn [{\n  json: formattedResponse\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -464
      ],
      "id": "fde82a3d-524d-48ea-b5a2-d201a221e66a",
      "name": "Parse Travel Data"
    },
    {
      "parameters": {
        "jsCode": "// Add cart reference and generate SINGLE cart_title for BOTH branches\nconst travelData = $input.first().json;\nconst mergeInputData = $('Merge Input Sources').first().json;\n\nlet userId = mergeInputData.sessionId;\nif (typeof userId === 'string') {\n  const numMatch = userId.match(/\\d+/);\n  userId = numMatch ? parseInt(numMatch[0]) : 1;\n} else if (typeof userId !== 'number') {\n  userId = 1;\n}\n\n// CRITICAL: Generate SINGLE cart_title for BOTH hotels and activities\nconst destination = travelData.travel_data?.destination?.[0] || 'Unknown';\nconst duration = travelData.travel_data?.duration || '';\nconst startDate = travelData.travel_data?.travel_dates?.start || '';\n\n// Generate RANDOM SUITABLE CART NAME - SAME for both hotels and activities\nconst cartNamePrefixes = [\n  'Adventure', 'Explorer', 'Wanderer', 'Voyager', 'Journey', 'Traveler',\n  'Discovery', 'Expedition', 'Paradise', 'Escape', 'Gateway', 'Odyssey',\n  'Quest', 'Retreat', 'Safari', 'Tour', 'Venture', 'Holiday', 'Getaway'\n];\n\nconst cartNameSuffixes = [\n  'Dream', 'Experience', 'Journey', 'Adventure', 'Escape', 'Paradise',\n  'Discovery', 'Quest', 'Expedition', 'Voyage', 'Trip', 'Tour', 'Plan',\n  'Package', 'Itinerary', 'Holiday', 'Getaway', 'Memories', 'Bliss'\n];\n\nconst randomPrefix = cartNamePrefixes[Math.floor(Math.random() * cartNamePrefixes.length)];\nconst randomSuffix = cartNameSuffixes[Math.floor(Math.random() * cartNameSuffixes.length)];\nconst randomNumber = Math.floor(Math.random() * 999) + 1;\n\n// Create SINGLE cart name and title for BOTH branches\nconst cartName = `${randomPrefix} ${destination} ${randomSuffix} #${randomNumber}`;\nconst cartTitle = `${cartName} - ${duration} (${startDate})`;\n\nconst dataWithMetadata = {\n  ...travelData,\n  user_id: userId,\n  cart_reference: mergeInputData.cart_reference,  // SAME cart for both branches\n  request_id: mergeInputData.request_id,\n  request_timestamp: mergeInputData.request_timestamp,\n  cart_name: cartName,  // SAME cart name for both branches\n  cart_title: cartTitle  // SAME cart title for both branches - CRITICAL!\n};\n\nreturn [{\n  json: dataWithMetadata\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -464
      ],
      "id": "ff3cfedb-2dd7-4db0-9fa2-48a536b6528c",
      "name": "Add Cart Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Process travel data: set hotel star and create destination array for ALL 3 cities\nconst httpRequest1Data = $input.first().json;\n\n// Create a deep copy to avoid mutation\nlet processedData = JSON.parse(JSON.stringify(httpRequest1Data));\n\n// Extract hotel star rating from hotel_category\nif (processedData.travel_data && processedData.travel_data.hotel_category) {\n  const hotelCategory = processedData.travel_data.hotel_category;\n  \n  // Extract number from strings like \"3-Star\", \"4-Star\", \"5-Star\"\n  const starMatch = hotelCategory.match(/(\\d+)/);\n  \n  if (starMatch) {\n    processedData.travel_data.hotel_star = parseInt(starMatch[1]);\n  } else {\n    // Default to 4 star if no number found\n    processedData.travel_data.hotel_star = 4;\n  }\n} else {\n  // Default to 4 star if hotel_category is not mentioned\n  if (!processedData.travel_data) {\n    processedData.travel_data = {};\n  }\n  processedData.travel_data.hotel_star = 4;\n}\n\n// CRITICAL: Build destination array from city_stays for ALL 3 cities\n// Each city needs hotel booking - if staying multiple nights, it's ONE hotel for all nights\nif (processedData.travel_data && processedData.travel_data.city_stays && Array.isArray(processedData.travel_data.city_stays)) {\n  const cityStays = processedData.travel_data.city_stays;\n  \n  // Build destination array with ALL cities from optimized route\n  // Each city appears ONCE even if staying multiple nights (same hotel for all nights)\n  const destinations = cityStays.map(cityStay => cityStay.city);\n  \n  // Update destination array with all 3 cities\n  processedData.travel_data.destination = destinations;\n  \n  // Create detailed city information including nights per city\n  processedData.travel_data.city_details = cityStays.map(cityStay => ({\n    city: cityStay.city,\n    nights: cityStay.nights,\n    order: cityStay.order,\n    check_in_day: cityStay.check_in_day,\n    check_out_day: cityStay.check_out_day,\n    coordinates: cityStay.coordinates,\n    accommodation_type: cityStay.accommodation_type,\n    hotel_booking_note: cityStay.nights > 1 \n      ? `Book ONE hotel for ${cityStay.nights} nights in ${cityStay.city}` \n      : `Book ONE hotel for ${cityStay.nights} night in ${cityStay.city}`\n  }));\n  \n  // Store important metadata\n  processedData.travel_data.total_cities = cityStays.length;\n  processedData.travel_data.total_nights = cityStays.reduce((sum, city) => sum + city.nights, 0);\n  processedData.travel_data.hotel_booking_summary = {\n    total_cities: cityStays.length,\n    total_hotels_needed: cityStays.length, // One hotel per city\n    booking_details: cityStays.map(city => `${city.city}: ${city.nights} night(s) in ONE hotel`)\n  };\n}\n\nreturn [{\n  json: processedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -688
      ],
      "id": "7b057d86-cdae-4e94-9610-118b15abd420",
      "name": "Process Cities & Hotel Rating"
    },
    {
      "parameters": {
        "jsCode": "// Process travel data: extract activity preferences and create city-wise activity data\nconst httpRequest1Data = $input.first().json;\n\n// Create a deep copy to avoid mutation\nlet processedData = JSON.parse(JSON.stringify(httpRequest1Data));\n\n// Extract activity preferences (replaces hotel star rating)\nif (processedData.travel_data) {\n  // Set activity preferences from budget level or use default\n  processedData.travel_data.activity_preferences = processedData.travel_data.activity_preferences || 'popular_attractions';\n  processedData.travel_data.budget_level = processedData.travel_data.budget_level || 'mid-range';\n}\n\n// CRITICAL: Build destination array and activity focus for each city\nif (processedData.travel_data && processedData.travel_data.city_stays && Array.isArray(processedData.travel_data.city_stays)) {\n  const cityStays = processedData.travel_data.city_stays;\n  \n  // Build destination array with ALL cities\n  const destinations = cityStays.map(cityStay => cityStay.city);\n  processedData.travel_data.destination = destinations;\n  \n  // Create detailed city information for activities\n  // CRITICAL: days_in_city = nights (NOT nights + 1) because checkout day has no activities\n  processedData.travel_data.city_details = cityStays.map(cityStay => ({\n    city: cityStay.city,\n    nights: cityStay.nights,\n    order: cityStay.order,\n    check_in_day: cityStay.check_in_day,\n    check_out_day: cityStay.check_out_day,\n    coordinates: cityStay.coordinates,\n    activity_focus: 'top_attractions',\n    days_in_city: cityStay.nights  // Activities only on nights, not checkout day\n  }));\n  \n  // Store important metadata\n  processedData.travel_data.total_cities = cityStays.length;\n  processedData.travel_data.total_nights = cityStays.reduce((sum, city) => sum + city.nights, 0);\n  processedData.travel_data.activity_summary = {\n    total_cities: cityStays.length,\n    total_activity_days: cityStays.reduce((sum, city) => sum + city.nights, 0),  // Activity days = nights (not checkout day)\n    activity_details: cityStays.map(city => `${city.city}: ${city.nights} days of activities (2 per day)`)\n  };\n}\n\nreturn [{\n  json: processedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -176
      ],
      "id": "775a3a9e-9011-4dc7-bc85-1bd885fb5b61",
      "name": "Process Cities & Activities"
    },
    {
      "parameters": {
        "jsCode": "// Merge Google Sheets data with processed activities data - FILTER BY REQUESTED CITIES ONLY\n// Include ALL activity parameters from Google Sheets\nconst processedData = $('Process Cities & Activities').first().json;\nconst sheetsData = $input.all();\n\n// Get the list of cities from Process Cities & Activities\nconst requestedCities = processedData.travel_data?.destination || [];\n\n// Extract ALL activity parameters from Google Sheets (Sheet4)\nconst sheetActivities = sheetsData.map(row => ({\n  country: row.json.Country || row.json.country,\n  city: row.json.City || row.json.city,\n  lifestyle_category: row.json['Lifestyle Category'] || row.json['Lifestyle  Category'] || row.json.lifestyle_category,\n  must_do_activity: row.json['Must Do Activity'] || row.json.must_do_activity,\n  aahaas_id: row.json['Aahaas ID'] || row.json['Aahaas  ID'] || row.json.aahaas_id,\n  apple_id: row.json['Apple ID'] || row.json.apple_id,\n  extra1: row.json['Extra1'] || row.json.extra1,\n  extra2: row.json['Extra2'] || row.json.extra2\n}));\n\n// CRITICAL: Filter activities to ONLY include cities from the itinerary\nconst filteredActivities = sheetActivities.filter(item => {\n  if (!item.city) return false;\n  \n  // Check if this city is in the requested cities list (case-insensitive)\n  return requestedCities.some(requestedCity => \n    requestedCity.toLowerCase().trim() === item.city.toLowerCase().trim()\n  );\n});\n\n// Add filtered Google Sheets data to processed data\nprocessedData.google_sheets_activities = filteredActivities;\n\n// Group activities by city from Google Sheets (only for requested cities)\n// Include ALL activity parameters in the output\nconst activitiesByCity = {};\nfilteredActivities.forEach(item => {\n  const city = item.city;\n  if (city && item.must_do_activity) {\n    if (!activitiesByCity[city]) {\n      activitiesByCity[city] = [];\n    }\n    activitiesByCity[city].push({\n      lifestyle_category: item.lifestyle_category,\n      must_do_activity: item.must_do_activity,\n      aahaas_id: item.aahaas_id,\n      apple_id: item.apple_id,\n      extra1: item.extra1,\n      extra2: item.extra2,\n      country: item.country,\n      city: item.city\n    });\n  }\n});\n\nprocessedData.activities_by_city = activitiesByCity;\n\n// Add metadata about filtering\nprocessedData.activity_metadata = {\n  requested_cities: requestedCities,\n  total_sheet_activities: sheetActivities.length,\n  filtered_activities_count: filteredActivities.length,\n  cities_with_activities: Object.keys(activitiesByCity),\n  cities_without_activities: requestedCities.filter(city => !activitiesByCity[city])\n};\n\nreturn [{\n  json: processedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -176
      ],
      "id": "a82f70bf-d77f-40d2-9f4a-25ed52111750",
      "name": "Merge Sheets Data"
    },
    {
      "parameters": {
        "jsCode": "// Sanitize data for Hotels API and validate required fields\nconst inputData = $input.first().json;\n\n// CRITICAL: Validate that we have the required travel_data structure\nif (!inputData.travel_data || typeof inputData.travel_data !== 'object') {\n  throw new Error('Missing travel_data object. Data flow is broken. Check that \"Merge Sheets Data1\" is receiving data from \"Process Cities & Hotel Rating\".');\n}\n\nif (!inputData.user_id) {\n  throw new Error('Missing user_id. Check data flow from \"Add Cart Metadata\".');\n}\n\nif (!inputData.cart_reference) {\n  throw new Error('Missing cart_reference. Check data flow from \"Add Cart Metadata\".');\n}\n\n// WARNING: Log if destination or city_details are missing, but don't fail\n// These will be populated by OpenAI if missing\nif (!inputData.travel_data.destination || inputData.travel_data.destination.length === 0) {\n  console.warn('WARNING: destination is empty in travel_data. OpenAI will generate it.');\n  // Initialize empty array if missing\n  if (!inputData.travel_data.destination) {\n    inputData.travel_data.destination = [];\n  }\n}\n\nif (!inputData.travel_data.city_details || inputData.travel_data.city_details.length === 0) {\n  console.warn('WARNING: city_details is empty in travel_data. OpenAI will generate it.');\n  // Initialize empty array if missing\n  if (!inputData.travel_data.city_details) {\n    inputData.travel_data.city_details = [];\n  }\n}\n\nfunction cleanString(str) {\n  if (typeof str !== 'string') return str;\n  return str.replace(/[\\x00-\\x08\\x0B-\\x0C\\x0E-\\x1F\\x7F]/g, '');\n}\n\nfunction cleanObject(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return cleanString(obj);\n  if (Array.isArray(obj)) return obj.map(item => cleanObject(item));\n  if (typeof obj === 'object') {\n    const cleaned = {};\n    for (const key in obj) {\n      if (obj.hasOwnProperty(key)) cleaned[key] = cleanObject(obj[key]);\n    }\n    return cleaned;\n  }\n  return obj;\n}\n\nreturn [{ json: cleanObject(inputData) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -832
      ],
      "id": "5e9d5390-8af3-4568-9bd0-6b509dc89ce2",
      "name": "Sanitize Hotels Data"
    },
    {
      "parameters": {
        "jsCode": "// Sanitize data for Activities API and validate required fields\nconst inputData = $input.first().json;\n\n// CRITICAL: Validate that we have the required travel_data structure\nif (!inputData.travel_data || typeof inputData.travel_data !== 'object') {\n  throw new Error('Missing travel_data object. Data flow is broken. Check that \"Merge Sheets Data\" is receiving data from \"Process Cities & Activities\".');\n}\n\nif (!inputData.user_id) {\n  throw new Error('Missing user_id. Check data flow from \"Add Cart Metadata\".');\n}\n\nif (!inputData.cart_reference) {\n  throw new Error('Missing cart_reference. Check data flow from \"Add Cart Metadata\".');\n}\n\n// WARNING: Log if destination or city_details are missing, but don't fail\n// These will be populated by OpenAI if missing\nif (!inputData.travel_data.destination || inputData.travel_data.destination.length === 0) {\n  console.warn('WARNING: destination is empty in travel_data. OpenAI will generate it.');\n  // Initialize empty array if missing\n  if (!inputData.travel_data.destination) {\n    inputData.travel_data.destination = [];\n  }\n}\n\nif (!inputData.travel_data.city_details || inputData.travel_data.city_details.length === 0) {\n  console.warn('WARNING: city_details is empty in travel_data. OpenAI will generate it.');\n  // Initialize empty array if missing\n  if (!inputData.travel_data.city_details) {\n    inputData.travel_data.city_details = [];\n  }\n}\n\nfunction cleanString(str) {\n  if (typeof str !== 'string') return str;\n  return str.replace(/[\\x00-\\x08\\x0B-\\x0C\\x0E-\\x1F\\x7F]/g, '');\n}\n\nfunction cleanObject(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return cleanString(obj);\n  if (Array.isArray(obj)) return obj.map(item => cleanObject(item));\n  if (typeof obj === 'object') {\n    const cleaned = {};\n    for (const key in obj) {\n      if (obj.hasOwnProperty(key)) cleaned[key] = cleanObject(obj[key]);\n    }\n    return cleaned;\n  }\n  return obj;\n}\n\nreturn [{ json: cleanObject(inputData) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -176
      ],
      "id": "7d9ed080-beb3-49b2-9bcf-81cee43808a5",
      "name": "Sanitize Activities Data"
    },
    {
      "parameters": {
        "jsCode": "// Build OpenAI prompt for HOTELS-ONLY itinerary generation\nconst inputData = $input.first().json;\nconst data = inputData.travel_data || {};\n\nconst destination = data.destination?.[0] || 'Unknown';\nconst startDate = data.travel_dates?.start || '';\nconst endDate = data.travel_dates?.end || '';\nconst duration = data.duration || '';\nconst adults = data.pax?.adults || 1;\nconst children = data.pax?.children || 0;\nconst childAges = data.pax?.child_ages || [];\nconst mealPlan = data.meal_plan || 'BB';\nconst hotelCategory = data.hotel_category || '4-Star';\nconst starCategory = data.hotel_star || 4;\n\n// Get cities from city_details\nconst cities = data.city_details || [];\nconst citiesStr = cities.map(c => `${c.city} (${c.nights} nights, Days ${c.check_in_day}-${c.check_out_day})`).join(', ');\n\n// Calculate total days\nconst start = new Date(startDate);\nconst end = new Date(endDate);\nconst totalDays = Math.ceil((end - start) / (1000 * 60 * 60 * 24)) + 1;\n\n// Build city stays breakdown text\nconst cityStaysBreakdown = cities.map(c => `- ${c.city}: ${c.nights} nights (Check-in Day ${c.check_in_day}, Check-out Day ${c.check_out_day}) at ${c.coordinates}`).join('\\n');\n\n// Build city planning section\nlet cityPlanningText = '- Respect the city stays schedule\\n';\nif (cities[0]) {\n  cityPlanningText += `   - Day ${cities[0].check_in_day}-${cities[0].check_out_day}: Stay in ${cities[0].city}\\n`;\n}\nif (cities[1]) {\n  cityPlanningText += `   - Day ${cities[1].check_in_day}-${cities[1].check_out_day}: Stay in ${cities[1].city}\\n`;\n}\nif (cities[2]) {\n  cityPlanningText += `   - Day ${cities[2].check_in_day}-${cities[2].check_out_day}: Stay in ${cities[2].city}\\n`;\n}\n\n// Build example itinerary text\nconst exampleItinerary = cities.map(city => {\n  const startDay = city.check_in_day;\n  const endDay = city.check_out_day;\n  const nights = city.nights;\n  return `Days ${startDay}-${endDay - 1} (${city.city} - ${nights} nights):\\n- Accommodation in ${city.city}\\n- Coordinates near ${city.coordinates}`;\n}).join('\\n\\n');\n\nconst lastCity = cities[cities.length - 1]?.city || 'last city';\nconst citiesRoute = cities.map(c => c.city).join(' → ');\n\n// Build the complete prompt\nconst userPrompt = `You are an expert travel planner. Create a detailed day-by-day itinerary for a ${totalDays}-day trip.\\n\\nIMPORTANT: HOTELS/ACCOMMODATION ONLY - DO NOT include activities!\\n\\nTRIP DETAILS:\\n- Cities: ${citiesStr}\\n- Duration: ${duration} (${startDate} to ${endDate})\\n- Total Days: ${totalDays}\\n- Travelers: ${adults} adults, ${children} children\\n- Child Ages: ${JSON.stringify(childAges)}\\n- Meal Plan: ${mealPlan}\\n- Hotel Category: ${hotelCategory} (${starCategory}-Star)\\n\\nCITY STAYS BREAKDOWN:\\n${cityStaysBreakdown}\\n\\nCRITICAL REQUIREMENTS:\\n\\n1. HOTELS ONLY - NO ACTIVITIES:\\n   - DO NOT include activities array\\n   - DO NOT include activity details\\n   - ONLY provide accommodation information per day\\n\\n2. PAX OBJECT (MANDATORY):\\n   - EVERY day MUST include pax object: {\\\"adults\\\": ${adults}, \\\"children\\\": ${children}, \\\"child_ages\\\": ${JSON.stringify(childAges)}}\\n\\n3. ONE HOTEL PER CITY FOR ALL NIGHTS:\\n   - Each city gets ONE hotel booking for ALL nights in that city\\n   - Example: 10 days 9 nights, 3 cities (9÷3=3 nights each):\\n     * City 1 (Days 1-3): ONE hotel, check_in Day 1, check_out Day 4\\n       - Day 1: accommodation with check_in=\\\"2025-12-15\\\", check_out=\\\"2025-12-18\\\"\\n       - Day 2: accommodation with SAME check_in=\\\"2025-12-15\\\", check_out=\\\"2025-12-18\\\"\\n       - Day 3: accommodation with SAME check_in=\\\"2025-12-15\\\", check_out=\\\"2025-12-18\\\"\\n     * City 2 (Days 4-6): ONE hotel, check_in Day 4, check_out Day 7\\n       - Day 4: accommodation with check_in=\\\"2025-12-18\\\", check_out=\\\"2025-12-21\\\"\\n       - Day 5: accommodation with SAME check_in=\\\"2025-12-18\\\", check_out=\\\"2025-12-21\\\"\\n       - Day 6: accommodation with SAME check_in=\\\"2025-12-18\\\", check_out=\\\"2025-12-21\\\"\\n     * City 3 (Days 7-9): ONE hotel, check_in Day 7, check_out Day 10\\n       - Day 7: accommodation with check_in=\\\"2025-12-21\\\", check_out=\\\"2025-12-24\\\"\\n       - Day 8: accommodation with SAME check_in=\\\"2025-12-21\\\", check_out=\\\"2025-12-24\\\"\\n       - Day 9: accommodation with SAME check_in=\\\"2025-12-21\\\", check_out=\\\"2025-12-24\\\"\\n   - All days in same city MUST have IDENTICAL accommodation object\\n   - Check-in date = First day of city stay\\n   - Check-out date = Last day of city stay + 1 day\\n\\n4. ACCOMMODATION (MANDATORY FIELDS):\\n   - check_in: date (YYYY-MM-DD) - FIRST day of stay in that city\\n   - check_out: date (YYYY-MM-DD) - LAST day of stay + 1 day in that city\\n   - star_category: ${starCategory} (integer)\\n   - keywords: [\\\"${hotelCategory}\\\", \\\"${mealPlan}\\\", city name, amenities like \\\"pool\\\", \\\"wifi\\\", \\\"breakfast\\\"]\\n   - latitude: number\\n   - longitude: number\\n\\n5. CITY-BASED PLANNING:\\n${cityPlanningText}\\n\\nREQUIRED JSON STRUCTURE (HOTELS ONLY):\\n\\n{\\n  \\\"itinerary\\\": [\\n    {\\n      \\\"day\\\": 1,\\n      \\\"date\\\": \\\"${startDate}\\\",\\n      \\\"city\\\": \\\"${cities[0]?.city || 'City Name'}\\\",\\n      \\\"pax\\\": {\\n        \\\"adults\\\": ${adults},\\n        \\\"children\\\": ${children},\\n        \\\"child_ages\\\": ${JSON.stringify(childAges)}\\n      },\\n      \\\"accommodation\\\": {\\n        \\\"check_in\\\": \\\"${startDate}\\\",\\n        \\\"check_out\\\": \\\"2025-12-16\\\",\\n        \\\"star_category\\\": ${starCategory},\\n        \\\"keywords\\\": [\\\"${hotelCategory}\\\", \\\"${mealPlan}\\\", \\\"city\\\", \\\"pool\\\", \\\"wifi\\\"],\\n        \\\"latitude\\\": 7.2910,\\n        \\\"longitude\\\": 80.6350\\n      }\\n    }\\n  ]\\n}\\n\\nEXAMPLE FOR ${totalDays}-DAY ITINERARY (HOTELS ONLY):\\n\\n${exampleItinerary}\\n\\nDay ${totalDays} (${endDate}): \\n- Departure day from ${lastCity}\\n- NO accommodation (checkout day)\\n- Set accommodation to null\\n\\nCRITICAL REMINDERS:\\n✓ DO NOT include activities - HOTELS ONLY\\n✓ EVERY day MUST have pax object at day level\\n✓ EVERY accommodation MUST have star_category: ${starCategory}\\n✓ Accommodation keywords MUST include \\\"${hotelCategory}\\\" and \\\"${mealPlan}\\\"\\n✓ ALL days in same city MUST have IDENTICAL accommodation check_in and check_out dates\\n✓ Respect city stays schedule (${citiesRoute})\\n✓ Last day (Day ${totalDays}) has NO accommodation (set to null)\\n✓ Respond with ONLY valid JSON, no markdown\\n\\nGenerate the HOTELS-ONLY itinerary now!`;\n\n// Build the OpenAI API request body\nconst requestBody = {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert travel planner. Create detailed day-by-day hotel itineraries in JSON format only. DO NOT include activities.\"\n    },\n    {\n      role: \"user\",\n      content: userPrompt\n    }\n  ],\n  temperature: 0.7\n};\n\n// Return data with the request body and original input data\nreturn [{\n  json: {\n    ...inputData,\n    openai_request: requestBody\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -832
      ],
      "id": "f5292d5a-a5e7-4233-b136-32ff53b1abdf",
      "name": "Build Itinerary Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Build OpenAI prompt for ACTIVITIES-ONLY itinerary generation\nconst inputData = $input.first().json;\nconst data = inputData.travel_data || {};\n\nconst destination = data.destination?.[0] || 'Unknown';\nconst startDate = data.travel_dates?.start || '';\nconst endDate = data.travel_dates?.end || '';\nconst duration = data.duration || '';\nconst adults = data.pax?.adults || 1;\nconst children = data.pax?.children || 0;\nconst childAges = data.pax?.child_ages || [];\nconst activityPreferences = data.activity_preferences || 'popular_attractions';\nconst budgetLevel = data.budget_level || 'mid-range';\n\n// Get cities from city_details\nconst cities = data.city_details || [];\nconst citiesStr = cities.map(c => `${c.city} (${c.days_in_city} days)`).join(', ');\n\n// Calculate total days\nconst start = new Date(startDate);\nconst end = new Date(endDate);\nconst totalDays = Math.ceil((end - start) / (1000 * 60 * 60 * 24)) + 1;\n\n// Build city stays breakdown\nconst cityStaysBreakdown = cities.map(c => `- ${c.city}: ${c.days_in_city} days with activities (Day ${c.check_in_day} to Day ${c.check_out_day - 1}) - NO activities on checkout day ${c.check_out_day}`).join('\\n');\n\nconst lastCity = cities[cities.length - 1]?.city || 'last city';\nconst citiesRoute = cities.map(c => c.city).join(' → ');\n\n// Build detailed city-specific activity instructions\nconst cityActivityInstructions = cities.map((city, index) => {\n  const cityNum = index + 1;\n  const checkInDay = city.check_in_day;\n  const checkOutDay = city.check_out_day;\n  const stayDays = [];\n  \n  // Generate list of days for this city (excluding checkout day)\n  for (let day = checkInDay; day < checkOutDay; day++) {\n    stayDays.push(day);\n  }\n  \n  return `CITY ${cityNum}: ${city.city}\\n   - Days ${checkInDay} to ${checkOutDay - 1} (${city.nights} nights = ${city.nights} days with activities)\\n   - Day ${checkOutDay} is checkout day - NO ACTIVITIES on this day\\n   - Activities MUST be in ${city.city} area ONLY\\n   - GPS coordinates MUST be within ${city.city} city limits\\n   - MAXIMUM 2 activities per day (strictly enforced - NO exceptions)\\n   - Activities should be LOCAL to ${city.city} - NOT from other cities`;\n}).join('\\n\\n');\n\n// Get activities from Google Sheets grouped by city\nconst activitiesByCity = inputData.activities_by_city || {};\n\n// Build available activities list for each city from Google Sheets\nlet availableActivitiesText = '\\n\\n⚠️ AVAILABLE ACTIVITIES FROM DATABASE (PRIORITY - USE THESE ACTIVITIES):\\n\\n';\nlet hasActivitiesData = false;\n\ncities.forEach(city => {\n  const cityName = city.city;\n  const cityActivities = activitiesByCity[cityName] || [];\n  \n  if (cityActivities.length > 0) {\n    hasActivitiesData = true;\n    availableActivitiesText += `${cityName} Activities (SELECT FROM THESE):\\n`;\n    cityActivities.forEach((act, index) => {\n      availableActivitiesText += `  ${index + 1}. ${act.activity_name}\\n`;\n    });\n    availableActivitiesText += '\\n';\n  }\n});\n\nif (!hasActivitiesData) {\n  availableActivitiesText = '\\n\\n⚠️ NOTE: No pre-defined activities found in database. Suggest popular tourist attractions for each city.\\n\\n';\n} else {\n  availableActivitiesText += '⚠️ CRITICAL INSTRUCTIONS:\\n';\n  availableActivitiesText += '1. PRIORITIZE activities from the database list above\\n';\n  availableActivitiesText += '2. If a city has database activities, USE THEM FIRST\\n';\n  availableActivitiesText += '3. If database activities are insufficient, add popular attractions to meet 2 activities per day\\n';\n  availableActivitiesText += '4. If a city has NO database activities, suggest popular attractions for that city\\n\\n';\n}\n\n// Build the complete prompt for ACTIVITIES with strict city-wise filtering\nconst userPrompt = `You are an expert travel planner. Create a detailed day-by-day ACTIVITIES itinerary for a ${totalDays}-day trip.\n\n⚠️ CRITICAL: CITY-WISE ACTIVITY FILTERING - READ THIS FIRST! ⚠️\n\nEach city in the itinerary has specific check-in and check-out days.\nYou MUST suggest activities ONLY for the city where the traveler is staying on that specific day.\nActivities are ONLY on days when they are staying (check-in day to day before checkout).\n\nExample - 9 days with 4 cities:\n- Days 1-2 in Colombo (checkout Day 3) → Activities on Day 1 & 2 ONLY in Colombo (2 activities each day)\n- Days 3-4 in Kandy (checkout Day 5) → Activities on Day 3 & 4 ONLY in Kandy (2 activities each day)\n- Days 5-6 in Ella (checkout Day 7) → Activities on Day 5 & 6 ONLY in Ella (2 activities each day)\n- Days 7-8 in Galle (checkout Day 9) → Activities on Day 7 & 8 ONLY in Galle (2 activities each day)\n- Day 9 is departure - NO ACTIVITIES\n\nDO NOT mix cities! If they are staying in Colombo, do NOT suggest Kandy or Galle activities.\n\nIMPORTANT: ACTIVITIES ONLY - DO NOT include accommodation/hotels!\n\nTRIP DETAILS:\n- Cities: ${citiesStr}\n- Duration: ${duration} (${startDate} to ${endDate})\n- Total Days: ${totalDays}\n- Travelers: ${adults} adults, ${children} children\n- Child Ages: ${JSON.stringify(childAges)}\n- Activity Preferences: ${activityPreferences}\n- Budget Level: ${budgetLevel}\n\nCITY BREAKDOWN WITH STRICT ACTIVITY ZONES:\n${cityStaysBreakdown}\n\n⚠️ MANDATORY CITY-WISE ACTIVITY MAPPING:\n${cityActivityInstructions}\n${availableActivitiesText}\nCRITICAL REQUIREMENTS:\n\n1. ACTIVITIES ONLY - NO HOTELS:\n   - DO NOT include accommodation/hotel information\n   - FOCUS on activities, attractions, experiences\n   - Include activities array for each day\n\n2. PAX OBJECT (MANDATORY):\n   - EVERY day MUST include pax object: {\"adults\": ${adults}, \"children\": ${children}, \"child_ages\": ${JSON.stringify(childAges)}}\n\n3. ⚠️ STRICT CITY-WISE ACTIVITY RULES (MOST IMPORTANT):\n   - MAXIMUM 2 activities per day (STRICTLY ENFORCED - DO NOT suggest 3 or more)\n   - Each day MUST have EXACTLY 2 activities (or 1-2 if very limited options)\n   - DO NOT suggest 3 activities per day under any circumstances\n   - Activities ONLY on days between check-in and (check-out - 1)\n   - NO activities on checkout day (departure day)\n   - Activities MUST match the city where they are staying that day\n   - If Day 1-2 is Colombo, suggest ONLY Colombo activities on Days 1 & 2\n   - If Day 3-4 is Kandy, suggest ONLY Kandy activities on Days 3 & 4\n   - If Day 5-6 is Ella, suggest ONLY Ella activities on Days 5 & 6\n   - GPS coordinates MUST be within the correct city boundaries\n   - DO NOT suggest activities from other cities\n   - Last day (final checkout/departure day): NO activities at all\n\n4. ACTIVITY CATEGORIES with sub_category_id mapping:\n   - Adventure = 1\n   - Entertainment = 2\n   - Health & Wellness = 3\n   - Event = 4\n   - Tours = 5\n   - Transport = 6\n   - Services = 7\n   - Tickets = 8\n   - Culinary = 9\n   - Experience = 10\n   - Vacation Packages = 46\n\n5. ACTIVITY OBJECT (MANDATORY FIELDS):\n   - activity_name: string (name of attraction/activity)\n   - category: string (Adventure/Entertainment/Health & Wellness/Event/Tours/Transport/Services/Tickets/Culinary/Experience/Vacation Packages)\n   - sub_category_id: integer (MANDATORY - use mapping above based on category)\n   - description: string (brief description mentioning the city)\n   - duration: string (e.g., \"2-3 hours\", \"half day\", \"full day\")\n   - latitude: number (GPS coordinate within the correct city)\n   - longitude: number (GPS coordinate within the correct city)\n   - best_time: string (e.g., \"morning\", \"afternoon\", \"evening\", \"anytime\")\n   - cost_level: string (\"free\", \"low\", \"medium\", \"high\")\n\n6. CITY-BASED PLANNING:\n   - Respect the city schedule STRICTLY: ${citiesRoute}\n   - Each day's activities MUST be in the correct city\n   - Verify GPS coordinates match the city\n\nREQUIRED JSON STRUCTURE (ACTIVITIES ONLY):\n\n{\n  \"itinerary\": [\n    {\n      \"day\": 1,\n      \"date\": \"${startDate}\",\n      \"city\": \"${cities[0]?.city || 'City Name'}\",\n      \"pax\": {\n        \"adults\": ${adults},\n        \"children\": ${children},\n        \"child_ages\": ${JSON.stringify(childAges)}\n      },\n      \"activities\": [\n        {\n          \"activity_name\": \"Galle Face Green\",\n          \"category\": \"Tours\",\n          \"sub_category_id\": 5,\n          \"description\": \"Scenic promenade in Colombo city center\",\n          \"duration\": \"2 hours\",\n          \"latitude\": 6.9271,\n          \"longitude\": 79.8612,\n          \"best_time\": \"evening\",\n          \"cost_level\": \"free\"\n        },\n        {\n          \"activity_name\": \"National Museum of Colombo\",\n          \"category\": \"Tours\",\n          \"sub_category_id\": 5,\n          \"description\": \"Sri Lanka's largest museum in Colombo\",\n          \"duration\": \"2-3 hours\",\n          \"latitude\": 6.9074,\n          \"longitude\": 79.8612,\n          \"best_time\": \"morning\",\n          \"cost_level\": \"low\"\n        }\n      ]\n    }\n  ]\n}\n\n⚠️ CRITICAL VALIDATION CHECKLIST BEFORE GENERATING:\n✓ DO NOT include hotels/accommodation - ACTIVITIES ONLY\n✓ EVERY day MUST have pax object\n✓ MAXIMUM 2 activities per day (STRICTLY ENFORCED - DO NOT suggest 3 activities)\n✓ EVERY activity MUST have latitude and longitude IN THE CORRECT CITY\n✓ EVERY activity MUST have sub_category_id (use category mapping)\n✓ Category mapping: Adventure=1, Entertainment=2, Health & Wellness=3, Event=4, Tours=5, Transport=6, Services=7, Tickets=8, Culinary=9, Experience=10, Vacation Packages=46\n✓ Activities MUST match the city for that day (e.g., Day 1-2 Colombo = Colombo activities ONLY)\n✓ GPS coordinates MUST be within city boundaries\n✓ Mix different activity categories within same city\n✓ Consider child ages when suggesting activities\n✓ Respect city schedule STRICTLY (${citiesRoute})\n✓ Last day (checkout): NO activities at all - it's departure day\n✓ Example: 9 days trip = Days 1-8 have activities, Day 9 NO activities\n✓ Each active day (not checkout) has EXACTLY 2 activities in the correct city\n✓ Respond with ONLY valid JSON, no markdown\n\nGenerate the CITY-WISE ACTIVITIES-ONLY itinerary now with strict location filtering!`;\n\n// Build the OpenAI API request body\nconst requestBody = {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert travel planner. Create detailed day-by-day activity itineraries with GPS coordinates and sub_category_id in JSON format only. EVERY activity MUST include sub_category_id based on category mapping: Adventure=1, Entertainment=2, Health & Wellness=3, Event=4, Tours=5, Transport=6, Services=7, Tickets=8, Culinary=9, Experience=10, Vacation Packages=46. DO NOT include hotels/accommodation. CRITICAL: Activities MUST be city-specific - only suggest activities in the city where the traveler is staying that day.\"\n    },\n    {\n      role: \"user\",\n      content: userPrompt\n    }\n  ],\n  temperature: 0.7\n};\n\n// Return data with the request body and original input data\nreturn [{\n  json: {\n    ...inputData,\n    openai_request: requestBody\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -176
      ],
      "id": "5555d094-431d-41a7-be7a-fc7fe56e575d",
      "name": "Build Activities Itinerary Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_request) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -832
      ],
      "id": "4df834ac-1b12-4588-a209-d2baf6b8f1db",
      "name": "Generate Hotels Itinerary",
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_request) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -176
      ],
      "id": "3bf6df5c-0568-4626-9eca-e2fb5315573a",
      "name": "Generate Activities Itinerary",
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI itinerary response and format for cart processing (HOTELS ONLY)\n// CRITICAL: Group hotels by city - ONE HOTEL PER CITY, not per day\n// IMPORTANT: Pass google_sheets_hotels data through the pipeline\nconst openAIResponse = $input.first().json.choices[0].message.content;\nconst inputData = $('Sanitize Hotels Data').first().json;\n\nlet itineraryData;\ntry {\n  // Remove markdown code blocks if present\n  let jsonString = openAIResponse.trim();\n  if (jsonString.startsWith('```json')) {\n    jsonString = jsonString.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  } else if (jsonString.startsWith('```')) {\n    jsonString = jsonString.replace(/```\\n?/g, '');\n  }\n  \n  itineraryData = JSON.parse(jsonString);\n  \n  // Validate that itinerary exists and is an array\n  if (!itineraryData || !itineraryData.itinerary || !Array.isArray(itineraryData.itinerary)) {\n    throw new Error('Parsed JSON does not contain a valid itinerary array');\n  }\n  \n  if (itineraryData.itinerary.length === 0) {\n    throw new Error('Itinerary array is empty');\n  }\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      message: \"Failed to parse OpenAI itinerary response\",\n      error: error.message,\n      raw_response: openAIResponse,\n      inputData: inputData\n    }\n  }];\n}\n\n// CRITICAL: Group days by city to create ONE hotel booking per city\nconst cityGroups = {};\nconst itineraryWithHotelsOnly = [];\n\nitineraryData.itinerary.forEach(day => {\n  const cityName = day.city;\n  \n  // Group days by city\n  if (!cityGroups[cityName]) {\n    cityGroups[cityName] = {\n      days: [],\n      accommodation: day.accommodation && day.accommodation !== null ? day.accommodation : null,\n      pax: day.pax\n    };\n  }\n  \n  cityGroups[cityName].days.push({\n    day: day.day,\n    date: day.date\n  });\n});\n\n// Build itinerary with ONE accommodation entry per city (not per day)\n// Each city gets ONE hotel for ALL its nights\nitineraryData.itinerary.forEach(day => {\n  const dayData = {\n    day: day.day,\n    date: day.date,\n    city: day.city,\n    pax: day.pax\n  };\n  \n  // Only add accommodation for the FIRST day of each city\n  const cityName = day.city;\n  const cityDays = cityGroups[cityName].days;\n  const isFirstDayInCity = cityDays[0].day === day.day;\n  \n  if (isFirstDayInCity && day.accommodation && day.accommodation !== null) {\n    // This is the first day in this city - add accommodation for the entire stay\n    dayData.accommodation = day.accommodation;\n  } else if (!day.accommodation || day.accommodation === null) {\n    // Last day - no accommodation\n    dayData.accommodation = [];\n  }\n  // Other days in the same city: NO accommodation field (will be handled by Laravel)\n  \n  itineraryWithHotelsOnly.push(dayData);\n});\n\n// Get the unique cart_reference, cart_name, and cart_title generated at the start of the flow\n// Use fallbacks if data is missing\nconst cartReference = inputData.cart_reference || `CART_${Date.now()}_FALLBACK`;\nconst requestId = inputData.request_id || `REQ_${Date.now()}_FALLBACK`;\nconst cartName = inputData.cart_name || 'Travel Cart';\nconst cartTitle = inputData.cart_title || 'Your Travel Itinerary';\nconst userId = inputData.user_id || 1;\nconst travelData = inputData.travel_data || {};\n\n// CRITICAL: Pass through google_sheets_hotels and hotels_by_city from input\nconst googleSheetsHotels = inputData.google_sheets_hotels || [];\nconst hotelsByCity = inputData.hotels_by_city || {};\n\n// Use the shared cart title as itinerary title\nconst itineraryTitle = cartTitle;\n\n// Format response to match Laravel API structure\n// IMPORTANT: Include google_sheets_hotels for the next node\nconst formattedResponse = {\n  success: true,\n  message: \"Day-wise hotel itinerary generated successfully\",\n  itinerary_title: itineraryTitle,\n  cart_name: cartName,  // Human-readable cart name\n  cart_reference: cartReference,  // Use cart reference from beginning of flow\n  request_id: requestId,  // Request tracking ID\n  itinerary: itineraryWithHotelsOnly,\n  travel_data: travelData,\n  user_id: userId,\n  force_new_cart: true,  // Always create new cart for each request\n  google_sheets_hotels: googleSheetsHotels,  // Pass through Google Sheets hotel data\n  hotels_by_city: hotelsByCity,  // Pass through hotels grouped by city\n  metadata: {\n    total_days: itineraryWithHotelsOnly.length,\n    total_hotels: itineraryWithHotelsOnly.filter(day => day.accommodation && Array.isArray(day.accommodation) && day.accommodation.length === 0 ? false : day.accommodation).length,\n    generated_at: new Date().toISOString(),\n    generation_method: \"OpenAI GPT-4o\",\n    note: \"Hotels only - no activities included\",\n    cart_reference: cartReference,\n    cart_name: cartName,\n    request_id: requestId\n  }\n};\n\nreturn [{\n  json: formattedResponse\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -832
      ],
      "id": "63788f80-400a-4841-b080-828935686b5e",
      "name": "Parse Itinerary Response"
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI itinerary response and format for cart processing (ACTIVITIES ONLY)\n// IMPORTANT: Pass google_sheets_activities data through the pipeline\n// FEATURE: Limit maximum activities per day (configurable)\n\n// ============================================\n// 🔧 ACTIVITY LIMIT CONFIGURATION\n// ============================================\nconst MAX_ACTIVITIES_PER_DAY = 2;  // Change this value to limit activities per day (e.g., 1, 2, 3, etc.)\n// ============================================\n\nconst openAIResponse = $input.first().json.choices[0].message.content;\nconst inputData = $('Sanitize Activities Data').first().json;\n\nlet itineraryData;\ntry {\n  // Remove markdown code blocks if present\n  let jsonString = openAIResponse.trim();\n  if (jsonString.startsWith('```json')) {\n    jsonString = jsonString.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  } else if (jsonString.startsWith('```')) {\n    jsonString = jsonString.replace(/```\\n?/g, '');\n  }\n  \n  itineraryData = JSON.parse(jsonString);\n  \n  // Validate that itinerary exists and is an array\n  if (!itineraryData.itinerary || !Array.isArray(itineraryData.itinerary)) {\n    throw new Error('Parsed JSON does not contain a valid itinerary array');\n  }\n  \n  if (itineraryData.itinerary.length === 0) {\n    throw new Error('Itinerary array is empty');\n  }\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      message: \"Failed to parse OpenAI itinerary response\",\n      error: error.message,\n      raw_response: openAIResponse,\n      inputData: inputData\n    }\n  }];\n}\n\n// Get the unique cart_reference, cart_name, and cart_title generated at the start of the flow\n// Use fallbacks if data is missing\nconst cartReference = inputData.cart_reference || `CART_${Date.now()}_FALLBACK`;\nconst requestId = inputData.request_id || `REQ_${Date.now()}_FALLBACK`;\nconst cartName = inputData.cart_name || 'Travel Cart';\nconst cartTitle = inputData.cart_title || 'Your Travel Itinerary';\nconst userId = inputData.user_id || 1;\nconst travelData = inputData.travel_data || {};\n\n// CRITICAL: Pass through google_sheets_activities and activities_by_city from input\nconst googleSheetsActivities = inputData.google_sheets_activities || [];\nconst activitiesByCity = inputData.activities_by_city || {};\n\n// Get start date from travel_data to calculate dates for each day\nconst startDate = travelData.travel_dates?.start || new Date().toISOString().split('T')[0];\n\n// Function to calculate date for a specific day\nfunction calculateDate(dayNumber, startDateStr) {\n  const start = new Date(startDateStr);\n  const targetDate = new Date(start);\n  targetDate.setDate(start.getDate() + (dayNumber - 1));\n  return targetDate.toISOString().split('T')[0];\n}\n\n// Build itinerary with activities (no accommodation) and calculate dates\n// CRITICAL: Limit activities per day to MAX_ACTIVITIES_PER_DAY\nlet totalActivitiesBeforeLimit = 0;\nlet totalActivitiesAfterLimit = 0;\n\nconst itineraryWithActivities = itineraryData.itinerary.map(day => {\n  const activities = day.activities || [];\n  totalActivitiesBeforeLimit += activities.length;\n  \n  // LIMIT: Take only first MAX_ACTIVITIES_PER_DAY activities\n  const limitedActivities = activities.slice(0, MAX_ACTIVITIES_PER_DAY);\n  totalActivitiesAfterLimit += limitedActivities.length;\n  \n  return {\n    day: day.day,\n    date: day.date || calculateDate(day.day, startDate),  // Calculate date if missing\n    city: day.city,\n    pax: day.pax,\n    activities: limitedActivities  // LIMITED to MAX_ACTIVITIES_PER_DAY\n  };\n});\n\n// Use the shared cart title as itinerary title\nconst itineraryTitle = cartTitle;\n\n// Count total activities (after limiting)\nconst totalActivities = itineraryWithActivities.reduce((sum, day) => sum + (day.activities?.length || 0), 0);\n\n// Format response for Laravel API\n// IMPORTANT: Include google_sheets_activities for the next node\nconst formattedResponse = {\n  success: true,\n  message: \"Day-wise activities itinerary generated successfully\",\n  itinerary_title: itineraryTitle,\n  cart_name: cartName,\n  cart_reference: cartReference,\n  request_id: requestId,\n  itinerary: itineraryWithActivities,\n  travel_data: travelData,\n  user_id: userId,\n  force_new_cart: false,\n  google_sheets_activities: googleSheetsActivities,  // Pass through Google Sheets activities data\n  activities_by_city: activitiesByCity,  // Pass through activities grouped by city\n  metadata: {\n    total_days: itineraryWithActivities.length,\n    total_activities: totalActivities,\n    max_activities_per_day: MAX_ACTIVITIES_PER_DAY,\n    activities_before_limit: totalActivitiesBeforeLimit,\n    activities_after_limit: totalActivitiesAfterLimit,\n    activities_removed: totalActivitiesBeforeLimit - totalActivitiesAfterLimit,\n    generated_at: new Date().toISOString(),\n    generation_method: \"OpenAI GPT-4o\",\n    note: `Activities limited to ${MAX_ACTIVITIES_PER_DAY} per day - no hotels included`,\n    cart_reference: cartReference,\n    cart_name: cartName,\n    request_id: requestId\n  }\n};\n\nreturn [{\n  json: formattedResponse\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ],
      "id": "8c75fd3f-7ded-4377-8507-7ce7743503a8",
      "name": "Parse Activities Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev-gateway.aahaas.com/api/automate/cart_process/hotels",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -832
      ],
      "id": "16d4e0ad-7c2b-4203-aa56-8395eb89b4f8",
      "name": "Send to Hotels API"
    },
    {
      "parameters": {
        "jsCode": "// Extract and format data for Activities API with proper field mapping and validation\nconst data = $input.first().json;\n\n// CRITICAL: Check if the input is an error from Parse Activities Response\nif (data.success === false || data.error === true) {\n  // This is an error response - skip sending to API\n  // Return empty itinerary to prevent API call\n  throw new Error(`Cannot process activities: ${data.message || data.error || 'Unknown error'}`);\n}\n\n// Check if we have the required data\nif (!data) {\n  throw new Error('No input data received from Parse Activities Response');\n}\n\n// Validate required fields\nconst missingFields = [];\nif (!data.user_id) missingFields.push('user_id');\nif (!data.itinerary_title) missingFields.push('itinerary_title');\nif (!data.itinerary || !Array.isArray(data.itinerary) || data.itinerary.length === 0) {\n  missingFields.push('itinerary (must be non-empty array)');\n}\n\nif (missingFields.length > 0) {\n  throw new Error(`Missing required fields for Activities API: ${missingFields.join(', ')}`);\n}\n\n// Count total activities to verify we have data\nconst totalActivities = data.itinerary.reduce((sum, day) => {\n  return sum + (day.activities?.length || 0);\n}, 0);\n\nif (totalActivities === 0) {\n  throw new Error('No activities found in the itinerary');\n}\n\n// CRITICAL: Pass through the 5 parameters from Google Sheets activities data\n// Extract from google_sheets_activities and activities_by_city\nconst googleSheetsActivities = data.google_sheets_activities || [];\nconst activitiesByCity = data.activities_by_city || {};\n\n// Ensure all required fields are present at root level\nconst payload = {\n  user_id: data.user_id,\n  itinerary_title: data.itinerary_title,\n  cart_name: data.cart_name,\n  cart_reference: data.cart_reference,\n  request_id: data.request_id,\n  itinerary: data.itinerary,\n  travel_data: data.travel_data,\n  force_new_cart: data.force_new_cart,\n  // PASS THROUGH: Google Sheets activity parameters\n  google_sheets_activities: googleSheetsActivities,\n  activities_by_city: activitiesByCity,\n  metadata: {\n    ...data.metadata,\n    total_activities: totalActivities,\n    validated: true,\n    validation_time: new Date().toISOString()\n  }\n};\n\nreturn [{\n  json: payload\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        112
      ],
      "id": "ba3c2e72-7ccd-476f-b0eb-e06dc0b9cfc7",
      "name": "Format Activities API Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev-gateway.aahaas.com/api/automate/cart_process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -192
      ],
      "id": "dd1853df-6cb2-4118-845d-42f96fdac395",
      "name": "Send to Activities API"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        704,
        -464
      ],
      "id": "46a7dcd1-cc59-444d-949a-cdc2eae35b37",
      "name": "Merge Both Responses"
    },
    {
      "parameters": {
        "jsCode": "// Combine hotels and activities responses\nconst inputs = $input.all();\nconst hotelsResponse = inputs.find(i => i.json.cart?.cart_title);\nconst activitiesResponse = inputs.find(i => i.json.cart && !hotelsResponse) || inputs[1];\n\nconst cartTitle = hotelsResponse?.json.cart?.cart_title || 'Your Travel Cart';\nconst cartId = hotelsResponse?.json.cart?.id || activitiesResponse?.json.cart?.id;\n\nreturn [{\n  json: {\n    message: `\"${cartTitle}\" has been created with both hotels and activities. Check your itinerary.`,\n    cart_id: cartId,\n    hotels_added: true,\n    activities_added: true,\n    success: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -464
      ],
      "id": "5c93ed17-c3ed-48fd-83cd-7e2252f20615",
      "name": "Combine Final Response"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet4",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -512,
        -176
      ],
      "id": "c4174e2b-2a78-47bb-ab4b-4b6890079ad7",
      "name": "Get row(s) in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Google Sheets hotel data with processed travel data\n// Filter by cities from 'Get row(s) in sheet1' input side and include ALL hotel parameters\nconst processedData = $('Process Cities & Hotel Rating').first().json;\nconst sheetsData = $input.all();\n\n// Get the list of cities from 'Get row(s) in sheet1' input (from Process Cities & Hotel Rating)\nconst requestedCities = processedData.travel_data?.destination || [];\n\n// Extract ALL hotel parameters from Google Sheets (Sheet3)\nconst sheetHotels = sheetsData.map(row => ({\n  country: row.json.Country || row.json.country,\n  city: row.json.City || row.json.city,\n  hotel_class: row.json['Hotel Class'] || row.json.hotel_class,\n  hotel_name: row.json['Hotel Name'] || row.json.hotel_name,\n  aahaas_hotel_id: row.json['Aahaas Hotel ID'] || row.json.aahaas_hotel_id,\n  apple_hotel_id: row.json['Apple Hotel ID'] || row.json.apple_hotel_id,\n  basic_room_category: row.json['Basic Room Category'] || row.json.basic_room_category || row.json['Basic Room Categoty'],\n  deluxe: row.json['Deluxe'] || row.json.deluxe\n}));\n\n// CRITICAL: Filter hotels to ONLY include cities that are in the city array from input\nconst filteredHotels = sheetHotels.filter(item => {\n  if (!item.city) return false;\n  \n  // Check if this city is in the requested cities list (case-insensitive)\n  return requestedCities.some(requestedCity => \n    requestedCity.toLowerCase().trim() === item.city.toLowerCase().trim()\n  );\n});\n\n// Add filtered Google Sheets hotel data to processed data\nprocessedData.google_sheets_hotels = filteredHotels;\n\n// Group hotels by city from Google Sheets (only for requested cities)\n// Include ALL hotel parameters in the output\nconst hotelsByCity = {};\nfilteredHotels.forEach(item => {\n  const city = item.city;\n  if (city && item.hotel_name) {\n    if (!hotelsByCity[city]) {\n      hotelsByCity[city] = [];\n    }\n    hotelsByCity[city].push({\n      hotel_class: item.hotel_class,\n      hotel_name: item.hotel_name,\n      aahaas_hotel_id: item.aahaas_hotel_id,\n      apple_hotel_id: item.apple_hotel_id,\n      basic_room_category: item.basic_room_category,\n      deluxe: item.deluxe,\n      country: item.country,\n      city: item.city\n    });\n  }\n});\n\nprocessedData.hotels_by_city = hotelsByCity;\n\n// Add metadata about filtering\nprocessedData.hotel_metadata = {\n  requested_cities: requestedCities,\n  total_sheet_hotels: sheetHotels.length,\n  filtered_hotels_count: filteredHotels.length,\n  cities_with_hotels: Object.keys(hotelsByCity),\n  cities_without_hotels: requestedCities.filter(city => !hotelsByCity[city])\n};\n\nreturn [{\n  json: processedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -832
      ],
      "id": "b36f5db6-397b-471c-a5ac-18af13c3c3a6",
      "name": "Merge Sheets Data1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet3",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -528,
        -832
      ],
      "id": "cdca8908-8006-48b0-b863-5b9b8557a949",
      "name": "Get row(s) in sheet1",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Merge Input Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook API Trigger": {
      "main": [
        [
          {
            "node": "Extract Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Data": {
      "main": [
        [
          {
            "node": "Merge Input Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input Sources": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format for OpenAI Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for OpenAI Parser": {
      "main": [
        [
          {
            "node": "OpenAI Travel Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Travel Parser": {
      "main": [
        [
          {
            "node": "Parse Travel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Travel Data": {
      "main": [
        [
          {
            "node": "Add Cart Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Activities Itinerary": {
      "main": [
        [
          {
            "node": "Parse Activities Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Activities Response": {
      "main": [
        [
          {
            "node": "Format Activities API Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Activities API Payload": {
      "main": [
        [
          {
            "node": "Send to Activities API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Hotels API": {
      "main": [
        [
          {
            "node": "Merge Both Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Activities API": {
      "main": [
        [
          {
            "node": "Merge Both Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Both Responses": {
      "main": [
        [
          {
            "node": "Combine Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Add Cart Metadata": {
      "main": [
        [
          {
            "node": "Process Cities & Activities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Cities & Hotel Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Cities & Hotel Rating": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Hotels Data": {
      "main": [
        [
          {
            "node": "Build Itinerary Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Cities & Activities": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Sheets Data": {
      "main": [
        [
          {
            "node": "Sanitize Activities Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Activities Data": {
      "main": [
        [
          {
            "node": "Build Activities Itinerary Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Itinerary Prompt": {
      "main": [
        [
          {
            "node": "Generate Hotels Itinerary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Activities Itinerary Prompt": {
      "main": [
        [
          {
            "node": "Generate Activities Itinerary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hotels Itinerary": {
      "main": [
        [
          {
            "node": "Parse Itinerary Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Itinerary Response": {
      "main": [
        [
          {
            "node": "Send to Hotels API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge Sheets Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge Sheets Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Sheets Data1": {
      "main": [
        [
          {
            "node": "Sanitize Hotels Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b3d7c96-de89-4bd0-a7d4-53a8c7b4f3b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ba699815eee7a9b7506f6b264ee48edcb7b96a79c851198c7b7acafd2a5489c"
  },
  "id": "3Igo9PHNyo5y3WUw",
  "tags": []
}