Test 20251118.json
{
  "name": "Test 20251117",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "f8a82940-eca6-4624-ad29-abc8eb5c44ef",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1648,
        -224
      ],
      "webhookId": "travel-quotation-chat"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a travel quotation assistant. Analyze the user's travel request and create a professional summary.\n\nUser input: {{ $json.chatInput }}\n\nExtract and analyze:\n1. Destination country\n2. Arrival date (if not mentioned, use {{ $now.plus(15, 'days').toFormat('yyyy-MM-dd') }})\n3. Duration: \n   - If user mentions \"X days\" → calculate nights as X-1 (e.g., 9 days = 8 nights)\n   - If user mentions \"X nights\" → calculate days as X+1\n   - If NOT mentioned → default to 9 days, 8 nights\n4. Calculate departure date: arrival_date + nights\n5. Number of adults and children (if not mentioned, default to 2 adults, 0 children)\n6. Cities/places to visit:\n   - If user mentions specific cities, use those\n   - If NOT mentioned → default to maximum 3 cities\n7. Hotel star category:\n   - Check if user mentioned: \"5 star\", \"5-star\", \"five star\" → use \"5-star\"\n   - Check if user mentioned: \"4 star\", \"4-star\", \"four star\" → use \"4-star\"\n   - Check if user mentioned: \"3 star\", \"3-star\", \"three star\" → use \"3-star\"\n   - Check if user mentioned: \"2 star\", \"2-star\", \"two star\" → use \"2-star\"\n   - Check if user mentioned: \"luxury\" → use \"5-star\"\n   - Check if user mentioned: \"budget\" → use \"3-star\"\n   - If NOT mentioned → default to \"4-star\"\n8. Meal plan: \n   - If user specifies different meal plans for different cities, note each city's meal plan\n   - If user specifies one meal plan for all, apply it to all cities\n   - If NOT mentioned at all → default to \"bed & breakfast\"\n   - Meal plan types: \"half board\" (HB), \"full board\" (FB), \"room only\" (RO), \"all inclusive\" (AL), \"bed & breakfast\" (BB)\n9. Budget: If user mentioned luxury or 5-star use \"luxury budget\", if 3-star or budget use \"budget-friendly\", otherwise use \"mid-range budget\"\n\nIMPORTANT: If different cities have different meal plans, format the output to include meal plan per city:\n\nFormat your output as:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. [Budget type] with [X-star] hotel accommodation. Interested in visiting key cities and attractions: [City1] with [meal plan], [City2] with [meal plan], [City3] with [meal plan].\"\n\nIf all cities have the same meal plan:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. [Budget type] with [X-star] hotel accommodation and [meal plan] meal plan. Interested in visiting key cities and attractions including [list cities].\"\n\nExamples:\n- Different meal plans: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2026, for 3 adults and 2 children. Mid-range budget with 4-star hotel accommodation. Interested in visiting key cities and attractions: Sigiriya with half board, Dambulla with room only, Bentota with full board.\"\n- Same meal plan with 5-star: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2025, for 7 adults and 2 children. Luxury budget with 5-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, Galle, and Yala.\"\n- Budget 3-star: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2025, for 2 adults and 1 children. Budget-friendly with 3-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, and Galle.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional travel quotation assistant. Create concise, formatted summaries of customer travel requests. Always use the exact format specified and calculate dates accurately. Pay special attention to hotel star categories, meal plans mentioned by the user and which cities they apply to."
        }
      },
      "id": "cac24e0a-cf3a-478c-9ea9-279ca94bf2b8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1424,
        -224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ed2b5c0a-744b-49d5-afd6-3dd6b5d4e43b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1424,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent output text\nconst inputData = $input.first().json;\nconst text = inputData.output || '';\nconst chatInput = $('When chat message received').first().json.chatInput || '';\n\n// Parse the text to extract information\nlet country = 'Sri Lanka'; // Default fallback\nlet arrivalDate = '';\nlet adult = 2; // Default 2 adults\nlet children = 0; // Default 0 children\nlet places = [];\nlet mealType = 'BB'; // Default\nlet cityMealMap = {}; // Map of city to meal type\nlet hotelStarCategory = 4; // Default 4-star\nlet totalNights = 8; // Default 8 nights (9 days)\n\n// Extract country (e.g., \"Vietnam multi-city tour\" or \"Sri Lanka multi-city tour\")\nconst countryMatch = text.match(/requesting a ([A-Za-z\\s]+?)\\s+multi-city tour/i);\nif (countryMatch) {\n  country = countryMatch[1].trim();\n}\n\n// Extract duration (e.g., \"for 9 days, 8 nights\")\nconst durationMatch = text.match(/for (\\d+) days, (\\d+) nights/i);\nif (durationMatch) {\n  totalNights = parseInt(durationMatch[2]);\n} else {\n  // Check chat input for days/nights\n  const chatDaysMatch = chatInput.match(/(\\d+)\\s+days/i);\n  if (chatDaysMatch) {\n    const days = parseInt(chatDaysMatch[1]);\n    totalNights = days - 1; // X days = X-1 nights\n  }\n  const chatNightsMatch = chatInput.match(/(\\d+)\\s+nights/i);\n  if (chatNightsMatch) {\n    totalNights = parseInt(chatNightsMatch[1]);\n  }\n}\n\n// Extract dates (e.g., \"from December 12 to December 18, 2025\")\nconst dateMatch = text.match(/from ([A-Za-z]+ \\d+) to ([A-Za-z]+ \\d+), (\\d{4})/i);\nif (dateMatch) {\n  const monthDay = dateMatch[1]; // e.g., \"December 12\"\n  const year = dateMatch[3];\n  const date = new Date(`${monthDay}, ${year}`);\n  arrivalDate = date.toISOString().split('T')[0];\n} else {\n  // Check chat input for date in format YYYY-MM-DD or similar\n  const chatDateMatch = chatInput.match(/(\\d{4})[-\\/](\\d{1,2})[-\\/](\\d{1,2})/i);\n  if (chatDateMatch) {\n    arrivalDate = `${chatDateMatch[1]}-${chatDateMatch[2].padStart(2, '0')}-${chatDateMatch[3].padStart(2, '0')}`;\n  }\n}\n\n// If no date found, use today + 15 days as default\nif (!arrivalDate) {\n  const defaultDate = new Date();\n  defaultDate.setDate(defaultDate.getDate() + 15);\n  arrivalDate = defaultDate.toISOString().split('T')[0];\n}\n\n// Extract pax (e.g., \"for 3 adults and 2 children\")\nconst adultMatch = text.match(/(\\d+)\\s+adult/i);\nif (adultMatch) {\n  adult = parseInt(adultMatch[1]);\n} else {\n  // Check chat input\n  const chatAdultMatch = chatInput.match(/(\\d+)\\s+adult/i);\n  if (chatAdultMatch) {\n    adult = parseInt(chatAdultMatch[1]);\n  }\n}\n\nconst childMatch = text.match(/(\\d+)\\s+child/i);\nif (childMatch) {\n  children = parseInt(childMatch[1]);\n} else {\n  // Check chat input\n  const chatChildMatch = chatInput.match(/(\\d+)\\s+child/i);\n  if (chatChildMatch) {\n    children = parseInt(chatChildMatch[1]);\n  }\n}\n\n// Extract hotel star category (e.g., \"5-star hotel\", \"4-star hotel\")\nconst starMatch = text.match(/(\\d)-star\\s+hotel/i);\nif (starMatch) {\n  hotelStarCategory = parseInt(starMatch[1]);\n}\n\n// Helper function to convert meal plan text to code\nfunction getMealCode(mealText) {\n  const lowerText = mealText.toLowerCase();\n  if (lowerText.includes('half board')) return 'HB';\n  if (lowerText.includes('full board')) return 'FB';\n  if (lowerText.includes('all inclusive')) return 'AL';\n  if (lowerText.includes('room only')) return 'RO';\n  if (lowerText.includes('bed & breakfast') || lowerText.includes('bed and breakfast')) return 'BB';\n  return 'BB'; // default\n}\n\n// Check if cities have individual meal plans (format: \"City1 with meal_plan, City2 with meal_plan\")\nconst cityMealPattern = /([A-Za-z]+)\\s+with\\s+(half board|full board|room only|all inclusive|bed & breakfast|bed and breakfast)/gi;\nconst cityMealMatches = text.matchAll(cityMealPattern);\nlet hasCitySpecificMeals = false;\n\nfor (const match of cityMealMatches) {\n  const cityName = match[1].trim();\n  const mealPlan = match[2].trim();\n  cityMealMap[cityName] = getMealCode(mealPlan);\n  places.push(cityName);\n  hasCitySpecificMeals = true;\n}\n\n// If no city-specific meal plans found, extract places and meal plan separately\nif (!hasCitySpecificMeals) {\n  // Extract places (e.g., \"including Colombo, Kandy, Galle, and Yala\")\n  const placesMatch = text.match(/including ([^.]+)\\.?$/i);\n  if (placesMatch) {\n    const placesStr = placesMatch[1];\n    // Split by comma and 'and', then clean up\n    places = placesStr\n      .split(/,|\\s+and\\s+/)\n      .map(p => p.trim())\n      .filter(p => p.length > 0);\n  } else {\n    // Try to extract from chat input\n    const chatPlacesMatch = chatInput.match(/(?:in|to|visit)\\s+([A-Za-z,\\s]+?)(?:\\s+\\d|\\s+for|$)/i);\n    if (chatPlacesMatch) {\n      const placesStr = chatPlacesMatch[1];\n      places = placesStr\n        .split(/,|\\s+and\\s+/)\n        .map(p => p.trim())\n        .filter(p => p.length > 2 && !['days', 'nights', 'day', 'night'].includes(p.toLowerCase()));\n    }\n  }\n  \n  // If still no places or empty, default to 3 popular cities\n  if (places.length === 0) {\n    places = ['Colombo', 'Kandy', 'Galle'];\n  }\n  \n  // Extract single meal plan for all cities\n  if (text.toLowerCase().includes('half board')) {\n    mealType = 'HB';\n  } else if (text.toLowerCase().includes('full board')) {\n    mealType = 'FB';\n  } else if (text.toLowerCase().includes('all inclusive')) {\n    mealType = 'AL';\n  } else if (text.toLowerCase().includes('room only')) {\n    mealType = 'RO';\n  } else if (text.toLowerCase().includes('bed & breakfast') || text.toLowerCase().includes('bed and breakfast')) {\n    mealType = 'BB';\n  }\n}\n\n// Create the formatted output\nconst output = {\n  country_data: {\n    country: country\n  },\n  genaral_data: {\n    arrival_date: arrivalDate,\n    total_nights: totalNights,\n    pax: {\n      adult: adult,\n      cwb: children,\n      cnb: 0\n    },\n    market: 1,\n    hotel_star_category: hotelStarCategory\n  },\n  destination_data: {\n    place: places,\n    meal_type: mealType,\n    city_meal_map: Object.keys(cityMealMap).length > 0 ? cityMealMap : null\n  }\n};\n\nreturn { json: output };"
      },
      "id": "cf257816-b72a-4193-a718-e5c1970268c9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -224
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "2a1b7921-073a-490f-abbe-a04f35bf44af",
      "name": "Split Out Places",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1040,
        -384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = originalData.genaral_data.total_nights || 8; // Get from Code node or default to 8\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\nconst remainderNights = totalNights % cityCount; // Handle remainder nights\n\n// Get city-specific meal plans if available\nconst cityMealMap = originalData.destination_data.city_meal_map;\nconst defaultMealType = originalData.destination_data.meal_type;\n\n// Get hotel star category\nconst hotelStarCategory = originalData.genaral_data.hotel_star_category || 4;\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Distribute remainder nights to first cities\n  const nightsForThisCity = nightsPerCity + (i < remainderNights ? 1 : 0);\n  \n  // Calculate check-out date (check-in + nights for this city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsForThisCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  // Determine meal type for this city\n  let mealType = defaultMealType;\n  if (cityMealMap && cityMealMap[currentPlace]) {\n    mealType = cityMealMap[currentPlace];\n  }\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: mealType,\n        star_rate: hotelStarCategory,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut,\n        nights: nightsForThisCity\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "04fe67d8-ed06-4e61-bf8f-8358113b4bd5",
      "name": "Prepare for Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet3",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            },
            {
              "lookupColumn": "Hotel Class",
              "lookupValue": "={{ $json.destination_data.star_rate }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        -384
      ],
      "id": "5aecb1a8-2e0e-44c9-be7e-7f51706c8583",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all hotel data from Google Sheets\nconst hotelItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each hotel and add booking details\nconst results = [];\n\nfor (const hotelItem of hotelItems) {\n  const hotelData = hotelItem.json;\n  const cityName = hotelData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas Hotel ID from the data\n  const { 'Aahaas Hotel ID': removed, ...filteredHotelData } = hotelData;\n  \n  if (cityData) {\n    // Merge hotel data with country_data at the top, then other fields\n    results.push({\n      json: {\n        country_data: cityData.country_data,\n        ...filteredHotelData,\n        check_in: cityData.destination_data.check_in,\n        check_out: cityData.destination_data.check_out,\n        meal_type: cityData.destination_data.meal_type\n      }\n    });\n  } else {\n    // If no matching city data, just return filtered hotel data with default country\n    results.push({\n      json: {\n        country_data: { country: \"Sri Lanka\" },\n        ...filteredHotelData\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "f37e7259-762a-45cf-952f-09c6c3828830",
      "name": "Add Booking Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -384
      ]
    },
    {
      "parameters": {
        "url": "=https://stagev2.appletechlabs.com/api/content/place/?name={{ $json.City }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "169748c2-5f0b-4d31-b373-5f542f078d8f",
      "name": "Get City ID from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -384
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Country name to ID mapping\nconst countryMap = {\n  \"Sri Lanka\": 62,\n  \"Malaysia\": 63,\n  \"Singapore\": 64,\n  \"India\": 149,\n  \"Vietnam\": 256,\n  \"vietnam\": 256\n};\n\n// Meal plan to ID mapping\nconst mealPlanMap = {\n  \"BB\": 1,  // Breakfast Only\n  \"HB\": 2,  // Breakfast and Dinner\n  \"FB\": 3,  // Breakfast, lunch and Dinner\n  \"RO\": 4,  // Room Only\n  \"AL\": 5   // All Inclusive\n};\n\n// Get all API responses\nconst apiResponses = $input.all();\n\n// Get all booking data from Add Booking Details\nconst bookingDataItems = $('Add Booking Details').all();\n\n// Get pax data from Prepare for Lookup node (first item has all the data)\nconst prepareData = $('Prepare for Lookup').first().json;\nconst paxData = prepareData.genaral_data.pax;\n\n// Process each booking item\nconst results = [];\n\nfor (let i = 0; i < apiResponses.length; i++) {\n  const apiResponse = apiResponses[i].json;\n  const bookingData = bookingDataItems[i].json;\n  \n  let cityId = bookingData.City; // Default to original city name if not found\n  \n  // Extract city ID from API response\n  if (apiResponse && apiResponse.body && Array.isArray(apiResponse.body) && apiResponse.body.length > 0) {\n    // Find the matching city with the correct country\n    const countryName = bookingData.country_data.country;\n    const countryId = countryMap[countryName] || null;\n    \n    // Find city with matching country if possible\n    let cityData = null;\n    if (countryId) {\n      cityData = apiResponse.body.find(city => city.country === countryId);\n    }\n    \n    // If no match with country, use the first result\n    if (!cityData && apiResponse.body.length > 0) {\n      cityData = apiResponse.body[0];\n    }\n    \n    if (cityData) {\n      cityId = cityData.id;\n    }\n  }\n  \n  // Get country name and map to ID\n  const countryName = bookingData.country_data.country;\n  const countryId = countryMap[countryName] || countryName; // Use ID if found, otherwise keep original\n  \n  // Get meal type and map to ID\n  const mealType = bookingData.meal_type;\n  const mealTypeId = mealPlanMap[mealType] || mealType; // Use ID if found, otherwise keep original\n  \n  // Calculate number of nights\n  const checkInDate = new Date(bookingData.check_in);\n  const checkOutDate = new Date(bookingData.check_out);\n  const nightCount = Math.round((checkOutDate - checkInDate) / (1000 * 60 * 60 * 24));\n  \n  // Create the output with mapped IDs\n  results.push({\n    json: {\n      country_data: {\n        country: countryId.toString()\n      },\n      row_number: bookingData.row_number,\n      City: cityId.toString(),\n      \"Hotel Class\": bookingData[\"Hotel Class\"],\n      \"Hotel Name\": bookingData[\"Hotel Name\"],\n      \"Apple Hotel ID\": bookingData[\"Apple Hotel ID\"],\n      \"Basic Room Categoty\": bookingData[\"Basic Room Categoty\"],\n      \"Extra1\": bookingData[\"Extra1\"] || \"\",\n      check_in: bookingData.check_in,\n      check_out: bookingData.check_out,\n      night: nightCount,\n      meal_type: mealTypeId.toString(),\n      pax: {\n        adult: paxData.adult,\n        cwb: paxData.cwb,\n        cnb: paxData.cnb\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "03892bbd-7a3d-4bb2-af3d-5cdc98fcc90a",
      "name": "Map IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet4",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        -48
      ],
      "id": "2d414c20-2042-46d0-ae4f-7c0a73934963",
      "name": "Get Activities Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all activity data from Google Sheets\nconst activityItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup Activities').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each activity and add booking details\nconst results = [];\n\nfor (const activityItem of activityItems) {\n  const activityData = activityItem.json;\n  const cityName = activityData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas ID, Extra1, Extra2, and meal_type from the data\n  const { 'Aahaas  ID': removedAahaasId, 'Extra1': removedExtra1, 'Extra2': removedExtra2, ...filteredActivityData } = activityData;\n  \n  // Check if Apple Hotel ID contains comma (multiple values)\n  const appleHotelId = filteredActivityData['Apple Hotel ID'];\n  const hasMultipleIds = typeof appleHotelId === 'string' && appleHotelId.includes(',');\n  \n  if (hasMultipleIds) {\n    // Split Apple Hotel ID and Must Do Activity by comma\n    const appleIds = appleHotelId.split(',').map(id => id.trim());\n    const activities = filteredActivityData['Must Do Activity'].split(',').map(act => act.trim());\n    \n    // Create separate records for each ID/Activity pair\n    const maxLength = Math.max(appleIds.length, activities.length);\n    \n    for (let i = 0; i < maxLength; i++) {\n      const record = {\n        country_data: cityData ? cityData.country_data : { country: \"Sri Lanka\" },\n        row_number: filteredActivityData.row_number,\n        City: filteredActivityData.City,\n        'Lifestyle  Category': filteredActivityData['Lifestyle  Category'],\n        'Must Do Activity': activities[i] || activities[0],\n        'Apple Hotel ID': appleIds[i] || appleIds[0]\n      };\n      \n      // Add city data if available (without meal_type)\n      if (cityData) {\n        record.check_in = cityData.destination_data.check_in;\n        record.check_out = cityData.destination_data.check_out;\n      }\n      \n      results.push({ json: record });\n    }\n  } else {\n    // Single ID - add city data without Extra1, Extra2, and meal_type\n    if (cityData) {\n      results.push({\n        json: {\n          country_data: cityData.country_data,\n          ...filteredActivityData,\n          check_in: cityData.destination_data.check_in,\n          check_out: cityData.destination_data.check_out\n        }\n      });\n    } else {\n      // If no matching city data, just return filtered activity data with default country\n      results.push({\n        json: {\n          country_data: { country: \"Sri Lanka\" },\n          ...filteredActivityData\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "1dcb201b-b8d9-4854-ae75-23085cf97273",
      "name": "Add Booking Details Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -48
      ]
    },
    {
      "parameters": {
        "url": "=https://stagev2.appletechlabs.com/api/content/place/?name={{ $json.City }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "4bf6bc21-f8b2-43aa-abec-747b5e2229f7",
      "name": "Get City ID from API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -48
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Country name to ID mapping\nconst countryMap = {\n  \"Sri Lanka\": 62,\n  \"Malaysia\": 63,\n  \"Singapore\": 64,\n  \"India\": 149,\n  \"Vietnam\": 256,\n  \"vietnam\": 256\n};\n\n// Get all API responses\nconst apiResponses = $input.all();\n\n// Get all activity data from Add Booking Details Activities\nconst activityDataItems = $('Add Booking Details Activities').all();\n\n// Get pax data from Prepare for Lookup Activities node (first item has all the data)\nconst prepareData = $('Prepare for Lookup Activities').first().json;\nconst paxData = prepareData.genaral_data.pax;\n\n// Process each activity item\nconst results = [];\n\nfor (let i = 0; i < apiResponses.length; i++) {\n  const apiResponse = apiResponses[i].json;\n  const activityData = activityDataItems[i].json;\n  \n  let cityId = activityData.City; // Default to original city name if not found\n  \n  // Extract city ID from API response\n  if (apiResponse && apiResponse.body && Array.isArray(apiResponse.body) && apiResponse.body.length > 0) {\n    // Find the matching city with the correct country\n    const countryName = activityData.country_data.country;\n    const countryId = countryMap[countryName] || null;\n    \n    // Find city with matching country if possible\n    let cityData = null;\n    if (countryId) {\n      cityData = apiResponse.body.find(city => city.country === countryId);\n    }\n    \n    // If no match with country, use the first result\n    if (!cityData && apiResponse.body.length > 0) {\n      cityData = apiResponse.body[0];\n    }\n    \n    if (cityData) {\n      cityId = cityData.id;\n    }\n  }\n  \n  // Get country name and map to ID\n  const countryName = activityData.country_data.country;\n  const countryId = countryMap[countryName] || countryName; // Use ID if found, otherwise keep original\n  \n  // Get Apple ID - check all possible field names\n  const appleId = activityData['Apple Hotel ID'] || activityData['Apple ID'] || activityData['Apple Hotel ID'] || \"\";\n  \n  // Create the output with mapped IDs\n  results.push({\n    json: {\n      country_data: {\n        country: countryId.toString()\n      },\n      row_number: activityData.row_number,\n      City: cityId.toString(),\n      \"Apple ID\": appleId,\n      \"Lifestyle  Category\": activityData[\"Lifestyle  Category\"],\n      \"Must Do Activity\": activityData[\"Must Do Activity\"],\n      check_in: activityData.check_in,\n      check_out: activityData.check_out,\n      pax: {\n        adult: paxData.adult,\n        cwb: paxData.cwb,\n        cnb: paxData.cnb\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "00ebc7be-a586-4001-a7ad-61155ee36b37",
      "name": "Map IDs Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Map IDs Activities\nconst items = $input.all();\nconst expandedItems = [];\n\n// First pass: Expand items with comma-separated values\nfor (const item of items) {\n  const data = item.json;\n  const appleId = data['Apple ID'];\n  const mustDoActivity = data['Must Do Activity'];\n  \n  // Check if Apple ID contains comma (multiple values)\n  if (typeof appleId === 'string' && appleId.includes(',')) {\n    // Split Apple ID and Must Do Activity by comma\n    const appleIds = appleId.split(',').map(id => id.trim());\n    const activities = mustDoActivity.split(',').map(act => act.trim());\n    \n    // Create separate items for each Apple ID and Activity pair\n    const maxLength = Math.max(appleIds.length, activities.length);\n    \n    for (let i = 0; i < maxLength; i++) {\n      expandedItems.push({\n        json: {\n          country_data: data.country_data,\n          row_number: data.row_number,\n          City: data.City,\n          \"Apple ID\": appleIds[i] || appleIds[0],\n          \"Lifestyle  Category\": data[\"Lifestyle  Category\"],\n          \"Must Do Activity\": activities[i] || activities[0],\n          check_in: data.check_in,\n          check_out: data.check_out,\n          pax: data.pax\n        }\n      });\n    }\n  } else {\n    // Single Apple ID - keep as is\n    expandedItems.push(item);\n  }\n}\n\n// Second pass: Group by city and assign activity_day\nconst cityGroups = {};\n\n// Group activities by city\nfor (const item of expandedItems) {\n  const cityId = item.json.City;\n  if (!cityGroups[cityId]) {\n    cityGroups[cityId] = [];\n  }\n  cityGroups[cityId].push(item);\n}\n\n// Process each city group and assign activity days\nconst results = [];\n\nfor (const cityId in cityGroups) {\n  const cityActivities = cityGroups[cityId];\n  \n  if (cityActivities.length === 0) continue;\n  \n  // Get check-in and check-out dates from first activity\n  const checkIn = new Date(cityActivities[0].json.check_in);\n  const checkOut = new Date(cityActivities[0].json.check_out);\n  \n  // Calculate number of nights\n  const nightCount = Math.round((checkOut - checkIn) / (1000 * 60 * 60 * 24));\n  \n  // Calculate activities per day\n  const totalActivities = cityActivities.length;\n  const activitiesPerDay = Math.ceil(totalActivities / nightCount);\n  \n  // Assign activity_day to each activity\n  let currentDay = new Date(checkIn);\n  let activitiesAssignedToday = 0;\n  \n  for (let i = 0; i < cityActivities.length; i++) {\n    // If we've assigned enough activities for this day, move to next day\n    if (activitiesAssignedToday >= activitiesPerDay && i < cityActivities.length - 1) {\n      currentDay.setDate(currentDay.getDate() + 1);\n      activitiesAssignedToday = 0;\n    }\n    \n    // Format activity_day as YYYY-MM-DD\n    const activityDay = currentDay.toISOString().split('T')[0];\n    \n    results.push({\n      json: {\n        ...cityActivities[i].json,\n        activity_day: activityDay\n      }\n    });\n    \n    activitiesAssignedToday++;\n  }\n}\n\nreturn results;"
      },
      "id": "925b4eb3-da7c-45d2-b48e-dbbae9c2325e",
      "name": "Expand Multiple Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = originalData.genaral_data.total_nights || 8; // Get from Code node or default to 8\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\nconst remainderNights = totalNights % cityCount; // Handle remainder nights\n\n// Get city-specific meal plans if available\nconst cityMealMap = originalData.destination_data.city_meal_map;\nconst defaultMealType = originalData.destination_data.meal_type;\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Distribute remainder nights to first cities\n  const nightsForThisCity = nightsPerCity + (i < remainderNights ? 1 : 0);\n  \n  // Calculate check-out date (check-in + nights for this city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsForThisCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  // Determine meal type for this city\n  let mealType = defaultMealType;\n  if (cityMealMap && cityMealMap[currentPlace]) {\n    mealType = cityMealMap[currentPlace];\n  }\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: mealType,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut,\n        nights: nightsForThisCity\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "84ae54ab-b1f2-44c4-b837-e396026aca17",
      "name": "Prepare for Lookup Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -48
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "51032714-4dba-4884-bfb9-f0f0bb0fc405",
      "name": "Split Out Places Activities",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1040,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GIIdAEtC5orkzAAfBdZHsyWQZFQdqK8-9oy1qXSxsyo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "City": "={{ $json.City }}",
            "Activity Name": "={{ $json[\"Must Do Activity\"] }}",
            "Activity Date": "={{ $json.activity_day }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Activity Date",
              "displayName": "Activity Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Activity Name",
              "displayName": "Activity Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -48
      ],
      "id": "151ba153-a853-49ab-8b42-f21f66887550",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out Places Activities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places": {
      "main": [
        [
          {
            "node": "Prepare for Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Booking Details": {
      "main": [
        [
          {
            "node": "Get City ID from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City ID from API": {
      "main": [
        [
          {
            "node": "Map IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Activities Sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Booking Details Activities": {
      "main": [
        [
          {
            "node": "Get City ID from API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City ID from API1": {
      "main": [
        [
          {
            "node": "Map IDs Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map IDs Activities": {
      "main": [
        [
          {
            "node": "Expand Multiple Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup Activities": {
      "main": [
        [
          {
            "node": "Get Activities Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places Activities": {
      "main": [
        [
          {
            "node": "Prepare for Lookup Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Multiple Activities": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b5c0e95-ac0d-42d9-ad46-0c8f3a4c5567",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ba699815eee7a9b7506f6b264ee48edcb7b96a79c851198c7b7acafd2a5489c"
  },
  "id": "SWtHvZcDTE3MffM1",
  "tags": []
}