Test.json
{
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5d23f808-b0ec-4ec6-a7b8-ef4a50059dac",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -944,
        288
      ],
      "webhookId": "travel-quotation-chat"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a travel quotation assistant. Analyze the user's travel request and create a professional summary.\n\nUser input: {{ $json.chatInput }}\n\nExtract and analyze:\n1. Destination country\n2. Arrival date (if not mentioned, use {{ $now.plus(15, 'days').toFormat('yyyy-MM-dd') }})\n3. Duration: \n   - If user mentions \"X days\" → calculate nights as X-1 (e.g., 9 days = 8 nights)\n   - If user mentions \"X nights\" → calculate days as X+1\n   - If NOT mentioned → default to 9 days, 8 nights\n4. Calculate departure date: arrival_date + nights\n5. Number of adults and children (if not mentioned, default to 2 adults, 0 children)\n6. Cities/places to visit:\n   - If user mentions specific cities, use those\n   - If NOT mentioned → default to maximum 3 cities\n7. Hotel star category:\n   - Check if user mentioned: \"5 star\", \"5-star\", \"five star\" → use \"5-star\"\n   - Check if user mentioned: \"4 star\", \"4-star\", \"four star\" → use \"4-star\"\n   - Check if user mentioned: \"3 star\", \"3-star\", \"three star\" → use \"3-star\"\n   - Check if user mentioned: \"2 star\", \"2-star\", \"two star\" → use \"2-star\"\n   - Check if user mentioned: \"luxury\" → use \"5-star\"\n   - Check if user mentioned: \"budget\" → use \"3-star\"\n   - If NOT mentioned → default to \"4-star\"\n8. Meal plan: \n   - If user specifies different meal plans for different cities, note each city's meal plan\n   - If user specifies one meal plan for all, apply it to all cities\n   - If NOT mentioned at all → default to \"bed & breakfast\"\n   - Meal plan types: \"half board\" (HB), \"full board\" (FB), \"room only\" (RO), \"all inclusive\" (AL), \"bed & breakfast\" (BB)\n9. Budget: If user mentioned luxury or 5-star use \"luxury budget\", if 3-star or budget use \"budget-friendly\", otherwise use \"mid-range budget\"\n\nIMPORTANT: If different cities have different meal plans, format the output to include meal plan per city:\n\nFormat your output as:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. [Budget type] with [X-star] hotel accommodation. Interested in visiting key cities and attractions: [City1] with [meal plan], [City2] with [meal plan], [City3] with [meal plan].\"\n\nIf all cities have the same meal plan:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. [Budget type] with [X-star] hotel accommodation and [meal plan] meal plan. Interested in visiting key cities and attractions including [list cities].\"\n\nExamples:\n- Different meal plans: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2026, for 3 adults and 2 children. Mid-range budget with 4-star hotel accommodation. Interested in visiting key cities and attractions: Sigiriya with half board, Dambulla with room only, Bentota with full board.\"\n- Same meal plan with 5-star: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2025, for 7 adults and 2 children. Luxury budget with 5-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, Galle, and Yala.\"\n- Budget 3-star: \"Customer requesting a Sri Lanka multi-city tour for 9 days, 8 nights from December 12 to December 20, 2025, for 2 adults and 1 children. Budget-friendly with 3-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, and Galle.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional travel quotation assistant. Create concise, formatted summaries of customer travel requests. Always use the exact format specified and calculate dates accurately. Pay special attention to hotel star categories, meal plans mentioned by the user and which cities they apply to."
        }
      },
      "id": "708aac1c-fdc0-474d-b393-744e4eb8aff1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -400,
        304
      ]
    },
    {
      "parameters": {
        "model": "gpt-5-chat-latest",
        "options": {}
      },
      "id": "711ac403-45c8-419d-984d-a886e9fe797a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -400,
        576
      ],
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent output text\nconst inputData = $input.first().json;\nconst text = inputData.output || '';\nconst chatInput = $('When chat message received').first().json.chatInput || '';\n\n// Parse the text to extract information\nlet country = 'Sri Lanka'; // Default fallback\nlet arrivalDate = '';\nlet adult = 2; // Default 2 adults\nlet children = 0; // Default 0 children\nlet places = [];\nlet mealType = 'BB'; // Default\nlet cityMealMap = {}; // Map of city to meal type\nlet hotelStarCategory = 4; // Default 4-star\nlet totalNights = 8; // Default 8 nights (9 days)\n\n// Extract country (e.g., \"Vietnam multi-city tour\" or \"Sri Lanka multi-city tour\")\nconst countryMatch = text.match(/requesting a ([A-Za-z\\s]+?)\\s+multi-city tour/i);\nif (countryMatch) {\n  country = countryMatch[1].trim();\n}\n\n// Extract duration (e.g., \"for 9 days, 8 nights\")\nconst durationMatch = text.match(/for (\\d+) days, (\\d+) nights/i);\nif (durationMatch) {\n  totalNights = parseInt(durationMatch[2]);\n} else {\n  // Check chat input for days/nights\n  const chatDaysMatch = chatInput.match(/(\\d+)\\s+days/i);\n  if (chatDaysMatch) {\n    const days = parseInt(chatDaysMatch[1]);\n    totalNights = days - 1; // X days = X-1 nights\n  }\n  const chatNightsMatch = chatInput.match(/(\\d+)\\s+nights/i);\n  if (chatNightsMatch) {\n    totalNights = parseInt(chatNightsMatch[1]);\n  }\n}\n\n// Extract dates (e.g., \"from December 12 to December 18, 2025\")\nconst dateMatch = text.match(/from ([A-Za-z]+ \\d+) to ([A-Za-z]+ \\d+), (\\d{4})/i);\nif (dateMatch) {\n  const monthDay = dateMatch[1]; // e.g., \"December 12\"\n  const year = dateMatch[3];\n  const date = new Date(`${monthDay}, ${year}`);\n  arrivalDate = date.toISOString().split('T')[0];\n} else {\n  // Check chat input for date in format YYYY-MM-DD or similar\n  const chatDateMatch = chatInput.match(/(\\d{4})[-\\/](\\d{1,2})[-\\/](\\d{1,2})/i);\n  if (chatDateMatch) {\n    arrivalDate = `${chatDateMatch[1]}-${chatDateMatch[2].padStart(2, '0')}-${chatDateMatch[3].padStart(2, '0')}`;\n  }\n}\n\n// If no date found, use today + 15 days as default\nif (!arrivalDate) {\n  const defaultDate = new Date();\n  defaultDate.setDate(defaultDate.getDate() + 15);\n  arrivalDate = defaultDate.toISOString().split('T')[0];\n}\n\n// Extract pax (e.g., \"for 3 adults and 2 children\")\nconst adultMatch = text.match(/(\\d+)\\s+adult/i);\nif (adultMatch) {\n  adult = parseInt(adultMatch[1]);\n} else {\n  // Check chat input\n  const chatAdultMatch = chatInput.match(/(\\d+)\\s+adult/i);\n  if (chatAdultMatch) {\n    adult = parseInt(chatAdultMatch[1]);\n  }\n}\n\nconst childMatch = text.match(/(\\d+)\\s+child/i);\nif (childMatch) {\n  children = parseInt(childMatch[1]);\n} else {\n  // Check chat input\n  const chatChildMatch = chatInput.match(/(\\d+)\\s+child/i);\n  if (chatChildMatch) {\n    children = parseInt(chatChildMatch[1]);\n  }\n}\n\n// Extract hotel star category (e.g., \"5-star hotel\", \"4-star hotel\")\nconst starMatch = text.match(/(\\d)-star\\s+hotel/i);\nif (starMatch) {\n  hotelStarCategory = parseInt(starMatch[1]);\n}\n\n// Helper function to convert meal plan text to code\nfunction getMealCode(mealText) {\n  const lowerText = mealText.toLowerCase();\n  if (lowerText.includes('half board')) return 'HB';\n  if (lowerText.includes('full board')) return 'FB';\n  if (lowerText.includes('all inclusive')) return 'AL';\n  if (lowerText.includes('room only')) return 'RO';\n  if (lowerText.includes('bed & breakfast') || lowerText.includes('bed and breakfast')) return 'BB';\n  return 'BB'; // default\n}\n\n// Check if cities have individual meal plans (format: \"City1 with meal_plan, City2 with meal_plan\")\nconst cityMealPattern = /([A-Za-z]+)\\s+with\\s+(half board|full board|room only|all inclusive|bed & breakfast|bed and breakfast)/gi;\nconst cityMealMatches = text.matchAll(cityMealPattern);\nlet hasCitySpecificMeals = false;\n\nfor (const match of cityMealMatches) {\n  const cityName = match[1].trim();\n  const mealPlan = match[2].trim();\n  cityMealMap[cityName] = getMealCode(mealPlan);\n  places.push(cityName);\n  hasCitySpecificMeals = true;\n}\n\n// If no city-specific meal plans found, extract places and meal plan separately\nif (!hasCitySpecificMeals) {\n  // Extract places (e.g., \"including Colombo, Kandy, Galle, and Yala\")\n  const placesMatch = text.match(/including ([^.]+)\\.?$/i);\n  if (placesMatch) {\n    const placesStr = placesMatch[1];\n    // Split by comma and 'and', then clean up\n    places = placesStr\n      .split(/,|\\s+and\\s+/)\n      .map(p => p.trim())\n      .filter(p => p.length > 0);\n  } else {\n    // Try to extract from chat input\n    const chatPlacesMatch = chatInput.match(/(?:in|to|visit)\\s+([A-Za-z,\\s]+?)(?:\\s+\\d|\\s+for|$)/i);\n    if (chatPlacesMatch) {\n      const placesStr = chatPlacesMatch[1];\n      places = placesStr\n        .split(/,|\\s+and\\s+/)\n        .map(p => p.trim())\n        .filter(p => p.length > 2 && !['days', 'nights', 'day', 'night'].includes(p.toLowerCase()));\n    }\n  }\n  \n  // If still no places or empty, default to 3 popular cities\n  if (places.length === 0) {\n    places = ['Colombo', 'Kandy', 'Galle'];\n  }\n  \n  // Extract single meal plan for all cities\n  if (text.toLowerCase().includes('half board')) {\n    mealType = 'HB';\n  } else if (text.toLowerCase().includes('full board')) {\n    mealType = 'FB';\n  } else if (text.toLowerCase().includes('all inclusive')) {\n    mealType = 'AL';\n  } else if (text.toLowerCase().includes('room only')) {\n    mealType = 'RO';\n  } else if (text.toLowerCase().includes('bed & breakfast') || text.toLowerCase().includes('bed and breakfast')) {\n    mealType = 'BB';\n  }\n}\n\n// Create the formatted output\nconst output = {\n  country_data: {\n    country: country\n  },\n  genaral_data: {\n    arrival_date: arrivalDate,\n    total_nights: totalNights,\n    pax: {\n      adult: adult,\n      cwb: children,\n      cnb: 0\n    },\n    market: 1,\n    hotel_star_category: hotelStarCategory\n  },\n  destination_data: {\n    place: places,\n    meal_type: mealType,\n    city_meal_map: Object.keys(cityMealMap).length > 0 ? cityMealMap : null\n  }\n};\n\nreturn { json: output };"
      },
      "id": "837d9086-7acb-446a-b52b-eba05ab55767",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        192
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "1925fde7-cc33-41eb-958f-44b204508503",
      "name": "Split Out Places",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        144,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = originalData.genaral_data.total_nights || 8; // Get from Code node or default to 8\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\nconst remainderNights = totalNights % cityCount; // Handle remainder nights\n\n// Get city-specific meal plans if available\nconst cityMealMap = originalData.destination_data.city_meal_map;\nconst defaultMealType = originalData.destination_data.meal_type;\n\n// Get hotel star category\nconst hotelStarCategory = originalData.genaral_data.hotel_star_category || 4;\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Distribute remainder nights to first cities\n  const nightsForThisCity = nightsPerCity + (i < remainderNights ? 1 : 0);\n  \n  // Calculate check-out date (check-in + nights for this city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsForThisCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  // Determine meal type for this city\n  let mealType = defaultMealType;\n  if (cityMealMap && cityMealMap[currentPlace]) {\n    mealType = cityMealMap[currentPlace];\n  }\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: mealType,\n        star_rate: hotelStarCategory,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut,\n        nights: nightsForThisCity\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "bf805669-6c47-4731-aee2-48f3eca1b5ac",
      "name": "Prepare for Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -128
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet3",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            },
            {
              "lookupColumn": "Hotel Class",
              "lookupValue": "={{ $json.destination_data.star_rate }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -128
      ],
      "id": "912f497b-d8ad-41cf-bfea-a5999ed4e849",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all hotel data from Google Sheets\nconst hotelItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each hotel and add booking details\nconst results = [];\n\nfor (const hotelItem of hotelItems) {\n  const hotelData = hotelItem.json;\n  const cityName = hotelData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas Hotel ID from the data\n  const { 'Aahaas Hotel ID': removed, ...filteredHotelData } = hotelData;\n  \n  if (cityData) {\n    // Merge hotel data with country_data at the top, then other fields\n    results.push({\n      json: {\n        country_data: cityData.country_data,\n        ...filteredHotelData,\n        check_in: cityData.destination_data.check_in,\n        check_out: cityData.destination_data.check_out,\n        meal_type: cityData.destination_data.meal_type\n      }\n    });\n  } else {\n    // If no matching city data, just return filtered hotel data with default country\n    results.push({\n      json: {\n        country_data: { country: \"Sri Lanka\" },\n        ...filteredHotelData\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "06d1a5e5-3bcd-4093-a736-5f07d1f1100c",
      "name": "Add Booking Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -128
      ]
    },
    {
      "parameters": {
        "url": "=https://stagev2.appletechlabs.com/api/content/place/?name={{ $json.City }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "28cbecf6-4409-4241-b1be-58ad5c1d9478",
      "name": "Get City ID from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        16
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Country name to ID mapping\nconst countryMap = {\n  \"Sri Lanka\": 62,\n  \"Malaysia\": 63,\n  \"Singapore\": 64,\n  \"India\": 149,\n  \"Vietnam\": 256,\n  \"vietnam\": 256\n};\n\n// Meal plan to ID mapping\nconst mealPlanMap = {\n  \"BB\": 1,  // Breakfast Only\n  \"HB\": 2,  // Breakfast and Dinner\n  \"FB\": 3,  // Breakfast, lunch and Dinner\n  \"RO\": 4,  // Room Only\n  \"AL\": 5   // All Inclusive\n};\n\n// Room Category to ID mapping\nconst roomCategoryMap = {\n  \"Superior Sea View Room\": 1,\n  \"Deluxe Delight(Garden View/Garden Terrace)\": 2,\n  \"Deluxe Delight(Sea View)\": 3,\n  \"Premium Indulgence\": 4,\n  \"Premium Indulgence(Family Room)\": 5,\n  \"Deluxe Allure Suite\": 6,\n  \"Premium Temptetions Suite\": 7,\n  \"Presidential Suite\": 8,\n  \"Base\": 9,\n  \"Deluxe\": 10,\n  \"Superior Deluxe\": 11,\n  \"Superior Deluxe Suite\": 12,\n  \"Standard\": 13,\n  \"Superior\": 14,\n  \"Premium  Deluxe\": 16\n};\n\n// Get all API responses\nconst apiResponses = $input.all();\n\n// Get all booking data from Add Booking Details or Reformat Hotel Data (for updates)\nlet bookingDataItems = [];\ntry {\n  bookingDataItems = $('Add Booking Details').all();\n} catch (error) {\n  // If Add Booking Details is not executed, try Reformat Hotel Data (update flow)\n  try {\n    bookingDataItems = $('Reformat Hotel Data').all();\n  } catch (e) {\n    // Fallback: use input data\n    bookingDataItems = $input.all();\n  }\n}\n\n// Get pax data - try from Prepare for Lookup first, then from Apply Changes node\nlet paxData = { adult: 2, cwb: 0, cnb: 0 }; // Default values\n\ntry {\n  const prepareData = $('Prepare for Lookup').first().json;\n  paxData = prepareData.genaral_data.pax;\n} catch (error) {\n  // If Prepare for Lookup is not executed, try to get from Apply Changes\n  try {\n    const applyChangesData = $('Apply Changes').first().json;\n    if (applyChangesData.hotel_data && applyChangesData.hotel_data.length > 0) {\n      // Extract pax from first hotel item if available\n      const firstHotel = applyChangesData.hotel_data[0];\n      if (firstHotel.pax) {\n        paxData = firstHotel.pax;\n      }\n    }\n  } catch (e) {\n    // Use default pax values\n  }\n}\n\n// Process each booking item\nconst results = [];\n\nfor (let i = 0; i < apiResponses.length; i++) {\n  const apiResponse = apiResponses[i].json;\n  const bookingData = bookingDataItems[i].json;\n  \n  let cityId = bookingData.City; // Default to original city name if not found\n  \n  // Extract city ID from API response\n  if (apiResponse && apiResponse.body && Array.isArray(apiResponse.body) && apiResponse.body.length > 0) {\n    // Find the matching city with the correct country\n    const countryName = bookingData.country_data.country;\n    const countryId = countryMap[countryName] || null;\n    \n    // Find city with matching country if possible\n    let cityData = null;\n    if (countryId) {\n      cityData = apiResponse.body.find(city => city.country === countryId);\n    }\n    \n    // If no match with country, use the first result\n    if (!cityData && apiResponse.body.length > 0) {\n      cityData = apiResponse.body[0];\n    }\n    \n    if (cityData) {\n      cityId = cityData.id;\n    }\n  }\n  \n  // Get country name and map to ID\n  const countryName = bookingData.country_data.country;\n  const countryId = countryMap[countryName] || countryName; // Use ID if found, otherwise keep original\n  \n  // Get meal type and map to ID\n  const mealType = bookingData.meal_type;\n  const mealTypeId = mealPlanMap[mealType] || mealType; // Use ID if found, otherwise keep original\n  \n  // Get room category and map to ID\n  const roomCategory = bookingData[\"Basic Room Categoty\"];\n  const roomCategoryId = roomCategoryMap[roomCategory] || roomCategory; // Use ID if found, otherwise keep original\n  \n  // Calculate number of nights\n  const checkInDate = new Date(bookingData.check_in);\n  const checkOutDate = new Date(bookingData.check_out);\n  const nightCount = Math.round((checkOutDate - checkInDate) / (1000 * 60 * 60 * 24));\n  \n  // Create the output with mapped IDs\n  results.push({\n    json: {\n      country_data: {\n        country: countryId.toString()\n      },\n      row_number: bookingData.row_number,\n      City: cityId.toString(),\n      \"Hotel Class\": bookingData[\"Hotel Class\"],\n      \"Hotel Name\": bookingData[\"Hotel Name\"],\n      \"Apple Hotel ID\": bookingData[\"Apple Hotel ID\"],\n      \"Basic Room Categoty\": roomCategoryId,\n      \"Extra1\": bookingData[\"Extra1\"] || \"\",\n      check_in: bookingData.check_in,\n      check_out: bookingData.check_out,\n      night: nightCount,\n      meal_type: mealTypeId.toString(),\n      pax: {\n        adult: paxData.adult,\n        cwb: paxData.cwb,\n        cnb: paxData.cnb\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "8ee960d3-ece3-4f03-ac06-1ec00185dfc9",
      "name": "Map IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        16
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1n-xL0h9PHeOhfcpytCouV7_pkYj4BzSMZghqTsKrgYo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet4",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "City",
              "lookupValue": "={{ $json.current_city }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        384
      ],
      "id": "18b2229e-bc23-4531-99fe-759b1a4d4b2f",
      "name": "Get Activities Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all activity data from Google Sheets\nconst activityItems = $input.all();\n\n// Get all city data from Prepare for Lookup node\nconst cityItems = $('Prepare for Lookup Activities').all();\n\n// Create a map of city data by city name for easy lookup\nconst cityDataMap = {};\nfor (const cityItem of cityItems) {\n  const cityName = cityItem.json.current_city;\n  cityDataMap[cityName] = cityItem.json;\n}\n\n// Process each activity and add booking details\nconst results = [];\n\nfor (const activityItem of activityItems) {\n  const activityData = activityItem.json;\n  const cityName = activityData.City;\n  \n  // Get the corresponding city data\n  const cityData = cityDataMap[cityName];\n  \n  // Remove Aahaas ID, Extra1, Extra2, and meal_type from the data\n  const { 'Aahaas  ID': removedAahaasId, 'Extra1': removedExtra1, 'Extra2': removedExtra2, ...filteredActivityData } = activityData;\n  \n  // Check if Apple Hotel ID contains comma (multiple values)\n  const appleHotelId = filteredActivityData['Apple Hotel ID'];\n  const hasMultipleIds = typeof appleHotelId === 'string' && appleHotelId.includes(',');\n  \n  if (hasMultipleIds) {\n    // Split Apple Hotel ID and Must Do Activity by comma\n    const appleIds = appleHotelId.split(',').map(id => id.trim());\n    const activities = filteredActivityData['Must Do Activity'].split(',').map(act => act.trim());\n    \n    // Create separate records for each ID/Activity pair\n    const maxLength = Math.max(appleIds.length, activities.length);\n    \n    for (let i = 0; i < maxLength; i++) {\n      const record = {\n        country_data: cityData ? cityData.country_data : { country: \"Sri Lanka\" },\n        row_number: filteredActivityData.row_number,\n        City: filteredActivityData.City,\n        'Lifestyle  Category': filteredActivityData['Lifestyle  Category'],\n        'Must Do Activity': activities[i] || activities[0],\n        'Apple Hotel ID': appleIds[i] || appleIds[0]\n      };\n      \n      // Add city data if available (without meal_type)\n      if (cityData) {\n        record.check_in = cityData.destination_data.check_in;\n        record.check_out = cityData.destination_data.check_out;\n      }\n      \n      results.push({ json: record });\n    }\n  } else {\n    // Single ID - add city data without Extra1, Extra2, and meal_type\n    if (cityData) {\n      results.push({\n        json: {\n          country_data: cityData.country_data,\n          ...filteredActivityData,\n          check_in: cityData.destination_data.check_in,\n          check_out: cityData.destination_data.check_out\n        }\n      });\n    } else {\n      // If no matching city data, just return filtered activity data with default country\n      results.push({\n        json: {\n          country_data: { country: \"Sri Lanka\" },\n          ...filteredActivityData\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "1ad3b25f-4fd6-4b84-8659-d552a935e012",
      "name": "Add Booking Details Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        384
      ]
    },
    {
      "parameters": {
        "url": "=https://stagev2.appletechlabs.com/api/content/place/?name={{ $json.City }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "066c49f8-8d9d-472c-9271-6c98283f33fa",
      "name": "Get City ID from API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        384
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Country name to ID mapping\nconst countryMap = {\n  \"Sri Lanka\": 62,\n  \"Malaysia\": 63,\n  \"Singapore\": 64,\n  \"India\": 149,\n  \"Vietnam\": 256,\n  \"vietnam\": 256\n};\n\n// Get all API responses\nconst apiResponses = $input.all();\n\n// Get all activity data - try Add Booking Details Activities first, then Reformat Activity Data\nlet activityDataItems = [];\ntry {\n  activityDataItems = $('Add Booking Details Activities').all();\n} catch (error) {\n  // Try Reformat Activity Data (update flow)\n  try {\n    activityDataItems = $('Reformat Activity Data').all();\n  } catch (e) {\n    // No activity data available\n    activityDataItems = [];\n  }\n}\n\n// Get pax data - try from Prepare for Lookup Activities first, then from Apply Changes\nlet paxData = { adult: 2, cwb: 0, cnb: 0 }; // Default\ntry {\n  const prepareData = $('Prepare for Lookup Activities').first().json;\n  paxData = prepareData.genaral_data.pax;\n} catch (error) {\n  // Try to get from Apply Changes (update flow)\n  try {\n    const applyChangesData = $('Apply Changes').first().json;\n    if (applyChangesData.pax_data) {\n      paxData = applyChangesData.pax_data;\n    }\n  } catch (e) {\n    // Use default pax\n  }\n}\n\n// Process each activity item\nconst results = [];\n\nfor (let i = 0; i < apiResponses.length; i++) {\n  const apiResponse = apiResponses[i].json;\n  const activityData = activityDataItems[i].json;\n  \n  let cityId = activityData.City; // Default to original city name if not found\n  \n  // Extract city ID from API response\n  if (apiResponse && apiResponse.body && Array.isArray(apiResponse.body) && apiResponse.body.length > 0) {\n    // Find the matching city with the correct country\n    const countryName = activityData.country_data.country;\n    const countryId = countryMap[countryName] || null;\n    \n    // Find city with matching country if possible\n    let cityData = null;\n    if (countryId) {\n      cityData = apiResponse.body.find(city => city.country === countryId);\n    }\n    \n    // If no match with country, use the first result\n    if (!cityData && apiResponse.body.length > 0) {\n      cityData = apiResponse.body[0];\n    }\n    \n    if (cityData) {\n      cityId = cityData.id;\n    }\n  }\n  \n  // Get country name and map to ID\n  const countryName = activityData.country_data.country;\n  const countryId = countryMap[countryName] || countryName; // Use ID if found, otherwise keep original\n  \n  // Get Apple ID - check all possible field names\n  const appleId = activityData['Apple Hotel ID'] || activityData['Apple ID'] || activityData['Apple Hotel ID'] || \"\";\n  \n  // Create the output with mapped IDs\n  results.push({\n    json: {\n      country_data: {\n        country: countryId.toString()\n      },\n      row_number: activityData.row_number || 1,\n      City: cityId.toString(),\n      \"Apple ID\": appleId,\n      \"Lifestyle  Category\": activityData[\"Lifestyle  Category\"],\n      \"Must Do Activity\": activityData[\"Must Do Activity\"],\n      check_in: activityData.check_in,\n      check_out: activityData.check_out,\n      pax: {\n        adult: paxData.adult,\n        cwb: paxData.cwb,\n        cnb: paxData.cnb\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "8cb7ba9a-472b-4f4e-b468-4060625dfad9",
      "name": "Map IDs Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Map IDs Activities\nconst items = $input.all();\n\n// First: Group by city to process each city separately\nconst cityGroups = {};\n\nfor (const item of items) {\n  const cityId = item.json.City;\n  if (!cityGroups[cityId]) {\n    cityGroups[cityId] = [];\n  }\n  cityGroups[cityId].push(item.json);\n}\n\n// Process each city and assign activity days\nconst results = [];\n\nfor (const cityId in cityGroups) {\n  const cityActivities = cityGroups[cityId];\n  \n  if (cityActivities.length === 0) continue;\n  \n  // Get check-in and check-out dates from first activity\n  const checkIn = new Date(cityActivities[0].check_in);\n  const checkOut = new Date(cityActivities[0].check_out);\n  \n  // Calculate number of nights (activities = nights, not nights + 1)\n  const nightCount = Math.round((checkOut - checkIn) / (1000 * 60 * 60 * 24));\n  \n  // Sort activities by row_number\n  const sortedActivities = cityActivities.sort((a, b) => a.row_number - b.row_number);\n  \n  // Assign one activity per day based on number of nights\n  let dayOffset = 0;\n  \n  for (let i = 0; i < sortedActivities.length && dayOffset < nightCount; i++) {\n    const activity = sortedActivities[i];\n    \n    // Calculate activity day\n    const activityDay = new Date(checkIn);\n    activityDay.setDate(activityDay.getDate() + dayOffset);\n    const activityDayStr = activityDay.toISOString().split('T')[0];\n    \n    // Check if Apple ID contains comma (multiple activities)\n    const appleId = activity[\"Apple ID\"];\n    const hasMultipleActivities = typeof appleId === 'string' && appleId.includes(',');\n    \n    if (hasMultipleActivities) {\n      // Split Apple ID and Must Do Activity by comma\n      const appleIds = appleId.split(',').map(id => id.trim());\n      const activities = activity[\"Must Do Activity\"].split(',').map(act => act.trim());\n      \n      // Create separate items for each activity\n      for (let j = 0; j < appleIds.length; j++) {\n        results.push({\n          json: {\n            country_data: activity.country_data,\n            row_number: activity.row_number,\n            City: activity.City,\n            \"Apple ID\": appleIds[j],\n            \"Lifestyle  Category\": activity[\"Lifestyle  Category\"],\n            \"Must Do Activity\": activities[j] || activities[0],\n            check_in: activity.check_in,\n            check_out: activity.check_out,\n            pax: activity.pax,\n            activity_day: activityDayStr\n          }\n        });\n      }\n    } else {\n      // Single activity - add as-is with activity_day\n      results.push({\n        json: {\n          ...activity,\n          activity_day: activityDayStr\n        }\n      });\n    }\n    \n    dayOffset++;\n  }\n}\n\nreturn results;"
      },
      "id": "c3cc4e31-2d35-4445-a08d-cabf8b2c78f7",
      "name": "Expand Multiple Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL split items\nconst items = $input.all();\nconst originalData = $('Code').first().json;\n\n// Get arrival date and calculate stays\nconst arrivalDate = originalData.genaral_data.arrival_date;\nconst totalNights = originalData.genaral_data.total_nights || 8; // Get from Code node or default to 8\nconst cityCount = items.length;\nconst nightsPerCity = Math.floor(totalNights / cityCount);\nconst remainderNights = totalNights % cityCount; // Handle remainder nights\n\n// Get city-specific meal plans if available\nconst cityMealMap = originalData.destination_data.city_meal_map;\nconst defaultMealType = originalData.destination_data.meal_type;\n\n// Process each item and calculate check-in/check-out dates\nconst results = [];\nlet currentCheckIn = new Date(arrivalDate);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const currentPlace = item.json['destination_data.place'];\n  \n  // Distribute remainder nights to first cities\n  const nightsForThisCity = nightsPerCity + (i < remainderNights ? 1 : 0);\n  \n  // Calculate check-out date (check-in + nights for this city)\n  const checkOutDate = new Date(currentCheckIn);\n  checkOutDate.setDate(checkOutDate.getDate() + nightsForThisCity);\n  \n  // Format dates as YYYY-MM-DD\n  const checkIn = currentCheckIn.toISOString().split('T')[0];\n  const checkOut = checkOutDate.toISOString().split('T')[0];\n  \n  // Determine meal type for this city\n  let mealType = defaultMealType;\n  if (cityMealMap && cityMealMap[currentPlace]) {\n    mealType = cityMealMap[currentPlace];\n  }\n  \n  results.push({\n    json: {\n      current_city: currentPlace,\n      country_data: originalData.country_data,\n      genaral_data: {\n        pax: originalData.genaral_data.pax,\n        market: originalData.genaral_data.market\n      },\n      destination_data: {\n        meal_type: mealType,\n        current_place: currentPlace,\n        check_in: checkIn,\n        check_out: checkOut,\n        nights: nightsForThisCity\n      }\n    }\n  });\n  \n  // Next city's check-in is current city's check-out\n  currentCheckIn = checkOutDate;\n}\n\n// Add arrival_date to the first item only\nif (results.length > 0) {\n  results[0].json.genaral_data.arrival_date = arrivalDate;\n}\n\nreturn results;"
      },
      "id": "2fca04b4-114c-4c06-8b25-fb3b83867875",
      "name": "Prepare for Lookup Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        384
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=destination_data.place",
        "options": {}
      },
      "id": "be1b8b11-0cc5-4c58-ad0d-c1a76d726a42",
      "name": "Split Out Places Activities",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        384
      ]
    },
    {
      "parameters": {},
      "id": "e2c2667d-d558-498f-8c46-b8208e5a8be9",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1280,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get hotel data from Map IDs node with fallback\nlet hotelItems = [];\ntry {\n  hotelItems = $('Map IDs').all();\n} catch (error) {\n  // Map IDs not executed, this might be an update flow issue\n  // Return empty array to handle gracefully\n  hotelItems = [];\n}\n\nif (hotelItems.length === 0) {\n  throw new Error('No hotel data available. Please ensure the workflow executes correctly.');\n}\n\nconst hotelData = hotelItems.map(item => item.json);\n\n// Get activities data from Expand Multiple Activities node with fallback\nlet activityItems = [];\nlet activitiesData = [];\ntry {\n  activityItems = $('Expand Multiple Activities').all();\n  activitiesData = activityItems.map(item => item.json);\n} catch (error) {\n  // Expand Multiple Activities not executed, try to get from Apply Changes\n  try {\n    const applyChangesData = $('Apply Changes').first().json;\n    if (applyChangesData.activity_data && Array.isArray(applyChangesData.activity_data)) {\n      activitiesData = applyChangesData.activity_data.map(activity => ({\n        \"Apple ID\": activity['Apple Hotel ID'] || activity['Apple ID'] || '',\n        \"Lifestyle  Category\": activity['Lifestyle  Category'] || '',\n        \"Must Do Activity\": activity['Must Do Activity'] || '',\n        activity_day: activity.check_in, // Use check_in as activity day for updates\n        pax: { adult: 2, cwb: 0, cnb: 0 }, // Will be overridden below\n        City: activity.City,\n        check_in: activity.check_in,\n        check_out: activity.check_out\n      }));\n    }\n  } catch (e) {\n    // No activities available, set empty array\n    activitiesData = [];\n  }\n}\n\n// Country mapping (using the ID directly from the data)\nconst countryId = hotelData.length > 0 ? parseInt(hotelData[0].country_data.country) : 62;\n\n// Get arrival date and pax - try from Code node first, then from hotel data or Apply Changes\nlet arrivalDate = '';\nlet pax = { adult: 2, cwb: 0, cnb: 0 }; // Default values\n\ntry {\n  // Try to get from Code node (new booking flow)\n  const originalData = $('Code').first().json;\n  arrivalDate = originalData.genaral_data.arrival_date;\n  pax = originalData.genaral_data.pax;\n} catch (error) {\n  // Code node not executed - this is an update flow\n  // Get arrival date from first hotel's check_in date\n  if (hotelData.length > 0) {\n    arrivalDate = hotelData[0].check_in;\n    pax = hotelData[0].pax || pax;\n  }\n  \n  // Also try to get from Apply Changes node\n  try {\n    const applyChangesData = $('Apply Changes').first().json;\n    if (applyChangesData.pax_data) {\n      pax = applyChangesData.pax_data;\n    }\n    // Get arrival date from first hotel in hotel_data\n    if (applyChangesData.hotel_data && applyChangesData.hotel_data.length > 0) {\n      arrivalDate = applyChangesData.hotel_data[0].check_in;\n    }\n  } catch (e) {\n    // Use values from hotel data\n  }\n}\n\n// Helper function to convert date from YYYY-MM-DD to DD/MM/YYYY\nfunction formatDate(dateStr) {\n  const date = new Date(dateStr);\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return `${day}/${month}/${year}`;\n}\n\nconst arrivalDateFormatted = formatDate(arrivalDate);\n\n// Build destination_data - places with first and last city repeated\nconst places = [];\nconst placePretendType = [];\nconst transportAvailability = [];\n\n// Extract unique places in order from hotel data\nconst seenPlaces = [];\nfor (const hotel of hotelData) {\n  const cityId = parseInt(hotel.City);\n  if (!seenPlaces.includes(cityId)) {\n    seenPlaces.push(cityId);\n  }\n}\n\n// Add first city at the beginning (arrival city with pretend_type 2)\nif (seenPlaces.length > 0) {\n  places.push(seenPlaces[0]);\n  placePretendType.push(2); // Arrival city\n}\n\n// Add all cities (pretend_type 1)\nfor (const cityId of seenPlaces) {\n  places.push(cityId);\n  placePretendType.push(1); // Normal stay\n}\n\n// Add last city again (departure city with pretend_type 3)\nif (seenPlaces.length > 0) {\n  places.push(seenPlaces[seenPlaces.length - 1]);\n  placePretendType.push(3); // Departure city\n}\n\n// Transportation availability - one less than total places count\nfor (let i = 0; i < places.length - 1; i++) {\n  transportAvailability.push(1); // Transport available between cities\n}\n\n// Build accommodation_data\nconst accommodations = [];\nconst hotels = [];\n\nfor (const hotel of hotelData) {\n  // Ensure all required fields are present and properly typed\n  const hotelObj = {\n    hotel: parseInt(hotel[\"Apple Hotel ID\"]) || 0,\n    place: parseInt(hotel.City),\n    check_in: formatDate(hotel.check_in),\n    check_out: formatDate(hotel.check_out),\n    nights: parseInt(hotel.night),\n    provider: \"local\",\n    extrabed: 0,\n    driver_accommodation: 0\n  };\n  \n  // Add room_category and meal_type only if hotel ID is not 0\n  if (hotelObj.hotel !== 0) {\n    hotelObj.room_category = parseInt(hotel[\"Basic Room Categoty\"]) || 9;\n    hotelObj.meal_type = parseInt(hotel.meal_type) || 1;\n    hotelObj.room_type = [\n      {\n        id: 2,\n        count: 1\n      }\n    ];\n  } else {\n    // Hotel 0 means no hotel, add transportation flag\n    hotelObj.transportation = 1;\n  }\n  \n  hotels.push(hotelObj);\n  accommodations.push(hotelObj.hotel === 0 ? 2 : 1); // 2 for no accommodation, 1 for hotel\n}\n\n// Build tours_data from activities\nconst toursData = [];\n\nfor (const activity of activitiesData) {\n  // Calculate day number from arrival date\n  const activityDate = new Date(activity.activity_day);\n  const arrivalDateObj = new Date(arrivalDate);\n  const dayNumber = Math.floor((activityDate - arrivalDateObj) / (1000 * 60 * 60 * 24)) + 1;\n  \n  // Determine type based on Lifestyle Category\n  const category = activity[\"Lifestyle  Category\"];\n  let type = \"attraction\"; // default\n  \n  if (category && category.toLowerCase().includes('city tour')) {\n    type = \"city_tour\";\n  } else if (category && category.toLowerCase().includes('excursion')) {\n    type = \"excursion\";\n  } else if (category && category.toLowerCase().includes('attraction')) {\n    type = \"attraction\";\n  }\n  \n  const tourObj = {\n    id: parseInt(activity[\"Apple ID\"]),\n    day: dayNumber,\n    pax: {\n      adult: parseInt(activity.pax?.adult || pax.adult),\n      cwb: parseInt(activity.pax?.cwb || pax.cwb),\n      cnb: parseInt(activity.pax?.cnb || pax.cnb)\n    },\n    type: type\n  };\n  \n  toursData.push(tourObj);\n}\n\n// Build the final API body matching the exact structure\nconst apiBody = {\n  config: {\n    status: 1,\n    tour_session: Math.floor(Date.now() / 1000), // Unix timestamp in seconds\n    tour_type: 3,\n    // Random 6-digit number\n  },\n  country_data: {\n    country: countryId\n  },\n  genaral_data: {\n    arrival_date: arrivalDateFormatted,\n    pax: {\n      adult: parseInt(pax.adult),\n      cwb: parseInt(pax.cwb),\n      cnb: parseInt(pax.cnb)\n    },\n    market: 1\n  },\n  destination_data: {\n    place: places,\n    place_pretend_type: placePretendType,\n    transport_availability: transportAvailability\n  },\n  accommodation_data: {\n    accommodation: accommodations,\n    hotel: hotels\n  },\n  tours_data: toursData,\n  markup_data: {\n    markup_amount: \"10\",\n    markup_type: \"1\",\n    markup_amount_child: \"10\",\n    markup_type_child: \"1\",\n    save_type: \"save\"\n  }\n};\n\nreturn { json: apiBody };"
      },
      "id": "c4dadf17-fe99-4ccf-b1da-73d1474d12bd",
      "name": "Build API Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stagev2.appletechlabs.com/api/booking/save",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "4358c0da-3060-47a8-8632-f0dd0b0c1b31",
      "name": "Send to Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        160
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "YT5nTLIKvTYA4CI7",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the API response from Send to Backend API\nconst apiResponse = $input.first().json;\n\n// Extract quotation_no from the response body\nlet quotationNo = '';\nif (apiResponse && apiResponse.body && apiResponse.body.quotation_no) {\n  quotationNo = apiResponse.body.quotation_no;\n}\n\n// Get hotel data - try Add Booking Details first, then Map IDs (which has the data in both flows)\nlet hotelData = [];\ntry {\n  const hotelItems = $('Add Booking Details').all();\n  hotelData = hotelItems.map(item => ({\n    Country: item.json.country_data.country,\n    City: item.json.City,\n    'Hotel Class': item.json['Hotel Class'],\n    'Hotel Name': item.json['Hotel Name'],\n    'Apple Hotel ID': item.json['Apple Hotel ID'],\n    'Basic Room Categoty': item.json['Basic Room Categoty'],\n    check_in: item.json.check_in,\n    check_out: item.json.check_out,\n    meal_type: item.json.meal_type\n  }));\n} catch (error) {\n  // Add Booking Details not executed - try to get from Map IDs (update flow)\n  try {\n    const mapIdsItems = $('Map IDs').all();\n    hotelData = mapIdsItems.map(item => ({\n      Country: item.json.country_data.country,\n      City: item.json.City,\n      'Hotel Class': item.json['Hotel Class'],\n      'Hotel Name': item.json['Hotel Name'],\n      'Apple Hotel ID': item.json['Apple Hotel ID'],\n      'Basic Room Categoty': item.json['Basic Room Categoty'],\n      check_in: item.json.check_in,\n      check_out: item.json.check_out,\n      meal_type: item.json.meal_type\n    }));\n  } catch (e) {\n    // No hotel data available\n    hotelData = [];\n  }\n}\n\n// Get activity data - try Add Booking Details Activities first, then Expand Multiple Activities\nlet activityData = [];\ntry {\n  const activityItems = $('Add Booking Details Activities').all();\n  activityData = activityItems.map(item => ({\n    Country: item.json.country_data.country,\n    City: item.json.City,\n    'Apple Hotel ID': item.json['Apple Hotel ID'] || item.json['Apple ID'] || '',\n    'Lifestyle  Category': item.json['Lifestyle  Category'],\n    'Must Do Activity': item.json['Must Do Activity'],\n    check_in: item.json.check_in,\n    check_out: item.json.check_out\n  }));\n} catch (error) {\n  // Add Booking Details Activities not executed - try Expand Multiple Activities (update flow)\n  try {\n    const expandItems = $('Expand Multiple Activities').all();\n    activityData = expandItems.map(item => ({\n      Country: item.json.country_data.country,\n      City: item.json.City,\n      'Apple Hotel ID': item.json['Apple ID'] || '',\n      'Lifestyle  Category': item.json['Lifestyle  Category'],\n      'Must Do Activity': item.json['Must Do Activity'],\n      check_in: item.json.check_in,\n      check_out: item.json.check_out\n    }));\n  } catch (e) {\n    // No activity data available\n    activityData = [];\n  }\n}\n\n// Get pax data from Code node, Map IDs, or Build API Body\nlet paxData = { adult: 2, cwb: 0, cnb: 0 }; // Default\ntry {\n  const codeData = $('Code').first().json;\n  paxData = codeData.genaral_data.pax;\n} catch (error) {\n  // Try from Map IDs (has pax in both flows)\n  try {\n    const mapIdsData = $('Map IDs').first().json;\n    if (mapIdsData.pax) {\n      paxData = mapIdsData.pax;\n    }\n  } catch (e) {\n    // Try from Build API Body\n    try {\n      const apiBodyData = $('Build API Body').first().json;\n      if (apiBodyData.genaral_data && apiBodyData.genaral_data.pax) {\n        paxData = apiBodyData.genaral_data.pax;\n      }\n    } catch (err) {\n      // Use default pax\n    }\n  }\n}\n\n// Convert hotel data to JSON string for hotel_body column\nconst hotelBody = JSON.stringify(hotelData);\n\n// Convert activity data to JSON string for activity_body column\nconst activityBody = JSON.stringify(activityData);\n\n// Convert pax data to JSON string\nconst paxBody = JSON.stringify(paxData);\n\nreturn {\n  json: {\n    quotation_no: quotationNo,\n    hotel_body: hotelBody,\n    activity_body: activityBody,\n    pax_data: paxBody,\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "id": "41191f2e-eb14-4f5b-9e8e-bf1073b17649",
      "name": "Prepare Google Sheets Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GIIdAEtC5orkzAAfBdZHsyWQZFQdqK8-9oy1qXSxsyo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quotation_no": "={{ $json.quotation_no }}",
            "hotel_body": "={{ $json.hotel_body }}",
            "activity_body": "={{ $json.activity_body }}",
            "pax_data": "={{ $json.pax_data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "quotation_no",
              "displayName": "quotation_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hotel_body",
              "displayName": "hotel_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "activity_body",
              "displayName": "activity_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax_data",
              "displayName": "pax_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "df20b1d4-0226-4814-98c5-4993ad26e56e",
      "name": "Store in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "change|update|modify",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "488ea5d5-2623-4da5-9662-1738a204b75e",
      "name": "Is Update Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -752,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the AI agent's output\nconst aiOutput = $input.first().json.output || $input.first().json.chatInput || '';\n\n// Extract quotation_no from the message\nlet quotationNo = '';\n\n// Pattern 1: \"quotation_no 291179\" or \"quotation no 291179\" or \"quotation_no: 291179\"\nconst quotePattern1 = /quotation[_\\s-]*no[:\\s]+(\\d+)/i;\nconst match1 = aiOutput.match(quotePattern1);\nif (match1) {\n  quotationNo = match1[1].trim();\n}\n\n// Pattern 2: If not found, try \"booking 12345\" or \"quote 12345\"\nif (!quotationNo) {\n  const quotePattern2 = /(?:booking|quote)[:\\s]+(\\d+)/i;\n  const match2 = aiOutput.match(quotePattern2);\n  if (match2) {\n    quotationNo = match2[1].trim();\n  }\n}\n\n// Pattern 3: Look for numbers after \"under\" or standalone numbers\nif (!quotationNo) {\n  const quotePattern3 = /under[:\\s]+([A-Z0-9-]+)/i;\n  const match3 = aiOutput.match(quotePattern3);\n  if (match3) {\n    quotationNo = match3[1].trim();\n  }\n}\n\n// Initialize changes object\nconst changes = {};\n\n// Extract PASSENGERS (Pax)\n// Pattern: \"Passengers: 3 adults, 1 children\" or \"3 adults 1 child\"\nconst paxPattern1 = /Passengers:\\s*(\\d+)\\s*adults?,\\s*(\\d+)\\s*child/i;\nconst paxMatch1 = aiOutput.match(paxPattern1);\n\nif (paxMatch1) {\n  changes.passengers = {\n    adults: parseInt(paxMatch1[1]),\n    children: parseInt(paxMatch1[2])\n  };\n} else {\n  // Alternative pattern: \"3 adults 1 child\" or \"5 adults\"\n  const adultPattern = /(\\d+)\\s*adult/i;\n  const childPattern = /(\\d+)\\s*child/i;\n  const adultMatch = aiOutput.match(adultPattern);\n  const childMatch = aiOutput.match(childPattern);\n  \n  if (adultMatch || childMatch) {\n    changes.passengers = {\n      adults: adultMatch ? parseInt(adultMatch[1]) : 2,\n      children: childMatch ? parseInt(childMatch[1]) : 0\n    };\n  }\n}\n\n// Extract DURATION (Nights)\n// Pattern: \"Duration: 5 nights\" or \"5 nights\" or \"7 days\"\nconst durationPattern1 = /Duration:\\s*(\\d+)\\s*night/i;\nconst durationMatch1 = aiOutput.match(durationPattern1);\n\nif (durationMatch1) {\n  changes.duration = parseInt(durationMatch1[1]);\n} else {\n  // Alternative patterns\n  const nightPattern = /(\\d+)\\s*night/i;\n  const dayPattern = /(\\d+)\\s*day/i;\n  \n  const nightMatch = aiOutput.match(nightPattern);\n  const dayMatch = aiOutput.match(dayPattern);\n  \n  if (nightMatch) {\n    changes.duration = parseInt(nightMatch[1]);\n  } else if (dayMatch) {\n    // Convert days to nights (days - 1)\n    changes.duration = parseInt(dayMatch[1]) - 1;\n  }\n}\n\n// Extract START DATE\n// Pattern: \"Start Date: 2025-12-24\" or date in various formats\nconst startDatePattern1 = /Start Date:\\s*(\\d{4})[-\\/](\\d{1,2})[-\\/](\\d{1,2})/i;\nconst startDateMatch1 = aiOutput.match(startDatePattern1);\n\nif (startDateMatch1) {\n  changes.start_date = `${startDateMatch1[1]}-${startDateMatch1[2].padStart(2, '0')}-${startDateMatch1[3].padStart(2, '0')}`;\n} else {\n  // Try to find date in format YYYY-MM-DD anywhere\n  const datePattern = /(\\d{4})[-\\/](\\d{1,2})[-\\/](\\d{1,2})/;\n  const dateMatch = aiOutput.match(datePattern);\n  if (dateMatch && aiOutput.toLowerCase().includes('date')) {\n    changes.start_date = `${dateMatch[1]}-${dateMatch[2].padStart(2, '0')}-${dateMatch[3].padStart(2, '0')}`;\n  }\n}\n\n// Extract HOTEL changes\nif (aiOutput.toLowerCase().includes('hotel') && (aiOutput.toLowerCase().includes('change') || aiOutput.toLowerCase().includes('upgrade'))) {\n  const hotelPattern = /hotel[:\\s]+([A-Za-z\\s]+?)(?:in|for|to|with|,|$)/i;\n  const hotelMatch = aiOutput.match(hotelPattern);\n  if (hotelMatch) {\n    changes.hotel = hotelMatch[1].trim();\n  }\n  \n  // Check for star rating\n  const starPattern = /(\\d)-star/i;\n  const starMatch = aiOutput.match(starPattern);\n  if (starMatch) {\n    changes.hotel_star = parseInt(starMatch[1]);\n  }\n}\n\n// Extract MEAL PLAN changes\nconst mealPatterns = [\n  { pattern: /half board/i, value: 'HB' },\n  { pattern: /full board/i, value: 'FB' },\n  { pattern: /all inclusive/i, value: 'AL' },\n  { pattern: /room only/i, value: 'RO' },\n  { pattern: /bed & breakfast|bed and breakfast/i, value: 'BB' }\n];\n\nfor (const mealPattern of mealPatterns) {\n  if (mealPattern.pattern.test(aiOutput)) {\n    changes.meal_plan = mealPattern.value;\n    break;\n  }\n}\n\n// Extract CITY changes\nif (aiOutput.toLowerCase().includes('city') || aiOutput.toLowerCase().includes('add') || aiOutput.toLowerCase().includes('remove')) {\n  const cityPattern = /(?:city|add|remove)[:\\s]+([A-Za-z\\s]+?)(?:to|,|$)/i;\n  const cityMatch = aiOutput.match(cityPattern);\n  if (cityMatch) {\n    changes.city = cityMatch[1].trim();\n  }\n}\n\n// Determine change_type based on what was found\nlet changeType = '';\nlet newValue = '';\n\nif (Object.keys(changes).length > 1) {\n  changeType = 'multiple';\n  newValue = JSON.stringify(changes);\n} else if (changes.passengers) {\n  changeType = 'passengers';\n  newValue = JSON.stringify(changes.passengers);\n} else if (changes.duration) {\n  changeType = 'duration';\n  newValue = changes.duration.toString();\n} else if (changes.start_date) {\n  changeType = 'start_date';\n  newValue = changes.start_date;\n} else if (changes.hotel || changes.hotel_star) {\n  changeType = 'hotel';\n  newValue = JSON.stringify({ hotel: changes.hotel, star: changes.hotel_star });\n} else if (changes.meal_plan) {\n  changeType = 'meal_plan';\n  newValue = changes.meal_plan;\n} else if (changes.city) {\n  changeType = 'city';\n  newValue = changes.city;\n}\n\nreturn {\n  json: {\n    quotation_no: quotationNo,\n    change_type: changeType,\n    new_value: newValue,\n    changes: changes,\n    original_message: aiOutput,\n    has_valid_quotation: quotationNo.length > 0,\n    has_valid_changes: Object.keys(changes).length > 0\n  }\n};"
      },
      "id": "09670a50-b411-4639-bb1e-a375d45972b3",
      "name": "Parse Update Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_valid_quotation }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "leftValue": "={{ $json.has_valid_changes }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate123-4567-89ab-cdef-012345678901",
      "name": "Validate Update Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        -32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GIIdAEtC5orkzAAfBdZHsyWQZFQdqK8-9oy1qXSxsyo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "quotation_no",
              "lookupValue": "={{ $json.quotation_no }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "7335b772-0482-46d2-92b3-10c0e56a97ae",
      "name": "Get Booking from Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4bqLa45KMMhTDuqo",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the booking data from Google Sheets\nconst bookingData = $input.first().json;\nconst updateRequest = $('Parse Update Request').first().json;\n\n// Parse hotel_body, activity_body, and pax_data from JSON strings\nlet hotelBody = [];\nlet activityBody = [];\nlet paxData = { adult: 2, cwb: 0, cnb: 0 }; // Default\n\ntry {\n  hotelBody = JSON.parse(bookingData.hotel_body || '[]');\n  activityBody = JSON.parse(bookingData.activity_body || '[]');\n  if (bookingData.pax_data) {\n    paxData = JSON.parse(bookingData.pax_data);\n  }\n} catch (error) {\n  return { json: { error: 'Failed to parse booking data' } };\n}\n\n// Get changes from the update request\nconst changes = updateRequest.changes || {};\nconst changeType = updateRequest.change_type;\n\n// Apply PASSENGER changes\nif (changes.passengers) {\n  paxData = {\n    adult: changes.passengers.adults || paxData.adult,\n    cwb: changes.passengers.children || paxData.cwb,\n    cnb: 0\n  };\n}\n\n// Apply START DATE changes\nif (changes.start_date) {\n  const oldDate = new Date(hotelBody[0]?.check_in || '');\n  const newDate = new Date(changes.start_date);\n  const dayDiff = Math.floor((newDate - oldDate) / (1000 * 60 * 60 * 24));\n  \n  // Update all check-in and check-out dates in hotel_body\n  hotelBody = hotelBody.map(hotel => {\n    const oldCheckIn = new Date(hotel.check_in);\n    const oldCheckOut = new Date(hotel.check_out);\n    \n    const newCheckIn = new Date(oldCheckIn);\n    newCheckIn.setDate(newCheckIn.getDate() + dayDiff);\n    \n    const newCheckOut = new Date(oldCheckOut);\n    newCheckOut.setDate(newCheckOut.getDate() + dayDiff);\n    \n    return {\n      ...hotel,\n      check_in: newCheckIn.toISOString().split('T')[0],\n      check_out: newCheckOut.toISOString().split('T')[0],\n      pax: paxData\n    };\n  });\n  \n  // Update all dates in activity_body\n  activityBody = activityBody.map(activity => {\n    const oldCheckIn = new Date(activity.check_in);\n    const oldCheckOut = new Date(activity.check_out);\n    \n    const newCheckIn = new Date(oldCheckIn);\n    newCheckIn.setDate(newCheckIn.getDate() + dayDiff);\n    \n    const newCheckOut = new Date(oldCheckOut);\n    newCheckOut.setDate(newCheckOut.getDate() + dayDiff);\n    \n    return {\n      ...activity,\n      check_in: newCheckIn.toISOString().split('T')[0],\n      check_out: newCheckOut.toISOString().split('T')[0]\n    };\n  });\n}\n\n// Apply DURATION changes\nif (changes.duration) {\n  const newTotalNights = changes.duration;\n  const cityCount = hotelBody.length;\n  const nightsPerCity = Math.floor(newTotalNights / cityCount);\n  const remainderNights = newTotalNights % cityCount;\n  \n  // Get the first hotel's check-in date as starting point\n  let currentCheckIn = new Date(hotelBody[0]?.check_in || '');\n  \n  // Recalculate all hotel dates based on new duration\n  hotelBody = hotelBody.map((hotel, index) => {\n    const nightsForThisCity = nightsPerCity + (index < remainderNights ? 1 : 0);\n    \n    const checkOutDate = new Date(currentCheckIn);\n    checkOutDate.setDate(checkOutDate.getDate() + nightsForThisCity);\n    \n    const result = {\n      ...hotel,\n      check_in: currentCheckIn.toISOString().split('T')[0],\n      check_out: checkOutDate.toISOString().split('T')[0],\n      pax: paxData\n    };\n    \n    // Next city's check-in is this city's check-out\n    currentCheckIn = checkOutDate;\n    \n    return result;\n  });\n  \n  // Update activity dates to match hotel dates\n  // Map activities to their cities\n  const cityToHotelMap = {};\n  hotelBody.forEach(hotel => {\n    cityToHotelMap[hotel.City] = {\n      check_in: hotel.check_in,\n      check_out: hotel.check_out\n    };\n  });\n  \n  activityBody = activityBody.map(activity => {\n    const cityDates = cityToHotelMap[activity.City];\n    if (cityDates) {\n      return {\n        ...activity,\n        check_in: cityDates.check_in,\n        check_out: cityDates.check_out\n      };\n    }\n    return activity;\n  });\n}\n\n// Apply MEAL PLAN changes\nif (changes.meal_plan) {\n  hotelBody = hotelBody.map(hotel => ({\n    ...hotel,\n    meal_type: changes.meal_plan\n  }));\n}\n\n// Apply HOTEL STAR changes\nif (changes.hotel_star) {\n  hotelBody = hotelBody.map(hotel => ({\n    ...hotel,\n    'Hotel Class': changes.hotel_star\n  }));\n}\n\n// Create output structure that mimics the original workflow\nconst output = {\n  hotel_data: hotelBody,\n  activity_data: activityBody,\n  pax_data: paxData,\n  quotation_no: bookingData.quotation_no,\n  change_applied: {\n    type: changeType,\n    changes: changes\n  }\n};\n\nreturn { json: output };"
      },
      "id": "18df892e-d7b2-4c84-9ff2-064a4fb5d6ec",
      "name": "Apply Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the updated data\nconst updatedData = $input.first().json;\nconst hotelData = updatedData.hotel_data || [];\nconst activityData = updatedData.activity_data || [];\n\n// Create items for each hotel (similar to Add Booking Details output)\nconst results = hotelData.map(hotel => ({\n  json: {\n    country_data: {\n      country: hotel.Country\n    },\n    City: hotel.City,\n    'Hotel Class': hotel['Hotel Class'],\n    'Hotel Name': hotel['Hotel Name'],\n    'Apple Hotel ID': hotel['Apple Hotel ID'],\n    'Basic Room Categoty': hotel['Basic Room Categoty'],\n    check_in: hotel.check_in,\n    check_out: hotel.check_out,\n    meal_type: hotel.meal_type\n  }\n}));\n\nreturn results;"
      },
      "id": "39607e8e-4189-42db-b6e4-0e4417052d48",
      "name": "Reformat Hotel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the updated data\nconst updatedData = $('Apply Changes').first().json;\nconst activityData = updatedData.activity_data || [];\nconst paxData = updatedData.pax_data || { adult: 2, cwb: 0, cnb: 0 };\n\n// Create items for each activity (similar to Add Booking Details Activities output)\nconst results = activityData.map(activity => ({\n  json: {\n    country_data: {\n      country: activity.Country\n    },\n    City: activity.City,\n    'Apple Hotel ID': activity['Apple Hotel ID'] || '',\n    'Lifestyle  Category': activity['Lifestyle  Category'] || '',\n    'Must Do Activity': activity['Must Do Activity'] || '',\n    check_in: activity.check_in,\n    check_out: activity.check_out\n  }\n}));\n\nreturn results;"
      },
      "id": "88f18d5a-33d5-4422-a959-d0e0b2f2b0bb",
      "name": "Reformat Activity Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        176
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        480
      ],
      "id": "d155d409-e088-487d-a0ec-4fd12b07005d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a travel quotation update assistant. Analyze the user's update request and extract the specific changes they want to make.\n\nUser input: {{ $json.chatInput }}\n\nExtract and identify:\n1. **Quotation Number**: Look for patterns like:\n   - \"quotation_no 291179\"\n   - \"quotation no 291179\"\n   - \"booking 291179\"\n   - \"quote 291179\"\n   - \"under quotation_no 291179\"\n   - Numbers appearing after \"quotation\" or \"booking\"\n\n2. **What to Change**: Identify ALL changes the user wants to make:\n   - **Passengers (Pax)**: \"3 adults 1 child\", \"5 adults\", \"2 adults 3 children\"\n     * Count both adults and children explicitly\n   - **Duration**: \"5 nights\", \"7 days\", \"extend to 10 nights\"\n     * If user says \"X days\" convert to nights (X-1)\n     * If user says \"X nights\" use that number\n   - **Dates**: \"start date 2025-12-24\", \"arrival date December 24, 2025\", \"check-in date\"\n   - **Hotels**: \"change hotel to [hotel name]\", \"upgrade to 5-star\"\n   - **Cities**: \"add Ella\", \"remove Kandy\", \"visit Galle\"\n   - **Meal Plan**: \"half board\", \"full board\", \"all inclusive\", \"bed & breakfast\"\n\n3. **Extract New Values**: Be specific and numerical\n\nIMPORTANT RULES:\n- If user mentions BOTH passengers AND duration in one sentence, extract BOTH\n- Always output the quotation number clearly\n- Be specific with numbers (adults count, children count, nights count)\n\nFormat your output EXACTLY as:\n\"UPDATE REQUEST for quotation_no [NUMBER]:\nPassengers: [X] adults, [Y] children\nDuration: [Z] nights\n[Other changes if any]\"\n\nExamples:\n- Input: \"Change the 3 adults 1 child in 5 nights under quotation_no 291179\"\n  Output: \"UPDATE REQUEST for quotation_no 291179:\nPassengers: 3 adults, 1 children\nDuration: 5 nights\"\n\n- Input: \"Update booking 12345 to 2 adults 2 children for 7 nights\"\n  Output: \"UPDATE REQUEST for quotation_no 12345:\nPassengers: 2 adults, 2 children\nDuration: 7 nights\"\n\n- Input: \"I want to change start date to 2025-12-24 for booking 12345\"\n  Output: \"UPDATE REQUEST for quotation_no 12345:\nStart Date: 2025-12-24\"\n\n- Input: \"Change quotation 98765 to 5 adults only\"\n  Output: \"UPDATE REQUEST for quotation_no 98765:\nPassengers: 5 adults, 0 children\"\n\nIf no quotation number is found, respond: \"ERROR: No quotation number provided. Please specify the booking/quotation number you want to update.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional travel quotation update assistant. Extract quotation numbers and change details accurately. Always be specific with numbers for adults, children, and nights. If multiple changes are mentioned, extract ALL of them."
        }
      },
      "id": "ac18f31f-755e-4e80-a07f-01fcb8e3b717",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -720,
        -128
      ]
    },
    {
      "parameters": {
        "model": "gpt-5-chat-latest",
        "options": {}
      },
      "id": "8009f2a4-f7de-4ff1-9e2d-4e9fd88142c4",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -736,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "CYHGS3KAjICCaQqY",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Is Update Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update Request?": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update Request": {
      "main": [
        [
          {
            "node": "Validate Update Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Update Request": {
      "main": [
        [
          {
            "node": "Get Booking from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking from Sheets": {
      "main": [
        [
          {
            "node": "Apply Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Changes": {
      "main": [
        [
          {
            "node": "Reformat Hotel Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reformat Activity Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reformat Hotel Data": {
      "main": [
        [
          {
            "node": "Get City ID from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reformat Activity Data": {
      "main": [
        [
          {
            "node": "Get City ID from API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out Places Activities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places": {
      "main": [
        [
          {
            "node": "Prepare for Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Lookup": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Booking Details": {
      "main": [
        [
          {
            "node": "Get City ID from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City ID from API": {
      "main": [
        [
          {
            "node": "Map IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map IDs": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Activities Sheet": {
      "main": [
        [
          {
            "node": "Add Booking Details Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Booking Details Activities": {
      "main": [
        [
          {
            "node": "Get City ID from API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City ID from API1": {
      "main": [
        [
          {
            "node": "Map IDs Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map IDs Activities": {
      "main": [
        [
          {
            "node": "Expand Multiple Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Multiple Activities": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare for Lookup Activities": {
      "main": [
        [
          {
            "node": "Get Activities Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Places Activities": {
      "main": [
        [
          {
            "node": "Prepare for Lookup Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Build API Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Body": {
      "main": [
        [
          {
            "node": "Send to Backend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Backend API": {
      "main": [
        [
          {
            "node": "Prepare Google Sheets Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Google Sheets Data": {
      "main": [
        [
          {
            "node": "Store in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse Update Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ee0f3b1-cc9b-4fa4-ba15-5e23ed0edef0",
  "meta": {
    "instanceId": "9ba699815eee7a9b7506f6b264ee48edcb7b96a79c851198c7b7acafd2a5489c"
  },
  "id": "DJMLwJIF7opRgtPF",
  "tags": []
}