travel-quotation-workflow.json
{
  "name": "Travel Quotation System",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e8c5c6e1-9b4a-4d2e-8f3a-1a2b3c4d5e6f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "travel-quotation-chat"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a travel quotation assistant. Analyze the user's travel request and create a professional summary.\n\nUser input: {{ $json.chatInput }}\n\nExtract and analyze:\n1. Destination country\n2. Arrival date (if not mentioned, use {{ $now.plus(15, 'days').toFormat('yyyy-MM-dd') }})\n3. Duration: If not mentioned, default to 7 days, 6 nights\n4. Calculate departure date: arrival_date + duration\n5. Number of adults and children\n6. Cities/places to visit\n7. Meal plan: BB (bed & breakfast) if not mentioned\n8. Accommodation: Assume mid-range budget with 4-star hotel\n\nFormat your output EXACTLY as:\n\"Customer requesting a [Country] multi-city tour for [X] days, [Y] nights from [Month Day] to [Month Day], [Year], for [X] adults and [Y] children. Mid-range budget with 4-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including [list cities].\"\n\nExample: \"Customer requesting a Sri Lanka multi-city tour for 7 days, 6 nights from December 12 to December 18, 2025, for 3 adults and 2 children. Mid-range budget with 4-star hotel accommodation and bed & breakfast meal plan. Interested in visiting key cities and attractions including Colombo, Kandy, Galle, and Yala.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional travel quotation assistant. Create concise, formatted summaries of customer travel requests. Always use the exact format specified and calculate dates accurately."
        }
      },
      "id": "f9d6d7f2-0c5b-4e3f-9g4b-2b3c4d5e6f7g",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "modelId": "gpt-4o-mini",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "operation": "extractData",
        "schema": {
          "type": "object",
          "properties": {
            "country_data": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "Destination country"
                }
              }
            },
            "genaral_data": {
              "type": "object",
              "properties": {
                "arrival_date": {
                  "type": "string",
                  "description": "Arrival date in YYYY-MM-DD format. If not mentioned, use today + 15 days"
                },
                "pax": {
                  "type": "object",
                  "properties": {
                    "adult": {
                      "type": "number",
                      "description": "Number of adults"
                    },
                    "cwb": {
                      "type": "number",
                      "description": "Children with bed (use child count)"
                    },
                    "cnb": {
                      "type": "number",
                      "description": "Children no bed (default 0)"
                    }
                  }
                },
                "market": {
                  "type": "number",
                  "description": "Market ID (default 1)"
                }
              }
            },
            "destination_data": {
              "type": "object",
              "properties": {
                "place": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of places/cities to visit"
                },
                "meal_type": {
                  "type": "string",
                  "description": "Meal plan code: BB (Breakfast Only - default), HB (Breakfast and Dinner), FB (Breakfast, lunch and Dinner), RO (Room Only), or AL (All Inclusive)"
                }
              }
            }
          }
        },
        "options": {
          "systemMessage": "=Extract travel quotation data from the conversation. Use these defaults:\n- arrival_date: {{ $now.plus(15, 'days').toFormat('yyyy-MM-dd') }} if not mentioned\n- meal_type: \"BB\" if not mentioned\n- market: 1\n- cnb: 0 if not mentioned\n- cwb: use the child count mentioned by user"
        }
      },
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Extract Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "modelId": "gpt-4o-mini",
        "options": {}
      },
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-15T00:00:00.000Z",
  "versionId": "1"
}
